<template>
    <a :href="href" :title="`View ${title}`" :id="id + '-block'">
        <article class="property content-block">
            <div class="bg" :style="propertyBackgroundStyle(property)"></div>
            <div class="title">
                {{ property.fields.address_suburb }}, {{ property.fields.address_state }} {{ property.fields.address_postcode }}
            </div>
            <div class="status" v-if="status">
                    <span :class="status.class">{{status.label}}</span>
            </div>
            <section class="overlay">
                <div class="details">
                    <div class="suburb">
                        {{ property.fields.address_suburb }}, {{ property.fields.address_state }} {{ property.fields.address_postcode }}
                    </div>
                    <div v-if="display_address" class="street">
                        <span v-if="property.fields.address_sub_number">{{ property.fields.address_sub_number }}/</span>{{ property.fields.address_street_number }} {{ property.fields.address_street }}
                    </div>
                    <ul class="feature-list">
                        <li v-if="property.fields.bedrooms">
                            <span>{{property.fields.bedrooms}}</span>
                            <i class="dpg-icon dpg-icon-bed"></i>
                        </li>
                        <li v-if="property.fields.bathrooms">
                            <span>{{property.fields.bathrooms}}</span>
                            <i class="dpg-icon dpg-icon-bath"></i>
                        </li>
                        <li v-if="property.fields.car_spaces">
                            <span>{{property.fields.car_spaces}}</span>
                            <i class="dpg-icon dpg-icon-car"></i>
                        </li>
                    </ul>
                    <div class="price">
                        <template v-if="property.fields.property_status != 'sold'">
                            <small v-if="property.fields.price_view && property.fields.price_display === 'yes' && property.fields.price_view.length">
                                {{ property.fields.price_view }}
                            </small>
                            <small v-if="property.fields.price_view && property.fields.price_display === 'no' && property.fields.price_view.length">
                                {{ property.fields.price_view }}
                            </small>
                            <small v-if="property.fields.price_view && property.fields.price_display === 'yes' &&  ! property.fields.price_view.length && property.fields.rent_amount === 0">
                                ${{ money(property.fields.price)}}
                            </small>
                            <small v-if="property.fields.price_view && property.fields.price_view.length == 0 && property.fields.rent_amount > 0">
                                ${{ money(property.fields.rent_amount) }}
                                {{ property.fields.rent_period == 'annual' ? 'Per Annum' : 'Per Week' }}
                            </small>
                        </template>

                        <template v-if="property.fields.property_status === 'sold' && property.fields.display_sold_price === 'yes'">
                            ${{ money(property.fields.sold_price) }}
                        </template>
                    </div>
                    <hr v-if="nextInspection || auction">
                    <div class="inspection-auction-wrapper" v-if="nextInspection || auction">

                        <template v-if="nextInspection">
                            <i class="dpg-icon dpg-icon-clock"></i>
                            <span>{{ moment(nextInspection.Start).utc().format('ddd DD MMM: h:mma') }} - {{ moment(nextInspection.End).utc().format('h:mma')}}</span>
                        </template>
                        <div class="auction" v-if="auction">
                            <i class="dpg-icon dpg-icon-ribbon"></i>
                            <span>{{ moment(property.fields.auction_date).format('ddd DD MMM: h:mma')}}</span>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </a>
</template>

<script>
//import $ from 'jquery';
import ResponsiveMixins from '../../mixins/ResponsiveMixins.js';
import moment from 'moment';
import accounting from 'accounting';
String.prototype.trunc =
    function( n, useWordBoundary ){
        if (this.length <= n) { return this; }
        var subString = this.substr(0, n-1);
        return (useWordBoundary
            ? subString.substr(0, subString.lastIndexOf(' '))
            : subString) + "...";
    };
export default {
    name: 'property-block',
    mixins: [
        ResponsiveMixins,
    ],
    props: {
        propProperty: {
            type: String,
            default: '{}',
        },
    },
    data() {
        return {
            property     : JSON.parse(this.propProperty),
            resizeTimer  : null,
            windowWidth  : window.innerWidth,
            windowHeight : window.innerHeight,
            elementWidth : 'auto',
            elementHeight: 'auto',
        };
    },
    computed: {
        id() {
            return `property-${this.property.ID}`;
        },

        /**
         * Determines the appropriate propery status label and css class to use for this listing.
         * @return {Object}
         */
        status() {
            let status = null;

            switch(this.property.status) {
                case 'sold' :
                    status = { label: 'Sold', class: 'sold' };
                    break;
                case 'leased' :
                    status = { label: 'Leased', class: 'leased' };
                    break;
	            case 'under-offer' :
		            status = { label: 'Under Offer', class: 'under-offer' };
		            break;
	            case 'new' :
		            status = { label: 'New', class: 'new' };
		            break;
            }
            return status;
        },

        /**
         * This property's status is current.
         * @return {Boolean}
         */
        isCurrent() {
            return this.property.fields.property_status === 'current';
        },
        /**
         * This property's full address string.
         * @return {String}
         */
        title() {
            let fields = this.property.fields;
            if(this.display_address){
                return fields.address_full.slice(0, fields.address_full.lastIndexOf(', Au'));
            } else {
                return `${fields.address_suburb}, ${fields.address_state} ${fields.address_postcode}`;
            }
        },

        display_address(){
            if (this.property.fields.address_display) {
                return this.property.fields.address_display === 'yes';
            }

            return true;
        },
        /**
         * This property's single page URL.
         * @return {String}
         */
        href() {
            return `/property/${this.property.post_name}`
        },
        /**
         * An excerpt of this property's description.
         * @return {String}
         */
        excerpt() {
            return this.property.post_content.trunc(290,true);
        },
        /**
         * This property's future auction date.
         * @return {Object}
         */
        auction() {
            let auction = null;
            if( this.property.fields.auction_date && this.isCurrent ) {
                let date  = new Date(this.property.fields.auction_date),
                    now   = new Date().setHours(0,0,0,0);
                if ( date >= now ) {
                    auction = {
                        day  : date.toString().slice(0,3),
                        date : ('0' + date.getDate()).slice(-2),
                        month: date.toLocaleString('en-au',{month:"long"}),
                        year : date.getFullYear(),
                    }
                }
            }
            return auction;
        },
        /**
         * This property's future inspections.
         * @return {Array}
         */
        inspections() {
            let inspections = [];

            if ( this.property.fields.inspection_times && this.isCurrent ) {
                inspections = this.property.fields.inspection_times.map(inspection => {
                    inspection.label = inspection.label.replace(/-/g," ");
                    inspection.Start = new Date(inspection.timestamp_start * 1000);
                    inspection.End   = new Date(inspection.timestamp_end * 1000);
                    inspection.day   = inspection.Start.toString().slice(0,3);
                    return inspection;
                })
                .filter(inspection => {
                    let start = new Date(inspection.Start).setHours(0,0,0,0),
                        now   = new Date().setHours(0,0,0,0);
                    return start >= now;
                })
                .sort((a, b) => {
	                return a.Start - b.Start;
                });
            }
            return inspections;
        },
        nextInspection(){
            if(this.inspections.length){
                return this.inspections[0];
            }
            return null;
        },
    },

    methods: {
        moment: function (date) {
            return moment(date, '');
        },

        money: function (value) {
            return accounting.formatMoney(value, '', 0);
        }
    },

    watch: {
    },

    mounted() {

        this.updateViewport();
        window.addEventListener('resize', this.updateViewport);
    }

};
</script>
<style scoped lang="scss">

</style>
