<template>
	<article class="property-events-summary" :id="id + '-summary'">
		<div class="content">
			<span class="event-time event-column">
				{{getTime(this.propEventTime)}}
			</span>
			<a :href="href" class="property-suburb event-column">
				{{ property.fields.address_street_number }} {{ property.fields.address_street }} {{ property.fields.address_suburb }} {{property.fields.address_state}}
			</a>
			<ul class="feature-list event-column">
				<li v-if="property.fields.bedrooms">
					<span>{{property.fields.bedrooms}}</span>
					<i class="dpg-icon dpg-icon-bed"></i>
				</li>
				<li v-if="property.fields.bathrooms">
					<span>{{property.fields.bathrooms}}</span>
					<i class="dpg-icon dpg-icon-bath"></i>
				</li>
				<li v-if="property.fields.car_spaces">
					<span>{{property.fields.car_spaces}}</span>
					<i class="dpg-icon dpg-icon-car"></i>
				</li>
			</ul>
			<span class="property-price event-column">
				<small class="price">{{ property.fields.price_view }}</small>
			</span>
			<a :href="href" class="details-link event-column">
				View Property
			</a>
		</div>
	</article>
</template>

<script>

	import Vue from 'vue';
	import moment from "moment";

	export default {
		name: 'property-event-summary',
		mixins: [],
		props: {
			propProperty: {
				type: String,
				default: '{}',
			},
			propEventTime: {
				type: String,
				default: '',
			},
			propTimezoneOffset:{
				type: Number,
				default: 0,
			}
		},
		data() {
			return {
				property: JSON.parse(this.propProperty),
			};
		},
		computed: {
			id() {
				return `property-${this.property.ID}`;
			},
			/**
			 * This property's single page URL.
			 * @return {String}
			 */
			href() {
				return `/property/${this.property.post_name}`
			},
		},
		methods: {
			getTime(timestamp) {
				return moment.unix(timestamp).utcOffset(this.propTimezoneOffset*60).format('hh:mm A')
			},
		},

		watch: {},
	};
</script>
<style lang="scss">

</style>
