<template>
    <div class="property-grid-component">
        <ul class="property-listings" v-if="grid">
            <li v-for="property, key in properties" :key="property.ID">
                <property-block :prop-property="JSON.stringify(property)"></property-block>
            </li>
        </ul>
        <ul class="property-summaries dpg-container" v-if="! grid">
            <li v-for="property, key in properties" :key="property.ID">
                <property-summary :prop-property="JSON.stringify(property)"></property-summary>
            </li>
        </ul>
    </div>
</template>
<script>
import PropertyBlock from './PropertyBlock.vue';
import PropertySummary from './PropertySummary.vue';
export default {
    name: 'property-grid',
    components: {
        PropertyBlock,
        PropertySummary,
    },
    mixins: [
    ],
    props: {
        propProperties: {
            type: String,
            default: '{}'
        },
        propGrid: {
            type: String,
            default: 'true',
        }
    },
    data() {
        return {
            properties: JSON.parse(this.propProperties),
            grid      : JSON.parse(this.propGrid),
        };
    },
    computed: {
    },
    watch: {
        propProperties() {
            this.properties = JSON.parse(this.propProperties);
        },
        propGrid() {
            this.grid = JSON.parse(this.propGrid);
        },
    },
    methods: {
    },
    mounted() {
        this.elementWidth  = this.$el.offsetWidth;
        this.elementHeight = this.$el.offsetHeight;
    },
}
</script>

<style scoped lang="scss">
.property-listings {
}
.property-summaries {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
</style>
