<template>
	<property-block :prop-property="propProperty" inline-template>
		<article class="property-summary" :id="id + '-summary'">
			<div class="images">
				<ul class="property-images" :id="id + '-images'">
					<!-- <li :style="{ backgroundImage: `url('${property.fields.images[0].url}')` } " ></li> -->
					<li class="image" v-for="image in property.fields.images"
					    :style="{ backgroundImage: `url('${image.url}')` } "></li>
				</ul>
				<div class="status">
					<span v-if="status" :class="status.class">{{status.label}}</span>
				</div>
			</div>
			
			<div class="content">
				<header>
					<a :href="href" :title="'View ' + address_full">
						<h2>{{ address_full }}</h2>
					</a>
					<ul class="feature-list">
						<li v-if="property.fields.bedrooms">
							<span>{{property.fields.bedrooms}}</span>
							<i class="dpg-icon dpg-icon-bed"></i>
						</li>
						<li v-if="property.fields.bathrooms">
							<span>{{property.fields.bathrooms}}</span>
							<i class="dpg-icon dpg-icon-bath"></i>
						</li>
						<li v-if="property.fields.car_spaces">
							<span>{{property.fields.car_spaces}}</span>
							<i class="dpg-icon dpg-icon-car"></i>
						</li>
					</ul>
				</header>
				<div class="information">
					<small class="price">{{ property.fields.price_view }}</small>
					<div v-if="auction" class="summary-inspection">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						Auction: {{ auction.day }} {{ auction.month }} {{ auction.date }} {{ auction.year }}
					</div>
					
					<div class="excerpt">{{ excerpt }}</div>
					
					<div v-if="inspections.length" class="summary-inspection">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						Open for Inspection: {{inspections[0].label}}
					</div>
				
				</div>
				<footer>
					<div class="agents">
						<a :href="`/agent/${property.fields.property_agent[0].post_name}`"
						   v-if="property.fields.property_agent.length"
						   :title="`View ${property.fields.property_agent[0].post_title}`"
						   class="agent-link"
						>
							<i class="fa fa-user"></i>
							{{property.fields.property_agent[0].post_title}}
						</a>
						
						<a :href="`tel:${property.fields.property_agent[0].fields.mobile}`"
						   v-if="property.fields.property_agent.length"
						   :title="`Call ${property.fields.property_agent[0].post_title}`"
						   class="agent-link"
						>
							<i class="fa fa-phone" aria-hidden="true"></i>
							{{property.fields.property_agent[0].fields.mobile}}
						</a>
					</div>
					<div class="details-btn">
						<a :href="href" class="btn btn-primary btn-fill">Details</a>
					</div>
				</footer>
			</div>
		</article>
	</property-block>
</template>

<script>
    //import $ from 'jquery';
    import PropertyBlock from './PropertyBlock.vue';

    import Vue from 'vue';

    export default {
        name: 'property-summary',
        components: {
            PropertyBlock,
        },
        mixins: [],
        props: {
            propProperty: {
                type: String,
                default: '{}',
            },
        },
        data() {
            return {
                property: JSON.parse(this.propProperty),
                status: {class: '', label: ''}
            };
        },
        computed: {
            id() {
                return `property-${this.property.ID}`;
            },
        },
        methods: {
            setStatus: function () {
                let status = {class: 'new', label: 'New'};
                let created_at = new Date(this.property.fields.created_at);
                const now = new Date();
                switch (true) {
                    case (created_at.getTime() / 1000) > (now.getTime() / 1000):
                        status = {class: 'new', label: 'New'};
                        break;
                    case (this.property.fields.property_status == 'sold') :
                        status = {class: 'sold', label: 'Sold'};
                        break;
                    case (this.property.fields.property_status == 'leased') :
                        status = {class: 'leased', label: 'Leased'};
                        break;
                    case (this.property.fields['under_offer'] && this.property.fields['under_offer'] == 'yes' && !(this.property.fields.property_status == 'sold' || this.property.fields.property_status == 'leased')) :
                        status = {class: 'under-offer', label: 'Under Offer'};
                        break;
                    default:
                        status = {class: '', label: ''};
                }
                this.status = status;
            }
        },

        watch: {},

        mounted() {
            Vue.nextTick(() => {
                $(`#${this.id}-images`).slick({
                    dots: false,
                    infinite: true,
                    autoplay: false,
                    prevArrow: '<i class="fa fa-angle-left slick-prev slick-arrow"></i>',
                    nextArrow: '<i class="fa fa-angle-right slick-next slick-arrow"></i>'
                })
            });
            this.setStatus();
        }
    };
</script>
<style lang="scss">

</style>
