@mixin center() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
@mixin fill() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@mixin square-with-padding() {
	height: 0;
	display: inline-block;
	width: 100%;
	padding-bottom: 100%;
	background-color: darken($white, 2%);
}
@mixin bg-hover() {
	transform: scale(1.1);
	&:after {
		opacity: 0.6;
	}
}
@mixin xl-lg() {
	@media screen and (max-width: 1420px) {
		@content;
	}
}
@mixin lg() {
	@media screen and (max-width: 1100px) {
		@content;
	}
}
@mixin md() {
	@media screen and (max-width: #{992 - 1}px) {
		@content;
	}
}
@mixin fb() {
	@media screen and (max-width: #{821}px) {
		@content;
	}
}
@mixin sm() {
	@media screen and (max-width: #{768 - 1}px) {
		@content;
	}
}
@mixin sm-ms() { // should be used rarely
	@media screen and (max-width: #{540}px) {
		@content;
	}
}
@mixin ms() {
	@media screen and (max-width: #{480}px) {
		@content;
	}
}
@mixin xs() {
	@media screen and (max-width: 320px) {
		@content;
	}
}