

$branding-bg : #333333;
$branding-fg : #aaaaaa;
$branding-dark: #002146;

$branding-bg-med: lighten($branding-bg, 15%);
$branding-bg-light: lighten($branding-bg, 33%);
$branding-fg-med: lighten($branding-fg, 15%);

$branding-primary: #a1cfff;
$branding-secondary: #91c7ff;
$branding-ternary: #6eb5ff;

$grey-dark: #686868;
$grey: #bbbbbb;
$grey-med: #A7A7A7;
$grey-light: lighten($grey-dark, 50%);
$grey-lighter: lighten($grey-dark, 56%);

$bg-gray-light: #f9f9f9;
$bg-gray-med: #e7e7e7;

// Typography
$base-font-size: 20px;
$base-font: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$base-font-italic: $base-font;//, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$base-font-bold: $base-font;//, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$base-font-bold-italic: $base-font;//, 'Helvetica Neue', Arial, Helvetica, sans-serif;

$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-serif: Georgia, "Times New Roman", Times, serif;

// Slick Carousel
$slick-dot-size: 1rem;
$slick-font-path: '../fonts/';
$slick-loader-path: '../images/';

// Breakpoints
$bp-xs : 540px;
$bp-sm : 768px;
$bp-md : 960px;
$bp-lg : 1024px;
$bp-xl : 1200px;

/**
 * Element Dimensions
 */

/* Page elements */
$gutter-grid: 7px;
$max-page-width: 1020px;
$gutter-grid-mobile: 0.5rem;
/* Main navigation */
$main-nav-height: 5rem; // Desktop
$main-nav-height-landscape: 0.75 * $main-nav-height;
$main-nav-height-portrait: 0.85 * $main-nav-height;
$main-nav-height-mobile: 0.75 * $main-nav-height;

/* Main site header */
$main-header-height: 675px; // Desktop
$main-header-height-landscape: 0.8 * $main-header-height;
$main-header-height-portrait: 0.75 * $main-header-height;
$main-header-height-mobile: 0.45 * $main-header-height;;


/**
 * Class modifiers which apply specific declarations.
 */
.center-background {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
/* Flex Containers */
.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flex-ctr {
	justify-content: center;
	align-items: center;
}
/* Overflows */
.no-overflow {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* List styles */
.no-list-style {
	list-style-type: none;
	padding-left: 0;
}

/* Colours */
.grey-dark {
	color: $grey-dark;
}

.grey {
	color: $grey;
}

/* Gradients */
.gradient-overlay-bottom {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2rem;
	width: 100%;
	background: linear-gradient(0deg, rgba(255, 255, 255, 1)25%, rgba(0, 0, 0, 0)100%);
}

.gradient-overlay-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	width: 100%;
	background: linear-gradient(180deg, rgba(white, 1)0%, rgba(black, 0)100%);
}


/* Text alignment. */

.text-shadow {
	text-shadow: 1px 0px 0px rgba(black, 1);
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-right {
	text-align: right;
}

.link {
	cursor: pointer;
}
