$primary-color: #91c7ff !default;
$primary-color-hover: #72b7ff !default;
$tertiary-color: #ccc !default;

$status-new-color: #91c7ff !default;
$status-sold-color: #ec4445 !default;
$status-leased-color: #ec4445 !default;
$status-under-offer-color: #325481 !default;

$property-images-width: 820 !default;
$property-images-max-width: 1020 !default;
$property-images-height: 600 !default;

$white: #fefefe;
$black: #262626;

$font-family: 'Lato', sans-serif !default;
$font-url: 'https://fonts.googleapis.com/css?family=Lato:300,400,600,700' !default;

$gutter-grid: 7px;
$gutter-grid-mobile: 10px;

$section-margin: 50px;
$lg-section-margin: 40px;
$sm-section-margin: 35px;

$base-font-size: 25px !default;
$inner-content-font-size: 20px !default;
$headings-font-size: 25px !default;
$big-heading-font-size: 50px !default;
$icons-font-size: 32px;

$lg-base-font-size: 21px;
$lg-headings-font-size: 25px;
$lg-big-heading-font-size: 40px;
$lg-icons-font-size: 25px;

$sm-font-size: 15px;
$sm-base-font-size: 18px;
$sm-headings-font-size: 22px;
$sm-big-heading-font-size: 35px;
$sm-icons-font-size: 20px;

$container-width: 1100px;
$container-padding: 15px;

@import url($font-url);

// css reset
.dpg-wrapper {
  div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.dpg-wrapper {
  .fa {
    font: normal normal normal 14px/1 FontAwesome;
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

@import "vendor/snazzy-info-window";
//@import "~slick-carousel/slick/slick-theme.css";
@import "mixins";
@import "single-agent";

.dpg-wrapper {
  // theme specific
  background-color: $white;
  font-family: $font-family;
  color: $black;
  box-sizing: border-box;
  line-height: 1.2;

  &.container-wrap {
    padding-top: 0;
    margin-top: 0;
  }

  * {
    box-sizing: border-box;
  }
  h2 {
    color: $black;
    font-style: normal;
    font-size: $headings-font-size;
    line-height: 55px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  h3 {
    color: $black;
    font-size: $base-font-size;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
  p {
    margin-bottom: 0;
  }
  .wp-content {
    margin-bottom: 20px;
    p {
      font-size: $inner-content-font-size;
      line-height: 1.4;
      font-weight: 300;
      margin-bottom: 20px;
    }
    ul {
      margin-top: 10px;
      margin-bottom: 20px;
      padding-left: 30px;
      li {
        list-style: circle;
        padding: 5px 0;
        font-weight: 300;
      }
    }
    a {
      color: $primary-color;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  address {
    margin-bottom: 0;
  }
  .dpg-container {
    width: 1100px;
    padding-left: $container-padding;
    padding-right: $container-padding;
    margin: 0 auto;

    // overwrite salient responsive
    max-width: none !important;

    @media (max-width: 1100px) {
      width: 100%;
    }
  }
}

@include lg {
  .dpg-wrapper {
    h2 {
      font-size: $lg-headings-font-size;
      line-height: 35px;
    }
    h3 {
      font-size: $lg-base-font-size;
    }
    .dpg-container {
      width: 100%;
    }
    .content {
      p {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

@include fb {
  .dpg-wrapper {
    h2 {
      font-size: 18px;
      line-height: 30px;
    }
    h3 {
      font-size: 16px;
    }
    .wp-content {
      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

@include sm {
  .dpg-wrapper {
    h2 {
      font-size: $sm-headings-font-size;
      line-height: 30px;
    }
    h3 {
      font-size: $sm-base-font-size;
    }
    .content {
      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}

@import "vendor/cf";
@import "vendor/icomoon";
@import "vendor/add-to-calendar";
@import "vendor/responsive-embed";
@import "vendor/slick-theme";
@import "elements/svg-icon";
@import "elements/button";
@import "elements/multiselect";
@import "elements/status";
@import "elements/fancy-line";
@import "elements/google-map";
@import "elements/bg";
@import "components/infowindows";
@import "components/header-banner";
@import "components/property-slider";
@import "components/tabs";
@import "components/discover-tile";
@import "components/property-grid";
@import "components/property-events";
@import "components/property-event-summary";
@import "components/property-listings";
@import "components/inspections";
@import "components/agents";
@import "components/area-map";
@import "components/neighbourhood-list";
@import "pages/properties";
@import "pages/single-property";
@import "pages/neighbourhoods";
@import "pages/single-neighbourhood";
@import "components/pricefinder";
