.dpg-wrapper {
	.agents-section {
		margin: 34px 0 40px;
		background-color: $white;

		h2 {
			text-align: center;
			color: $primary-color;
			margin-bottom: 50px;
		}
	}
	.agents.listings-grid {
		text-align: center;
		margin: 0 -10px;
		li {
			display: inline-block;
			width: 33.33333%;
			padding: 0 10px;
			margin-bottom: 20px;
			vertical-align: text-top;
		}

		// @todo - move the agent block class to hold both (and get rid of the wrapper class)
		.agent-block {
			@include square-with-padding();
			position: relative;
			overflow: hidden;

			.content-block {
				@include center();
				width: 100%;
				height: 100%;
				transition: background-color 0.2s ease-out;
				background-color: transparent;
			}

			.content {
				@include center();
				width: 100%;
				padding: 0 10px;
			}

			h3 {
				color: $white;
				font-weight: 300;
				text-transform: uppercase;
				padding-bottom: 20px;

				&:last-child {
					padding-bottom: 0;
				}

				> span, > i {
					color: $white;
					display: inline-block;
					vertical-align: middle;
				}

				i {
					font-size: 30px;
				}
			}

			&:hover {
				.bg {
					@include bg-hover();
				}
			}
		}
		.agent-block-wrapper {
			.email-agent-btn {
				margin-top: 20px;
				width: 100%;
			}
		}
	}
}
@include lg {
	.dpg-wrapper {
		.agents-section {
			margin: 34px 0 30px;

			h2 {
				margin-bottom: 40px;
			}
		}
		.agents.listings-grid {
			li {
				width: 50%;
				max-width: 350px;
			}

			// @todo - move the agent block class to hold both (and get rid of the wrapper class)
			.agent-block {
				h3 {
					padding-bottom: 15px;

					&:last-child {
						padding-bottom: 0;
					}
				}
			}
			.agent-block-wrapper {
				.email-agent-btn {
					margin-top: 15px;
				}
			}
		}
	}
}
@include sm {
	.dpg-wrapper {
		.agents-section {
			margin: 24px 0 20px;

			h2 {
				margin-bottom: 30px;
			}
		}
		.agents.listings-grid {
			li {
				width: 100%;
				max-width: 350px;
			}

			// @todo - move the agent block class to hold both (and get rid of the wrapper class)
			.agent-block {
				h3 {
					padding-bottom: 10px;

					&:last-child {
						padding-bottom: 0;
					}
				}
			}
			.agent-block-wrapper {
				.email-agent-btn {
					margin-top: 10px;
				}
			}
		}
	}
}