$area-map-height: 654px;
.dpg-wrapper {
	.area-map {
		position: relative;
		.place-list {
			height: 535px;
			margin-left: 50%;
			padding-left: 20px;
			overflow-y: scroll;
			li {
				border-bottom: 1px solid $tertiary-color;
				position: relative;
				i {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					font-size: $icons-font-size;
					color: $primary-color;
				}
				> div {
					padding-left: 40px;
					> * {
						display: inline-block;
						width: 100%;
						line-height: 1.25;
					}
					.name {
						color: $primary-color;
						font-size: 18px;
						padding: 10px 0 0;
					}
					.distance {
						font-size: 16px;
						padding-bottom: 10px;
					}
				}
			}
		}
		.google-map {
			position: absolute;
			width: 50%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
		}
	}
	.about-area-map {
		position: relative;
		iframe, .overlay {
			width: 100%;
			height: 600px;
		}
		iframe {
			z-index: -1;
		}
		.overlay {
			z-index: 1;
			background-color: transparent;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
@include lg {
	.dpg-wrapper {
		.area-map {
			.place-list {
				height: 30vh;
				margin-left: 0;
				padding-left: 0;
				li {
					i {
						font-size: $lg-icons-font-size;
					}
					> div {
						padding-left: 30px;
						.name {
							font-size: 16px;
						}
						.distance {
							font-size: 14px;
						}
					}
				}
			}
			.google-map {
				position: relative;
				width: 100%;
				height: 250px;
				margin-bottom: 20px;
			}
		}
	}
}