html {
    scroll-behavior: smooth !important;
}
.contact-form-container {
    position: relative;
    min-height: 30vh;
    padding-bottom: 100px !important;

    /** Search adress container. */
    .contact-form-search-container {
        width: 80%;
        margin: 0 auto;
        min-height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        /** Search input. */
        &-input {
            font-size: $sm-base-font-size !important;

            &::placeholder {
                color: $tertiary-color !important;
                font-size: $sm-base-font-size;
                font-family: $font-family;
            }
        }

        /** Search list. */
        &-list {
            width: 100%;

            &-item button {
                width: 100% !important;
                border-radius: 0 !important;
                border-top: 0 !important;
                text-align: left;
                font-size: $sm-base-font-size !important;
            }
        }
    }

    /** Step container */
    .step-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        /** Step container inner */
        &-inner {
            min-height: 35vh;
            margin-top: 50px !important;
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;

            &.extra-margin {
                margin-top: 20vh !important;
            }

            /** Step container title */
            &-title {
                font-size: $lg-headings-font-size;
                font-weight: 700 !important;
                font-family: $font-family;
            }

            /** Step container cta wrapper */
            &-cta-wrapper {
                display: flex;
                margin-top: 5px;

                /** Step container cta */
                &-underline-button {
                    padding: 15px 0;
                    margin-right: 20px;
                    border-bottom: 2px solid $tertiary-color !important;
                    width: 250px !important;
                    text-align: center;

                    /** Small btn */
                    &.btn-sm {
                        width: auto !important;

                        label {
                            color: $black !important;
                            font-size: $sm-font-size !important;
                            font-weight: 600 !important;
                        }
                    }

                    &:hover,
                    &.active[data-v-d5b8bbbc],
                    &:hover label,
                    &.active[data-v-d5b8bbbc] label {
                        color: $primary-color !important;
                        background: transparent !important;
                        border-bottom-color: $primary-color !important;
                    }

                    &:hover .cls-1,
                    &.active .cls-1 {
                        fill: $primary-color !important;
                    }

                    &-inner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        img {
                            width: 35px;
                            height: 35px;
                            margin-bottom: 5px;
                        }
                        label {
                            color: $black;
                            font-size: $sm-font-size;
                            font-weight: 600;
                        }
                    }
                }
            }

            &-other-wrapper {
                margin-top: 40px;

                &-submit {
                    margin-top: 20px;

                    &-label {
                        font-weight: 700;
                        font-family: $font-family;
                        margin-bottom: 5px;
                    }
                }

                &-input {
                    margin-top: 10px;
                    font-size: $sm-font-size !important;
                    border-bottom: 1px solid $tertiary-color !important;
                    width: 50% !important;

                    &::placeholder {
                        color: $tertiary-color !important;
                        font-size: $sm-font-size !important;
                        font-family: $font-family;
                    }

                    &:focus {
                        border-bottom-color: $primary-color !important;
                    }
                }

                &-btn button {
                    margin-top: 30px;
                    font-size: $sm-font-size !important;
                }
            }
        }
    }

    /** Timeline container */
    &-timeline {
        position: fixed;
        top: 0 !important;
        right: 0 !important;
        width: 50px;
        height: 100%;
        background-color: #f2f2f2 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        /** Timeline inner */
        &-inner {
            margin-top: 15px !important;

            /** Timeline circle */
            &-circle {
                width: 15px;
                height: 15px;
                border-radius: 100%;

                &.active-from {
                    background-color: $primary-color !important;
                }

                &.inactive-from {
                    background-color: $tertiary-color !important;
                }
            }

            /** Timeline line */
            &-line {
                margin-top: 3px !important;
                width: 2px;
                margin-left: 7px !important;
                height: 50px;

                &.active-from {
                    background-color: $primary-color !important;
                }

                &.inactive-from {
                    background-color: $tertiary-color !important;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        .step-container-inner-cta-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &-underline-button {
                margin-top: 20px;
                width: 250px !important;

                &.btn-sm {
                    margin-top: 5px;
                    width: 250px !important;
                }
            }
        }

        .step-container-inner-other-wrapper-input {
            margin-top: 10px !important;
            width: 90% !important;
        }

        .step-container-inner-other-wrapper-submit-label {
            margin-bottom: -10px !important;
        }

        .contact-form-search-container-list-item button {
            overflow: hidden !important;
            white-space: nowrap !important;
            display: block !important;
            text-overflow: ellipsis !important;
        }
    }

    @media screen and (max-width:998px) {
        &-timeline {
            display: none !important;
        }
    }
}
