/**
 * Discover Neighbourhood Tile
 */
.dpg-wrapper {
	.discover-tile {
		position: relative;
		overflow: hidden;

		> a {
			display: block;
			background-color: $tertiary-color;

			&:hover {
				.bg {
					@include bg-hover();
				}
			}
		}
		h4 {
			font-size: $big-heading-font-size;
			color: $white;
			text-transform: uppercase;
			padding: 10px 0;
		}
		p {
			color: $white;
			font-size: $base-font-size;
			font-weight: 300;

			&.postcode {
				font-size: $headings-font-size;
				font-weight: 400;
			}
		}
		.content {
			text-align: center;
			padding: 105px 30px;
			position: relative;
		}
	}
}
@include lg {
	.dpg-wrapper {
		.discover-tile {
			h4 {
				font-size: $lg-big-heading-font-size;
			}
			p {
				font-size: $lg-base-font-size;

				&.postcode {
					font-size: $lg-headings-font-size;
				}
			}
			.content {
				padding: 90px 20px;
			}
		}
	}
}
@include sm {
	.dpg-wrapper {
		.discover-tile {
			h4 {
				font-size: $sm-big-heading-font-size;
			}
			p {
				font-size: $sm-base-font-size;

				&.postcode {
					font-size: $sm-headings-font-size;
				}
			}
			.content {
				padding: 70px 20px;
			}
		}
	}
}