.dpg-wrapper {
	header[role=banner] {
		position: relative;
		height: 600px;
		height: 60vh;
		background-color: $tertiary-color;
		.content {
			@include center();
			text-align: center;
		}

		span, address {
			font-size: 38px;
			font-weight: 400;
			color: $white;
		}
		h3 {
			padding: 10px 0;
			font-size: 63px;
			font-weight: 600;
			color: $white;
			text-transform: uppercase;
		}
	}
}
@include sm {
	.dpg-wrapper {
		header[role=banner] {
			height: 350px;
			height: 60vh;
			span, address {
				font-size: 24px;
			}
			h3 {
				padding: 10px 0;
				font-size: 35px;
			}
		}
	}
}