$infowindow-info-width: 430px;
$infowindow-info-width-sm: 200px;
.dpg-wrapper {
	.infowindow {
		width: $infowindow-info-width;
		overflow: hidden;
		border-radius: 3px;

		.wrapper {
			position: relative;
			overflow: hidden;
		}

		img, img:not([srcset]) { // added img:not([srcset]) to overwrite salient theme styles
			float: left;
			width: 40%;
			min-height: 1px; // such that we don't have the flash
		}
		.info {
			float: left;
			width: 60%;
			padding-left: 10px;
			font-family: $font-family;

			.address {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 10px;
			}

			.features {
				margin-bottom: 15px;
			}
			.count, i {
				vertical-align: middle;
				display: inline-block;
			}
			.count {
				font-size: 16px;
			}
			i {
				padding: 0 16px 0 4px;
				color: $primary-color;
				font-size: 18px;
			}
		}

		.btn {
			line-height: 30px;
			height: 30px;
			font-size: 12px;
			font-family: $font-family;
		}
	}
}

@include sm {
	.dpg-wrapper {
		.infowindow {
			width: $infowindow-info-width-sm;

			img, img:not([srcset]) { // added img:not([srcset]) to overwrite salient theme styles
				width: 100%;
			}
			.info {
				width: 100%;
				padding-left: 0;
				padding-top: 10px;

				.address {
					font-size: 14px;
					line-height: 18px;
					margin-bottom: 5px;
				}

				.features {
					margin-bottom: 10px;
				}
				.count {
					font-size: 16px;
				}
				i {
					padding: 0 12px 0 4px;
					font-size: 16px;
				}
			}
		}
	}
}