.dpg-wrapper {
  .inspections-section {
    padding: 34px 0 40px;
    background-color: lighten($tertiary-color, 18%);

    h2 {
      text-align: center;
      color: $primary-color;
    }
  }

  .inspection-and-auction-times {
    margin: 0 -20px;
    text-align: center;
    margin-top: 40px;
    font-size: 0; // to get rid of inline space

    > * {
      display: inline-block;
      width: 20%;
      padding: 0 20px;
      margin-bottom: 20px;
      max-width: 200px;
    }

    .content {
      position: relative;
      text-align: center;
      border-radius: 100%;
      background-color: white;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      margin-bottom: 20px;

      .dpg-icon {
        color: $primary-color;
        font-size: $icons-font-size;
      }

      .day, .type-title {
        color: $primary-color;
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 600;
      }
      .date {
        font-size: 17px;
        color: #afafaf;
      }

      .center-helper {
        @include center();
      }

      &.contact strong {
        font-size: 18px;
      }
    }
    .btn {
      cursor: pointer;
      font-weight: 700;
      line-height: 39px;
      height: 39px;
      border: none;
      border-radius: 20px;
      padding: 0 10px;
      font-size: 15px;
      background-color: #eaeaea;
      color: $black;
      &.btn-book-inspection {
        cursor: pointer;
        font-family: 'Lato', sans-serif;
        display: inline-block;
        height: 62px;
        line-height: 62px;
        border-radius: 3px;
        width: 140px;
        margin: 0 auto;
        padding: 0 40px;
        font-size: 17px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #313236;
        color: #313236;
      }
    }

    .auction {
      .content {
        background: $primary-color;
        .type-title, .date {
          color: #fff;
        }
        .dpg-icon {
          color: #fff;
        }
      }
    }
  }

  .atc-style-menu-wb {
    position: relative;
    .atcb-list {
      border: 1px solid rgba($primary-color, 0.7);
      display: block;
      top: 100%;
      left: 0;
      bottom: auto;
      min-width: 200px;
      border-radius: 0 !important;
      .atcb-item {
        border: none !important;
        border-radius: 0 !important;
        .atcb-item-link {
          border-radius: 0 !important;
          border: none !important;
          background-color: white !important;
          color: $primary-color !important;
          &:hover {
            border: none !important;
            background-color: $primary-color !important;
            color: white !important;
          }
        }
      }
    }
  }
}

@include lg {
  .dpg-wrapper {
    .inspections-section {
      padding: 24px 0 30px;
    }

    .inspection-and-auction-times {
      margin: 0 -15px;
      margin-top: 30px;
      > * {
        display: inline-block;
        width: 33.333%;
        padding: 0 15px;

      }

      .content {
        margin-bottom: 15px;

        .dpg-icon {
          font-size: $lg-icons-font-size;
        }

        .day, .type-title {
          font-size: 17px;
        }
        .date {
          font-size: 15px;
        }
      }
      .btn {
        line-height: 35px;
        height: 35px;
        border-radius: 16px;
        font-size: 13px;
      }
    }
  }
}

@include sm {
  .dpg-wrapper {
    .inspections-section {
      padding: 24px 0 20px;
    }

    .inspection-and-auction-times {
      margin: 0 -10px;
      margin-top: 30px;
      > * {
        width: 50%;
        padding: 0 10px;
      }
    }
  }
}