.dpg-wrapper {
	.suburb-list {
		margin: 0 -$gutter-grid;
		text-align: center;
		> li {
			position: relative;
			display: inline-block;
			width: 33.3333%;
			padding: $gutter-grid;
			font-size: 0;

			.neighbourhood-block {
				text-decoration: none;
				overflow: hidden;
				position: relative;
				@include square-with-padding();

				article {
					@include center();
					width: 90%;

					span {
						font-size: 21px;
						color: $white;
					}
					h3 {
						font-family: $font-family;
						padding-top: 10px;
						font-size: 37px;
						color: $white;
						text-transform: uppercase;
					}
				}

				&:hover {
					.bg {
						@include bg-hover();
					}
				}
			}
		}
	}
}
@include lg {
	.dpg-wrapper {
		.suburb-list {
			> li {
				.neighbourhood-block {
					article {
						span {
							font-size: 19px;
						}
						h3 {
							padding-top: 5px;
							font-size: 28px;
						}
					}
				}
			}
		}
	}
}
@include fb {
	.dpg-wrapper {
		.suburb-list {
			> li {
				.neighbourhood-block {
					article {
						span {
							font-size: 16px;
						}
						h3 {
							padding-top: 5px;
							font-size: 20px;
							line-height: 26px;
						}
					}
				}
			}
		}
	}
}
@include sm {
	.dpg-wrapper {
		.suburb-list {
			> li {
				width: 50%;
			}
		}
	}
}

@include ms {
	.dpg-wrapper {
		.suburb-list {
			> li {
				width: 100%;
			}
		}
	}
}
