$property-block-grid-padding: 20px;
.dpg-wrapper {
  .property-grid-component {
    .property-listings {
      margin: 0 -$gutter-grid;
      display: block;
      > li {
        width: 33.3333%;
        float: left;
        padding: $gutter-grid;
        text-align: center;

        > a {
          display: inline-block;
          width: 100%;
          max-width: 400px;
        }
      }
    }
    .property {
      position: relative;
      display: inline-block;
      height: 0;
      width: 100%;
      padding-bottom: 100%;

      .bg-image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }

      .title {
        position: absolute;
        left: $property-block-grid-padding;
        bottom: 16px;
        color: #fff;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .status {
        position: absolute;
        right: $property-block-grid-padding;
        top: 11px;
      }
      .overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 30px;
        color: #fff;
        text-align: center;
        background-color: $primary-color;
        transition: opacity 0.2s;
      }

      .details {
        @include center;
        width: 90%;

        .suburb, .street, .price {
          font-size: 19px;
          font-weight: 700;
        }
        .street {
          padding-top: 5px;
          font-weight: 400;
        }
        .feature-list {
          text-align: center;
          font-size: 0;
          margin: 12px 0;
          li {
            display: inline-block;
          }

          span {
            font-size: 17px;
            padding: 0 6px 0 14px;
          }
          i {
            font-size: 17px;
          }
        }

        hr {
          margin: 30px auto;
          width: 112px;
          background-color: #fff;
        }
        .inspection-auction-wrapper {
          span, i {
            display: inline-block;
            vertical-align: middle;
          }
          span {
            font-size: 19px;
          }
          i {
            font-size: 28px;
            padding-right: 3px;
          }
        }
      }
      &:hover {
        .overlay {
          opacity: 0.9;
        }
      }
    }
    .property-summary {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      padding: 0;
      background: #f7f7f7;
      margin-top: 30px;
      .images {
        width: 31.25%;
        position: relative;
        .property-images {
          .image {
            height: 300px;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
          }
        }
        .status {
          position: absolute;
          right: 20px;
          top: 11px;
        }

      }
      .content {
        width: 68.75%;
        padding: 1rem;
        header {
          margin: -1rem;
          padding: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
          a {
            width: 62.5%;
            padding: 1rem;
            position: relative;
            display: inline-block;
            vertical-align: top;
            h2 {
              font-size: 18px;
              line-height: 18px;
              font-weight: 600;
            }
          }
          .feature-list {
            width: 37.5%;
            padding: 1rem;
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            font-weight: 600;
            li {
              display: inline-block;
              padding-right: 10px;
            }
          }
        }
        .information {
          display: block;
          margin: 1rem 0;
          .price {
            font-size: 18px;
            padding: 1rem 0;
            font-weight: 600;
          }
          .excerpt {
            padding: 1rem 0;
            line-height: 22px;
            margin-bottom: 1rem;
            border-bottom: 1px solid $tertiary-color;
          }
          .summary-inspection{
            font-weight: 600;
          }

        }
        .agents {
          float: left;
          font-weight: 600;
        }
        .details-btn {
          float: right;
          .btn {
            height: 44px;
            min-height: 44px;
            line-height: 44px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@include fb {
  .dpg-wrapper {
    .property-grid-component {
      .property-listings {
        > li {
          width: 33.3333%;
        }
      }
      .property {
        .title {
          font-size: 16px;
        }
        .details {

          .suburb, .street, .price {
            font-size: 16px;
            font-weight: 500;
          }
          .feature-list {
            margin: 6px 0;
            span {
              font-size: 14px;
              padding: 0 4px 0 10px;
            }
            i {
              font-size: 14px;
            }
          }
          hr {
            margin: 10px auto;
          }
          .inspection-auction-wrapper {
            span {
              font-size: 16px;
            }
            i {
              font-size: 20px;
              padding-right: 2px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: #{640}px) {
  .dpg-wrapper {
    .property-grid-component {
      .property-listings {
        > li {
          width: 100%;
        }
      }
      .property-summary {
        .images {
          width: 100%;

        }
        .content {
          width: 100%;
          .agents {
            float: none;
          }
          .details-btn {
            float: none;
          }
        }
      }
    }
  }
}