$property-block-grid-padding: 20px;
.dpg-properties-events-wrapper {
	padding: 100px 0;

	.property-events-component {

		.event-type-options {
			margin: 0;

			li {
				display: inline-block;
				font-size: 0;
				padding: 0 10px;
				cursor: pointer;

				button {
					min-width: 198px;
					height: 44px;
					min-height: 44px;
					line-height: 44px;
					font-size: 13px;
					margin-right: 5px;
				}

				@media screen and (max-width: #{780}px) {
					padding:0;
					button {
						min-width: 150px;
						margin-bottom: 10px;
					}
				}
			}
		}

		.property-event-day {
			display: block;
			margin-top: 30px;
			padding: 10px 0;
			margin-bottom: 10px;
			border-bottom: 1px solid $tertiary-color;
		}
	}
}