.slide-loading-screen {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;

	.load-spinner {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -5.5em;
		margin-left: -5.5em;
	}
}

header[role=banner].slide-header {
	height: auto;
	@media (max-width: 440px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.slide-header {
	.slider-wrapper {
		position: relative;
	}

	.slick-dots {
		position: absolute;
		display: block;
		width: 100%;
		text-align: center;
		bottom: 15px;

		li {
			display: inline-block;
			padding: 0 3px;

			button {
				cursor: pointer;
				line-height: 0;
				box-shadow: none;
				height: 12px;
				width: 12px;
				border: 2px solid $white;
				background-color: transparent;
				padding: 0;
				border-radius: 50% !important;
				transition: background-color 0.2s;
				text-indent: -9999px;
			}

			&.slick-active button, button:hover {
				background-color: #fff;
			}
		}
	}


	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}

	.slide {
		position: relative;
		float: left;
		width: #{min($property-images-width, $property-images-max-width)}px;

		.image-wrapper {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 66%;

			&:before {
				content: '';
				background: #000;
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				transition: all .5s;
				z-index: 1;
			}
		}

		&:not(.slick-current) {
			.image-wrapper {
				&:before {
					opacity: .5;
				}
			}
		}

		img {
			width: 100%;
			@include center();
		}
	}
}

.dpg-wrapper {
	.slideshow {
		position: relative;
		i.slick-arrow {
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

@include fb {
	.slide-header {
		.slide {
			width: 80vw;

			.image-wrapper {
				padding-bottom: 53vw;
			}
		}
	}
}

@media (max-width: 640px) {
	.dpg-wrapper {
		.slideshow {
			i.slick-arrow {
				height: 250px;
				line-height: 250px;
				display: inline-block !important;
			}
		}
	}

}

@media (max-width: 400px) {
	.slide-header {
		.slide {
			width: 100vw;

			.image-wrapper {
				padding-bottom: 65vw;
			}
		}
	}
}