.dpg-wrapper {
  .property-listings-component {
    margin-bottom: 40px;
    header {
      padding-top: 20px;
      //overflow: hidden;

      p {
        font-size: 17px;
        text-transform: uppercase;
      }
    }
    .result-count {
      float: left;
      > span {
        display: inline-block;
        vertical-align: middle;
      }

      span.label {
        line-height: 32px;
      }
    }

    .sort-options {
      float: right;

      > * {
        display: inline-block;
        vertical-align: middle;
        //float: left;
      }

      p {
        margin-right: 20px;
      }

      .sort-select-wrapper {
        min-width: 248px;
        margin-left: 18px;
        button {
          width: 100%;
        }
        .multiselect__tags {
          min-height: 48px;
          display: block;
          padding: 0 40px 0 20px;
          line-height: 48px;
          .multiselect__single {
            font-size: 18px;
          }
        }
        .multiselect__select {
          height: 48px;
        }
        .multiselect__option {
          min-height: 48px;
          line-height: 48px;
          font-size: 18px;
        }

      }


    }
    .right-side-actions {
      a.grid-btn {
        i {
          color: $tertiary-color;
        }
        &.active, &:hover {
          i {
            color: $primary-color-hover;
            cursor: pointer;
          }
        }
      }
    }

    .status-options {
      margin: 20px 0;
      text-align: center;
      li {
        display: inline-block;
        font-size: 0;
        padding: 0 10px;
      }
      button {
        min-width: 250px;
      }
    }
    .latest-filter {
      float: left;
      .status-options {
        margin: 0;
        button {
          min-width: 150px;
          height: 48px;
          min-height: 48px;
          line-height: 48px;
          font-size: 18px;
        }
      }
    }
    .load-btn {
      margin-top: 20px;
      width: 100%;
    }
    &.extended {
      .bottom-filter {
        margin-top: 10px;
      }
      .sort-options {
        float: none;
      }
      .sort-select-wrapper {
        min-width: 198px;
        margin-left: 0;
        margin-right: 5px;
        float: left;
        button {
          width: 100%;
        }
        .multiselect__tags {
          min-height: 44px;
          display: block;
          padding: 0 30px 0 15px;
          line-height: 44px;
          .multiselect__single {
            font-size: 13px;
          }
        }
        .multiselect__select {
          height: 44px;
        }
        .multiselect__option {
          min-height: 44px;
          line-height: 44px;
          font-size: 13px;
        }

      }
      .status-options {
        margin: 0;
        li {
          padding: 0;
        }
        button {
          min-width: 198px;
          height: 44px;
          min-height: 44px;
          line-height: 44px;
          font-size: 13px;
          margin-right: 5px;
        }
      }
      .result-count {
        margin-top: -5px;
        span.label {
          text-transform: uppercase;
          font-size: 13px;
        }
      }
      .grid-options {
        li {
          float: right;
          margin-left: 5px;
          a.grid-btn{
            i {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
  .right-side {
    float: right;
  }
  .left-side {
    float: left;
  }
}

@include lg {
  .dpg-wrapper {
    .property-listings-component {
      header {
        padding-top: 15px;

        p {
          font-size: 16px;
        }
      }
      .result-count {
        span.label {
          line-height: $lg-button-height;
        }
      }

      .sort-options {
        p {
          margin-right: 15px;
        }
      }

      .status-options {
        margin: 15px 0;
        button {
          min-width: 150px;
        }
      }
    }
  }
}

@include fb {
  .dpg-wrapper {
    .property-listings-component {
      .sort-options {
        .sort-select-wrapper {
          min-width: 208px;
          margin-left: 14px;
          .multiselect__tags {
            min-height: 40px;
            display: block;
            padding: 0 30px 0 15px;
            line-height: 40px;
            .multiselect__single {
              font-size: 16px;
            }
          }
          .multiselect__select {
            height: 40px;
          }
          .multiselect__option {
            min-height: 40px;
            line-height: 40px;
            font-size: 16px;
          }

        }
      }

      .status-options {
        margin: 15px 0;
        text-align: center;
        li {
          display: inline-block;
          font-size: 0;
          padding: 0 10px;
        }
        button {
          height: 40px;
          line-height: 40px;
          font-size: 16px;
        }
      }
      .latest-filter {
        float: left;
        .status-options {
          margin: 0;
          button {
            min-width: 120px;
            height: 40px;
            min-height: 40px;
            line-height: 40px;
            font-size: 16px;
          }
        }
      }
      &.extended {
        .sort-select-wrapper {
          min-width: 178px;
          margin-left: 0;
          margin-right: 5px;
          float: left;
          button {
            width: 100%;
          }
          .multiselect__tags {
            min-height: 40px;
            display: block;
            padding: 0 30px 0 15px;
            line-height: 40px;
            .multiselect__single {
              font-size: 13px;
            }
          }
          .multiselect__select {
            height: 40px;
          }
          .multiselect__option {
            min-height: 40px;
            line-height: 40px;
            font-size: 13px;
          }

        }
      }
    }
  }

}

@include sm {
  .dpg-wrapper {
    .property-listings-component {
      header {
        p {
          font-size: 15px;
        }
      }
      .result-count {
        span.label {
          line-height: $sm-button-height;
        }
      }

      .sort-options {
        float: left;
        width: 100%;
        p {
          padding-bottom: 5px;
        }
        .sort-select-wrapper {
          width: 100%;
          max-width: 350px;
          margin-left: 0;
        }
      }

      .status-options {
        margin: 15px 0;

        li {
          padding: 0 5px;
        }
        button {
          min-width: 130px;
          margin-bottom: 10px;
        }
      }
    }
  }
}