$property-block-grid-padding: 20px;
.property-events-summary {
	.content {
		padding: 0 $property-block-grid-padding 10px;
		overflow: hidden;

		.event-column {
			float: left;
		}

		.property-suburb {
			cursor: pointer;
			padding-right: 10px;
		}

		.event-time {
			width: 100px;
		}

		.property-suburb {
			width: 350px;
		}

		.feature-list {
			display: flex;
			justify-content: space-between;
			width: 150px;
			margin-right: 80px;
		}

		.property-price {
			width: 220px;
		}

		.details-link {
			text-align: right;
		}

		@media screen and (max-width: #{1240}px) {
			.property-price {
				width: 100%;
			}
		}
		@media screen and (max-width: #{780}px) {
			padding:0 0 30px;
			.property-price {
				width: 100%;
				padding-bottom: 5px;
			}
			.feature-list {
				clear:both;
				padding-bottom: 5px;
			}
			.event-column {
				padding-bottom: 5px;
			}
			.property-suburb{
				width: 100%;
				padding-bottom: 5px;
			}
		}

	}
}