.dpg-wrapper {
	.tabs {
		.buttons {
			margin-bottom: $section-margin;
		}
		button {
			width: 100%;
			cursor: pointer;
		}
	}

	.accordion {
		> div {
			> .title {
				margin-bottom: 10px;
			}
			> .content {
				padding: 0 0.25rem;
			}
		}
	}
}
@include lg {
	.dpg-wrapper {
		.tabs {
			.buttons {
				margin-bottom: $lg-section-margin;
			}
		}
	}
}
@include sm {
	.dpg-wrapper {
		.tabs {
			.buttons {
				margin-bottom: $sm-section-margin;
			}
		}
	}
}