<template>
  <div>
      <div class="title active" :class="selectors.btn">
          <a class="btn btn-default btn-block" @click="toggleContent" :class="{'active' : isActivePanel }" v-scroll-to="scrollTo">
              {{ label }}
          </a>
      </div>

      <div class="content" :class="selectors.tab" v-if="isActivePanel">
          <section>
            <slot>

            </slot>
          </section>
      </div>
  </div>
</template>

<script>
import uiMixins from './uiMixins.js';
import TabPanelMixins from '../../mixins/TabPanelMixins.js';
export default {
    name: 'accordion-panel',
    mixins: [
        uiMixins,
        TabPanelMixins,
    ],
    props: {
        /**
         * A display label which is also used to
         * identify this tab panel.
         * @type {Object}
         */
        label: {
            type: String,
            required: true
        },
    },
    data() {
        return {
        };
    },
    computed: {
        activePanel() {
            return this.$parent.activePanel ? this.$parent.activePanel : null;
        },
        scrollTo() {
            return `.${this.selectors.btn}`;
        },
        tabClass() {
          return slugify(`tab-${this.label}`);
        },
        selectors() {
              let slug = slugify(this.label);
              let selectors = {
                label:   this.label,
                tab:     'tab-' + slug,
                btn:     'btn-' + slug,
              };

              return selectors;
        },
        isActivePanel() {
            return this.label  === this.$parent.activePanel;
        },
        parentId() {
            return this.$parent.id;
        }
    },
    methods: {
        toggleContent() {
            if ( this.label === this.$parent.activePanel ) {
                setTimeout(() => {this.$parent.activePanel = '';}, 60);
            } else {
                this.$parent.activePanel = this.label;
            }
        },
        showHidePanel() {
            let content = $('.'+ this.selectors.tab);
            if ( this.isActivePanel ) {
                content.slideDown(35).delay(10).fadeIn(25);
                this.addAppraisalForm();
                this.addContactForm();
                this.addSocialWidget();
                this.addTrustPilotWidget();
            } else {
                content.slideUp(35).delay(10).fadeOut(25);
            }
        },
    },
    watch: {
        isActivePanel() {
            this.showHidePanel();
        },
    },
    /**
     * Broadcasts 'panelWasCreated' event with this
     * panel's label so that it is added to the
     * tab container.
     * @return {void}
     */
    mounted() {
        this.showHidePanel();
        this.ready = true;
    },

};
</script>

<style lang="scss">
.tab-panel {
  display: block;
}
.tab-panel.hide {
  display: none;
}

</style>
