<template>

    <section :id="id" class="tab-container accordion" :class="id">
        <slot>
        </slot>
    </section>

</template>

<script>

import AccordionPanel from './AccordionPanel.vue';

export default {
    name: 'accordion-container',
    props: {
        /**
         * Element ID to apply to the tab container.
         */
        id: {
            type: String,
            default: 'accordion-panel'
        },
        initialActive: {
            type: String
        },
    },

    data() {
        return {
            activePanel: '',
            tabLabels  : [],
        };
    },
    computed: {

    },

    methods: {

    },

    /**
     * Sets the first tab panel to active.
     * @return {void}
     */
    mounted() {
        this.$children.forEach( panel => {
            this.tabLabels.push(panel.label);
        });
        this.activePanel = this.initialActive || this.tabLabels[0];
    },

};
</script>

<style lang="scss">
    // @import '../../../styles/common/variables';
    .hide {
      display: none;
    }
    .tabs {
      display: block;
      max-width: 1000px;
      margin: 0 auto;
      .tab-panel {
        min-height: 400px;
      }
    } // .tabs


</style>
