<template>
	<div class="bg" :class="{'with-overlay': withOverlay}" :style="containerStyle">
	</div>
</template>
<script>
	export default {
		name: 'bg-image',
		props: {
			propImage: {
				type: String,
				default: '[]',
			},
			withOverlay: {
				type: Boolean,
				default: false
			}
		},

		data() {
			return {
				image: JSON.parse(this.propImage),
				resizeTimer: null,
				windowWidth: window.innerWidth,
				windowHeight: window.innerHeight,
				elementWidth: 'auto',
				elementHeight: 'auto',
				mainNavHeight: 0,
				isMobile: true,
			};
		},
		computed: {
			/**
			 * Sets background image to fill container.
			 * @return {void}
			 */
			containerStyle() {
				return {
					backgroundImage: `url(${this.imageUrl})`,
					backgroundRepeat: 'no-repeat',
					backgroundSize: 'cover',
				};
			},
			/**
			 * Images sorted ascending by width and height.
			 * @return {Array}
			 */
			sortedBySize() {
				return this.image.sort((a, b) => {
					return parseInt(a.width) - parseInt(b.width);
				});
			},
			/**
			 * Gets the smallest image that is larger than
			 * element, or the largest image available.
			 * @return {String}
			 */
			imageUrl() {
				let image = this.sortedBySize.find(size => size.width >= this.elementWidth && size.height >= this.elementHeight);
				return image ? image.url : this.sortedBySize[this.sortedBySize.length - 1].url;
			}
		},
		methods: {
			/**
			 * Updates data with fresh values for window and element dimensions.
			 * @return {void}
			 */
			updateViewport() {
				clearTimeout(this.resizeTimer);
				let update = () => {
					this.windowWidth = window.innerWidth;
					this.windowHeight = window.innerHeight;
					this.isMobile = this.windowWidth <= 440 ? true : false;
//                this.mainNavHeight = document.querySelector('nav[role=navigation]').offsetHeight;
					this.mainNavHeight = 0;

					// let el = $(this.$el);
					this.elementWidth = Math.floor(this.$el.offsetWidth);
					this.elementHeight = Math.floor(this.$el.offsetHeight);
				};
				this.resizeTimer = setTimeout(update, 75);
			},
		},

		/**
		 * Sets the first tab panel to active.
		 * @return {void}
		 */
		mounted() {
			this.updateViewport();
			window.addEventListener('resize', this.updateViewport);
		},

	};
</script>
