<template>
    <section :id="id" class="tabs">
        <ul class="buttons" role="tablist">
           <li v-for="panel of panels" :style="buttonStyle()">
               <button @click="setActiveTab(panel.label)"
                    :id="panel.id + '-label'"
                    :aria-controls="panel.id"
                    :aria-selected="isActiveTab(panel.label)"
                    role="tab"
                >
                    {{panel.label}}
               </button>
           </li>
        </ul>
        <slot></slot>
    </section>

</template>

<script>
import TabPanel from './TabPanel.vue';
import StateMixins from '../../mixins/StateMixins.js';
import TabPanelMixins from '../../mixins/TabPanelMixins.js';

export default {
    name: 'tab-container',
    mixins: [
        StateMixins,
        TabPanelMixins,
    ],
    props: {
        /**
         * Element ID to apply to the tab container.
         */
        id: {
            type: String,
            default: 'tab-container'
        },
        initialActive: {
            type: String
        },
        tabWidth: {
            type: Number,
            default: 0,
        }
    },

    data() {
        return {
            /**
             * Indicates that the tab container
             * is ready for display.
             * @type {Boolean}
             */
            ready: false,
            tabLabelWidth: this.tabWidth,
            /**
            * References child tab panes.
            * @type {Array}
            */
            panels : [],
            tabLabels : [],
            /**
            * The currently visible tab panel's label.
            * @type {String}
            */
            activePanel: 'foobar',

        };
    },
    methods: {
        setActiveTab(label) {
            this.activePanel = label;
            this.addContactForm();
            this.addAppraisalForm();
            this.addSocialWidget();
            this.addTrustPilotWidget();
        },
        isActiveTab(label) {
            return label === this.activePanel;
        },
        buttonStyle() {
            this.tabLabelWidth = this.tabWidth ? this.tabWidth : this.tabLabels.length;
            return {
                flex: '1 0 ' + (100 / this.tabLabelWidth) + '%',
            };
        },
        buttonClass(label) {
            if ( this.isActiveTab(label) ) {
                // return 'btn-primary';
            }
        },
    },

    /**
     * Sets the first tab panel to active.
     * @return {void}
     */
    mounted() {
        this.tabLabelWidth = this.tabWidth ? this.tabWidth : this.tabLabels.length;
        this.state.tabContainers[this.id] = {
            labels: [],
            tabs  : [],
        };

        this.$children.forEach(panel => {
            this.tabLabels.push(panel.label);
            this.panels.push({
                label: panel.label,
                id   : panel.id,
            })
            this.state.tabContainers[this.id].labels.push(panel.label)
        });

        this.setActiveTab(this.initialActive || this.$children[0].label);

        this.ready = true;
    },

};
</script>

<style lang="scss">
    .buttons {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            min-width: 200px;
            padding: 0.25rem;
            padding-bottom: 0;
        }
    }
    .tabs {
      display: block;
      margin: 0 auto;
    } // .tabs
    @media( max-width: 440px ) {
        .tabs {
            padding: 0;
        }
    }

</style>
