<template>
	<section class="area-map">
		<google-map
				:assets-url="assetsUrl"
				:id="`${areaType}-map`"
				:lat="lat"
				:lon="lon"
		></google-map>
		<div class="places">
			<div v-show="places.length">
				<ul class="place-list">
					<li v-for="place in places">
						<i class="dpg-icon dpg-icon-map-marker"></i>
						<div>
                        <span class="name">
                          {{ place.name }}
                        </span>
							<span class="distance">
                          {{ place.distance }} km
                        </span>
						</div>
					</li>
				</ul>
			</div>
		
		</div>
	</section>
</template>

<script>
    import GoogleMap from './GoogleMap.vue';

    export default {

        props: {

            /**
             * Determines the type of places to show: Schools|Transport.
             */
            areaType: {
                type: String,
                default: 'Schools',
            },

            lat: {
                type: String,
                default: '-37.813675',
            },

            lon: {
                type: String,
                default: '144.963388',
            },
            assetsUrl: {
                type: String,
                default: ""
            }

        },

        components: {
            GoogleMap,
        },

        data() {

            return {
                infoWindow: null,
                places: [],
            };

        },

        computed: {
            map() {
                return this.$children[0];
            },
            havePlaces() {

                let havePlaces = false;

                if (this.places.length > 0) {
                    havePlaces = true;
                }

                return havePlaces;
            },
            placeTypes() {
                let placeTypes = [];
                switch (this.areaType) {
                    case 'Schools' :
                        placeTypes = ['school'];
                        break;
                    case 'Transport' :
                        placeTypes = ['train_station', 'bus_station', 'subway_station', 'transit_station'];
                        break;
                }

                return placeTypes;
            },
        },

        methods: {

            updatePlaces() {
                let places = {
                    location: new google.maps.LatLng(this.lat, this.lon),
                    radius: 3000,
                    mapType: this.areaType,
                    types: this.placeTypes,
                }

                this.map.updatePlaces(places);

            },

            /**
             * Receives and sets an array of place objects.
             * @param {Array:Object} places
             *
             * @return {void}
             */
            setReceivedPlaces(places) {
                this.places = places.markers;
            },

        },

        mounted() {
            this.infoWindow = new google.maps.InfoWindow();
            this.updatePlaces();
            window.map = this.map;
        },

    };

</script>
<style lang="scss">
</style>
