<template>
	<div :id="id" class="google-map"></div>
</template>
<script>
    import SnazzyInfoWindow from 'snazzy-info-window';

    window.MarkerClusterer = require('@google/markerclusterer');
    /**
     * Google Map Component
     * Use this component to generate google maps with markers.
     *
     * Event Dispatchers:
     *   GoogleMapWasCreated          Fires when a new map was created or
     *                                markers were reset. Parent component
     *                                must pass back map marker array.
     *
     * Event Listeners:
     *   GoogleMapMarkersWereUpdated  Receives updated map marker array from
     *                                parent component and updates map.
     *
     */
    export default {

        props: {
            /**
             * A unique identifier for this google map.
             * Only needed if there is more than one
             * map element on the page.
             * @type {Object}
             */
            id: {
                type: String,
                default: 'map',
            },

            /**
             * Pass in a value for latitude for standalone map.
             * @type {Object}
             */
            lat: {
                type: String,
                default: "0",
            },

            /**
             * Pass in a value for latitude for standalone map.
             * @type {Object}
             */
            lon: {
                type: String,
                default: "0",
            },
            propMarkers: {
                type: String,
                default: "[]",
            },
            assetsUrl: {
                type: String,
                default: "",
            }
        },

        data() {
            return {

                /**
                 * Google maps object.
                 * @type {google.maps.Map}
                 */
                map: null,

                /**
                 * Maps InfoWindow object.
                 * @type {google.maps.InfoWindow()}
                 */
                infoWindow: null,

                /**
                 * A Google Maps Places Service object.
                 * @type {Object}
                 */
                placesService: null,

                /**
                 * Marker coordinates and additional information.
                 * @type {json[]}
                 */
                markers: JSON.parse(this.propMarkers),

                /**
                 * A custom icon to use for map markers.
                 * @type {Object}
                 */
                markerIcon: {
                    path: "M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z",
                    fillColor: window.dpg_wp_properties.mapMarkerColor,
                    fillOpacity: 1,
                    anchor: new google.maps.Point(12, 24),
                    scale: 2, // reaching 48px
                    strokeColor: window.dpg_wp_properties.mapMarkerColor
                },
                clusterer: null,

                /**
                 * Locations converted to google map objects.
                 * @type {google.map.Marker[]}
                 */
                mapMarkers: [],

                /**
                 * Places received from the Google Places service.
                 * @type {Array}
                 */
                placeMarkers: [],

                /**
                 * The google map element's lat/lon bounds.
                 * @type {google.maps.LatLngBounds}
                 */
                bounds: null,
                /**
                 * Google Map Styles.
                 *
                 * @link    https://developers.google.com/maps/documentation/javascript/styling
                 *          Start Styling your Map
                 * @link    https://mapstyle.withgoogle.com/
                 *          Start Styling your Map
                 *
                 * @type {json[]}
                 */
                mapStyles: [
                    {
                        "featureType": "all",
                        "stylers": [
                            {"saturation": -100},
                            {"hue": "#eeeeee"}
                        ]
                    },
                    {
                        "featureType": "road",
                        "stylers": [
                            {"hue": "#AAAAAA"},
                            {"saturation": -100}
                        ]
                    },
                    {
                        "featureType": "transit",
                        "stylers": [
                            {"visibility": "off"}
                        ]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [
                            {"visibility": "off"}]
                    },
                    {
                        "featureType": "water",
                        "stylers": [
                            {"visibility": "simplified"},
                            {"color": "#cdeaf2"},
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels",
                        "stylers": [
                            {"visibility": "simplified"},
                            {"color": "#333344"},
                        ]
                    },
                ],
                clusterStyles: [{
                    url: this.assetsUrl + '/public/images/m1.png',
                    height: 53,
                    width: 53,
                }, {
                    url: this.assetsUrl + '/public/images/m2.png',
                    height: 56,
                    width: 56,
                }, {
                    url: this.assetsUrl + '/public/images/m3.png',
                    height: 66,
                    width: 66,
                }, {
                    url: this.assetsUrl + '/public/images/m4.png',
                    height: 78,
                    width: 78,
                }, {
                    url: this.assetsUrl + '/public/images/m5.png',
                    height: 90,
                    width: 90,
                }]
            }
        },

        filters: {},

        methods: {

            /**
             * Creates a new instance of google map bound to this.id.
             * @return {void}
             */
            initMap() {
                /* Center Map on first set of coordinates. */
                // coords = new google.maps.LatLng(this.markers[0].lat, this.markers[0].lon);
                let coords = new google.maps.LatLng(-37.813598, 144.963378);

                /* Get the Map element and intialise google maps. */
                this.map = new google.maps.Map(document.getElementById(this.id), {
                    center: coords,
                    zoom: 10,
                    scrollwheel: false,
                    styles: this.mapStyles,
                });
                this.placesService = new google.maps.places.PlacesService(this.map);
                this.initInfoWindow();

            },

            initInfoWindow() {
                /**
                 * @type {SnazzyInfoWindow}
                 */
                this.infoWindow = null;

                /* Add markers to map. */
                this.setMarkers();

                let self = this;
                /* Add Click Event to Map to close open InfoWindow. */
                this.map.addListener("click", function () {
                    if (self.infoWindow) {
                        self.infoWindow.destroy();
                    }
                });
            },


            /**
             * Shows the map and initialises.
             * @param  {Array} markers
             *
             * @return {void}
             */
            showMap(markers) {

                this.markers = markers;

                setTimeout(this.initMap, 250);
                // this.initMap();

            },
            /**
             * Calculates the distance between two sets of coordinates.
             * @param  {Number} lat1
             * @param  {Number} lon1
             * @param  {Number} lat2
             * @param  {Number} lon2
             *
             * @return {Number} Distance in KM.
             */
            calcDistance(lat1, lon1, lat2, lon2) {

                var p = 0.017453292519943295;
                var c = Math.cos;
                var a = 0.5 - c((lat2 - lat1) * p) / 2 +
                    c(lat1 * p) * c(lat2 * p) *
                    (1 - c((lon2 - lon1) * p)) / 2;

                return (12742 * Math.asin(Math.sqrt(a))).toFixed(1);
            },

            updatePlaces(places) {
                /* Clear all but base location from markers. */
                this.markers = [this.markers[0]];
                if(this.clusterer) {
                    this.clusterer.clearMarkers();
                }
                /* Created empty placeMarkers array. */
                this.placeMarkers = [];

                /* Request Nearby Places. */
                this.placesService.nearbySearch(places, (results, status) => {
                    if (status === 'OK') {
                        /* Create empty array for unique place names. */
                        let placeNames = [];
                        /* Loop through results and place list and markers. */
                        for (let place of results) {
                            /* Proceed if the place hasn't already been added. */
                            if (!placeNames.includes(place.name)) {
                                placeNames.push(place.name);
                                let distance = this.calcDistance(this.lat, this.lon, place.geometry.location.lat(), place.geometry.location.lng());
                                if (distance < 5) {
                                    let placeText = {
                                        name: place.name,
                                        distance,
                                        location: place.location,
                                    };
                                    this.placeMarkers.push(placeText);

                                    let marker = {
                                        lat: place.geometry.location.lat(),
                                        lon: place.geometry.location.lng(),
                                        infoWindow: `
                                              <div class="place">
                                                  <span>${place.name}</span>
                                                  <small>${distance} km</small>
                                              </div>
                                            `,
                                        icon: this.markerIcon,
                                    };
                                    this.markers.push(marker);
                                }
                            }
                        }
                        this.$parent.places = this.placeMarkers;
                        // this.$dispatch('GooglePlacesWereReceived', {type: places.mapType, markers: this.placeMarkers})
                        this.setMarkers();

                    }
                });
            },
            /**
             * Dispatches 'GoogleMapWasCreated' event to
             * refresh markers from parent component.
             * @return {void}
             */
            updateMarkers() {

                // this.$dispatch('GoogleMapWasCreated', '');

            },

            /**
             * Listener for 'GoogleMapMarkersWereUpdated' event.
             *
             * Loops through the markers array and created new
             * google.map.Markers for each set of coordinates,
             * then pushes these to the map element.
             */
            setMarkers(newMarkers) {
                if (newMarkers !== undefined) {
                    this.markers = [];
                    this.markers = newMarkers;
                }

                this.clearMap();
                /* Stop if there are no markers. */
                if (this.markers.length < 1) {
                    return;
                }

                this.mapMarkers = [];

                /**
                 * Cast each marker to google.maps.Marker object
                 * then add to the google maps object and push
                 * to mapMarkers array.
                 * @param  {json}     Lat and Lon coords.
                 * @return {void}
                 */
                this.markers.forEach((location) => {
                    /* Use default icon if none is passed. */
                    if (location.icon === undefined) location.icon = this.markerIcon;

                    /* Build Marker Object. */
                    let marker = new google.maps.Marker({
                        position: new google.maps.LatLng(location.lat, location.lon),
                        title: location.title,
                        icon: location.icon,
                    });

                    // Add event listener for infoWindow, if it exists.
                    if (location.infoWindow !== undefined) {
                        google.maps.event.addListener(marker, 'click', (e) => {
                            if (this.infoWindow) { // destroy the previous one
                                this.infoWindow.destroy();
                            }
                            this.infoWindow = new SnazzyInfoWindow({
                                marker: marker,
                                content: location.infoWindow,
                                backgroundColor: '#f0f0f0',
                                offset: {
                                    top: '-50px'
                                }
                            });
                            this.infoWindow.open();
                        });
                    }
                    /* Push map marker. */
                    this.mapMarkers.push(marker);
                });

                /* Set mapBounds or center on single marker. */
                if (this.mapMarkers.length > 1) {
                    this.setBounds();
                } else {
                    this.map.setZoom(14);
                    let coords = new google.maps.LatLng(this.markers[0].lat, this.markers[0].lon);
                    this.map.setCenter(coords);
                }
                /* Now loop through and drop each marker on a timer. */
                let ii = 1;
                this.mapMarkers.forEach(marker => {
                    setTimeout(() => marker.setMap(this.map), 15 * ii);
                    ii += 1;
                });
                setTimeout(() => {
                    if (this.mapMarkers.length && this.map) {
                        this.clusterer = new MarkerClusterer(this.map, this.mapMarkers, {
                            styles: this.clusterStyles
                        });
                    }
                }, 15 * ii);


            },

            /**
             * Loops through mapMarkers and recalculates the map's bounds.
             * @return {void}
             */
            setBounds() {
                this.bounds = new google.maps.LatLngBounds();
                this.markers.forEach((marker) => {
                    let latLng = new google.maps.LatLng(marker.lat, marker.lon);
                    this.bounds.extend(latLng);
                });
                this.map.fitBounds(this.bounds);
            }
            ,

            /**
             * Clears all map markers from the map.
             * @return {void}
             */
            clearMap() {
                this.mapMarkers.forEach((marker) => {
                    marker.setMap(null);
                });
                if (this.clusterer) {
                    this.clusterer.clearMarkers();
                }
            }
            ,
        },
        mounted() {
            let coordProps = (this.lat > 0 || this.lat < 0) && (this.lon > 0 || this.lon < 0);
            if (coordProps) {
                this.markers.push({lat: this.lat, lon: this.lon});
            }
            this.initMap();
            /* Create loop to check for visible map, then initialize. */
            let timer = true;
            let isVisible = () => {
                if (timer) {
                    if ($('#' + this.id).is(':visible')) {
                        timer = null;
                        this.initMap();
                    } else {
                        timer = setTimeout(isVisible, 1000);
                    }
                }
            };
            isVisible();
        }
        ,
    }
    ;
</script>
