<template id="propertyEventsComponent">
	<div class="property-events-component">
		<div class="dpg-container">
			<header>
				<section class="type-filter">
					<ul class="event-type-options">
						<li>
							<button class="status-btn"
							        @click="inspectionsTab=true"
							        :aria-pressed="inspectionsTab"
							        aria-label="Inspections"
							>
								Inspections
							</button>
						</li>
						<li>
							<button class="status-btn"
							        @click="inspectionsTab=false"
							        :aria-pressed="!inspectionsTab"
							        aria-label="Auctions"
							>
								Auctions
							</button>
						</li>
					</ul>
				</section>
				<div class="cf"></div>
				<div class="clearfix"></div>
			</header>
		</div>
		<div class="dpg-container">
			<div class="row">
				<div class="property-events-component">
					<ul class="property-inspections" v-if="inspectionsTab">
						<li v-for="(day, key) in inspections" :key="key">
							<span class="property-event-day">{{getDate(key)}}</span>
							<ul class="property-inspection-day">
								<li v-for="(time, subKey) in day" :key="subKey">
									<ul class="property-inspection-day-event">
										<li v-for="(event, eventKey) in time" :key="event.property.ID">
											<property-event-summary
													:prop-property="JSON.stringify(event.property)"
													:prop-timezone-offset="propTimezoneOffset"
													:prop-event-time="subKey">

											</property-event-summary>
										</li>
									</ul>
								</li>
							</ul>
						</li>

					</ul>
					<ul class="property-auctions" v-if="!inspectionsTab">
						<li v-for="(day, key) in auctions" :key="key">
							<span class="property-event-day">{{getDate(key)}}</span>
							<ul class="property-auction-day">
								<li v-for="(time, subKey) in day" :key="subKey">
									<ul class="property-auction-day-event">
										<li v-for="(event, eventKey) in time" :key="event.property.ID">
											<property-event-summary
													:prop-property="JSON.stringify(event.property)"
													:prop-event-time="subKey"
													:prop-timezone-offset="propTimezoneOffset"
											>

											</property-event-summary>
										</li>
									</ul>
								</li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import moment from "moment";
	import PropertyEventSummary from "./property/PropertyEventSummary";

	export default {
		name: 'property-events',
		components: {
			PropertyEventSummary
		},
		props: {
			/**
			 * An Array of JSON property data.
			 * @type {String}
			 */
			propAuctions: {
				type: String,
				default: '{}'
			},
			/**
			 * An Array of JSON property data.
			 * @type {String}
			 */
			propInspections: {
				type: String,
				default: '{}'
			},
			propTimezoneOffset:{
				type: Number,
				default: 0,
			}
		},
		data() {

			return {
				/**
				 * Received auction data.
				 * @type {Array}
				 */
				auctions: JSON.parse(this.propAuctions),

				/**
				 * Received inspection data.
				 * @type {Array}
				 */
				inspections: JSON.parse(this.propInspections),

				inspectionsTab: true

			};
		},
		methods: {
			getDate(timestamp) {
				return moment(timestamp, 'YYYY-MM-DD').format('dddd, MMMM D, YYYY')
			}
		}

	};
</script>