<template id="propertyListingsComponent">
  <div class="property-listings-component" :class="{extended:hasMap}" :style="containerStyle">
    <google-map :assets-url="assetsUrl" v-if="hasMap"></google-map>
    <div class="dpg-container">
      <header>
        <section v-if="!hasLoadMore" class="latest-filter">
          <ul v-if="hasSubFilter" class="status-options">
            <li v-for="(filter, index) in type.filters">
              <button class="status-btn"
                  @click="setFilterStatus(filter)"
                  :aria-pressed="isActiveStatus(filter)"
                  aria-label="Show current properties"
              >
                {{ filter.toUpperCase() }}
              </button>
            </li>
          </ul>
        </section>
        <section v-if="!hasLoadMore" class="sort-options filter-options">
          <div class="sort-select-wrapper">
            <multiselect
                v-model="type"
                v-if="type"
                :options="typeOptions"
                :multiple="false"
                :searchable="false"
                :show-labels="false"
                :allow-empty="false"
                :close-on-select="true"
                label="label"
                track-by="value">
            </multiselect>
          </div>
          <div class="sort-select-wrapper">
            <multiselect
                v-model="sorting"
                :options="sortingOptions"
                :multiple="false"
                :searchable="false"
                :show-labels="false"
                :allow-empty="false"
                :close-on-select="true"
                label="label"
                track-by="value">
            </multiselect>
          </div>
        </section>
        <section v-if="hasLoadMore" class="sort-options filter-options">
          <div class="left-side">
            <div class="sort-select-wrapper">
              <multiselect
                  v-model="type"
                  v-if="type"
                  :options="typeOptions"
                  :multiple="false"
                  :searchable="false"
                  :show-labels="false"
                  :allow-empty="false"
                  :close-on-select="true"
                  label="label"
                  track-by="value">
              </multiselect>
            </div>

            <div class="sort-select-wrapper">
              <multiselect
                  v-if="type.categoryFilters"
                  v-model="category"
                  :disabled="!type.categoryFilters"
                  :options="type.categoryFilters"
                  :multiple="false"
                  :searchable="false"
                  :show-labels="false"
                  :allow-empty="false"
                  :close-on-select="true"
                  placeholder="Property Type"
              >
              </multiselect>
            </div>
          </div>
          <div class="right-side">
            <div class="sort-select-wrapper">
              <multiselect
                  v-if="suburbOptions"
                  v-model="suburb"
                  :disabled="!suburbOptions"
                  :options="suburbOptions"
                  :multiple="false"
                  :searchable="false"
                  :show-labels="false"
                  :allow-empty="false"
                  :close-on-select="true"
                  placeholder="Suburb"
              >
              </multiselect>
            </div>
            <div class="sort-select-wrapper">
              <multiselect
                  v-model="sorting"
                  :options="sortingOptions"
                  :multiple="false"
                  :searchable="false"
                  :show-labels="false"
                  :allow-empty="false"
                  :close-on-select="true"
                  label="label"
                  track-by="value">
              </multiselect>
            </div>
          </div>
        </section>
        <div class="cf"></div>
        <div class="clearfix"></div>
      </header>
    </div>
    <div class="dpg-container">
      <div v-if="hasLoadMore" class="row bottom-filter">
        <div class="left-side">
          <ul v-if="hasSubFilter" class="status-options">
            <li v-for="(filter, index) in type.filters">
              <button class="status-btn"
                  @click="setFilterStatus(filter)"
                  :aria-pressed="isActiveStatus(filter)"
                  aria-label="Show current properties"
              >
                {{ filter.toUpperCase() }}
              </button>
            </li>
          </ul>
        </div>
        <div class="right-side">
          <div class="right-side-actions">
            <p v-if="hasLoadMore" class="result-count">
              <span class="label">{{ count }} properties found</span>
            </p>
            <ul v-if="hasLoadMore" class="grid-options">
              <li>
                <a class="grid-btn" :class="{active:!showGrid}"
                    :aria-pressed="! showGrid"
                    @click="showGrid = false"
                    title="Summary View"
                    aria-label="Show summary view"
                >
                  <i class="fa fa-th-list" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="grid-btn" :class="{active:showGrid}"
                    @click="showGrid = true"
                    :aria-pressed="showGrid"
                    title="Grid View"
                    aria-label="Show grid view"
                >
                  <i class="fa fa-th" aria-hidden="true"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <property-grid
            :prop-properties="JSON.stringify(visibleProperties)"
            :prop-grid="JSON.stringify(showGrid)"
        >
        </property-grid>
      </div>
      <div v-if="hasLoadMore" class="row load-more" style="padding-top: 0.5rem;">
        <button class="load-btn"
            @click="nextPage()"
            v-if="! isLastPage"
            aria-label="Show more results"
        >
          Load More
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
import GoogleMap from './GoogleMap.vue';
import PropertyGrid from './property/PropertyGrid.vue';
import ResponsiveMixins from '../mixins/ResponsiveMixins.js';
import Multiselect from 'vue-multiselect';
import Vue from 'vue';

export default {
  name: 'property-listings',
  components: {
    GoogleMap,
    PropertyGrid,
    Multiselect
  },
  mixins: [
    ResponsiveMixins
  ],
  props: {
    /**
     * Initial filter status.
     * @type {String}
     */
    propFilterStatus: {
      type: String,
      default: 'current'
    },
    /**
     * An Array of JSON property data.
     * @type {String}
     */
    propProperties: {
      type: String,
      default: '{}'
    },
    /**
     * Remove the map and show only 3
     **/
    onlyLatest: {
      type: Boolean,
      default: false,
    },
    propShowGrid: {
      type: String,
      default: true,
    },
    propDefaultOrder: {
      type: String,
      default: 'DATE-DESC',
    },
    assetsUrl: {
      type: String,
      default: '',
    }
  },
  data() {
    let sortingOptions = [ {
      label: 'Date (Last Updated)',
      value: 'DATE-DESC',
    }, {
      label: 'Date (Newest to Oldest)',
      value: 'DATE-DESC-CREATED',
    }, {
      label: 'Date (Oldest to Newest)',
      value: 'DATE-ASC-CREATED',
    }, {
      label: 'Price (Low to High)',
      value: 'PRICE-ASC',
    }, {
      label: 'Price (High to Low)',
      value: 'PRICE-DESC',
    } ];
    let perPage = 9;
    if ( this.onlyLatest ) {
      perPage = 3;
    }
    return {
      /**
       * Current page of results being viewed.
       * @type {Number}
       */
      currentPage: 1,
      /**
       * Number of results per page.
       * @type {Number}
       */
      resultsPerPage: perPage,
      /**
       * Only show properties with {status}
       * @type {String}
       */
      filterStatus: this.propFilterStatus,

      /**
       * Sorting options.
       * @type {Array}
       */
      sortingOptions: sortingOptions,

      /**
       * Selected sorting option.
       * @type {Object}
       */
      sorting: sortingOptions[ 0 ],
      /**
       * Sorting options.
       * @type {Array}
       */
      typeOptions: [],
      /**
       * Selected sorting option.
       * @type {Object}
       */
      type: {},
      /**
       * Show properties in a grid or as a summary list.
       * @type {Boolean}
       */
      showGrid: JSON.parse( this.propShowGrid ),
      /**
       * Received property data.
       * @type {Array}
       */
      properties: JSON.parse( this.propProperties ),
      /**
       * Store the current category filter
       */
      category: '',
      /**
       * Suburb filter value
       */
      suburb: '',
      /**
       * Suburb options
       */
      suburbOptions: [],

    };
  },
  computed: {
    /**
     * This is the last page of results for active property filters.
     * @return {Boolean}
     */
    isLastPage() {
      return ( this.currentPage * this.resultsPerPage ) > this.filterProperties.length;
    },

    /**
     * An array of properties which match active property filters and is
     * sorted according to current sort parameters.
     * @return {Array}
     */
    filterProperties() {
      let properties = this.properties.filter( this.filterByType ).filter( this.filterByStatus );
      if ( this.category && this.category !== this.getCategoryResetLabel() ) {
        properties = properties.filter( this.filterByCategory );
      }
      if ( this.suburb && this.suburb !== this.getSuburbResetLabel() ) {
        properties = properties.filter( this.filterBySuburb );
      }
      return properties.sort( this.sort );
    },
    /**
     * An Array of map markers from currently viewed properties.
     * @return {Array}
     */
    mapMarkers() {
      let properties = this.filterProperties.filter( property => {
        if ( property && property.fields.address_display ) {
          return property.fields.address_display === 'yes';
        }

        return true;
      } );
      return properties.map( property => {
        return {
          title: property.post_title,
          lat: property.fields.lat,
          lon: property.fields.lon,
          infoWindow: this.makePropertyInfoWindow( property ),
        }
      } );
    },
    hasSubFilter() {
      return this.type !== 'off';
    },
    hasCategoryFilter() {
      return this.type.categoryFilters !== [];
    },
    containerStyle() {
      if ( this.windowWidth > 440 )
        return {
          paddingTop: this.mainNavHeight + 'px',
        };
    },
    hasMap() {
      return ! this.onlyLatest;
    },
    hasLoadMore() {
      return ! this.onlyLatest;
    },
    /**
     * Results count for active property filters.
     * @return {Number}
     */
    count() {
      return this.filterProperties.length;
    },
    /**
     * An array of visible {filterProperties} based on {currentPage} and {resulstPerPage}.
     * @return {Array}
     */
    visibleProperties() {
      return this.filterProperties.slice( 0, this.currentPage * this.resultsPerPage );
    },
  },
  methods: {
    /**
     * Generates infoWindow HTML for {property}
     * @param  {Object} property
     * @return {String}
     */
    makePropertyInfoWindow( property ) {
      let bgImg = '';
      if ( property.fields.images ) {
        bgImg = property.fields.images[ 0 ].url;
      }
      let address = `${ property.fields.address_street_number } ${ property.fields.address_street } <br> ${ property.fields.address_suburb } ${ property.fields.address_state } ${ property.fields.address_postcode }`,
          url = `/property/${ property.post_name }`;

      return `<div class="infowindow property-infowindow">
							<div class="wrapper">
		                        <!--<div class="image" style="background-image: url('${ bgImg }');"></div>-->
		                        <img src="${ bgImg }" alt="">
		                        <ul class="info">
		                            <li class="address">
		                                ${ address }
		                            </li>
		                            <li class="features">
		                                <span class="count">${ property.fields.bedrooms }</span>
		                                <i class="dpg-icon dpg-icon-bed"></i>
		                                <span class="count">${ property.fields.bathrooms }</span>
		                                <i class="dpg-icon dpg-icon-bath"></i>
		                                <span class="count">${ property.fields.car_spaces }</span>
		                                <i class="dpg-icon dpg-icon-car"></i>
		                            </li>
		                            <li class="link">
		                                <a href="${ url }" class="btn btn-default btn-block btn-primary">
		                                    View
		                                </a>
		                            </li>
		                        </ul>
		                    </div>
	                    </div>`;
    },

    /**
     * Sorts {a} and {b} based on the sorting option.
     * @param  {Object} a
     * @param  {Object} b
     * @return {Boolean}
     */
    sort( a, b ) {
      if ( this.sorting.value === 'DATE-DESC' ) {
        a = moment( a.fields.updated_at );
        b = moment( b.fields.updated_at );
        return a.isAfter( b ) ? -1 : 1;
      } else if ( this.sorting.value === 'DATE-DESC-CREATED' ) {
        a = moment( a.fields.created_at );
        b = moment( b.fields.created_at );
        return a.isAfter( b ) ? -1 : 1;
      } else if ( this.sorting.value === 'DATE-ASC-CREATED' ) {
        a = moment( a.fields.created_at );
        b = moment( b.fields.created_at );
        return a.isAfter( b ) ? 1 : -1;
      } else {
        a = parseInt( a.fields.price );
        b = parseInt( b.fields.price );
        return this.sorting.value === 'PRICE-ASC' ? ( a - b ) : ( b - a );
      }
    },

    filterByStatus( property ) {
      return this.filterStatus === property.fields.property_status;
    },
    filterByType( property ) {
      return this.type.value === property.type;
    },
    filterByCategory( property ) {
      let currentCategory = this.category.toLowerCase().replace(/\s+/g, '');
      let propertyCategory = property.fields.category.toLowerCase().replace(/\s+/g, '');
      return currentCategory === propertyCategory;
    },
    filterBySuburb( property ) {
      return this.suburb === property.fields.address_suburb;
    },
    onlyUnique( value, index, self ) {
      return self.indexOf( value ) === index;
    },

    /**
     * Increments the current page of property listings.
     * @return {void}
     */
    nextPage() {
      this.currentPage += 1;
    },
    /**
     * Sets the status filter
     * @param  {String} status
     * @return {void}
     */
    setFilterStatus( status ) {
      if ( [ 'current', 'sold', 'leased', 'auction', 'inspection' ].indexOf( status ) > -1 ) {
        this.filterStatus = status;
      }
    },
    setFilterType( type ) {
      let matchingTypes = this.typeOptions.filter( function( el ) {
        return el.value === type
      } );
      if ( matchingTypes[ 0 ] ) {
        this.type = matchingTypes[ 0 ]
      }
    },
    setFilterCategory( category ) {
      this.category = category;
    },
    resetCategory() {
      this.category = '';
    },
    setFilterSuburb( suburb ) {
      this.suburb = suburb;
    },
    resetSuburb() {
      this.suburb = '';
    },
    /**
     * Goes trough all properties and sets all available filters
     *
     */
    setTypeFilterOptions() {

      let typeOptions = this.getTypeOptionsRaw()
      let options = this.properties.map( function( property ) {
        return property.type;
      } );
      this.typeOptions = typeOptions.filter( function( el ) {
        return ( jQuery.inArray( el.value, options ) !== -1 );
      } );
      this.type = this.typeOptions[ 0 ];

    },
    setSuburbFilterOptions() {

      let options = this.properties.map( function( property ) {
        return property.fields.address_suburb;
      } );
      options.unshift( this.getSuburbResetLabel() );
      this.suburbOptions = options.filter( this.onlyUnique );

    },
    getTypeOptionsRaw() {
      return [ {
        label: 'Residential Sales',
        value: 'residential',
        filters: [ 'current', 'sold' ],
        categoryFilters: this.getResidentialCategories()
      }, {
        label: 'Commercial Sale',
        value: 'commercial_sale',
        filters: [ 'current', 'sold' ],
        categoryFilters: this.getCommercialCategories(),
      }, {
        label: 'Commercial Lease',
        value: 'commercial_lease',
        filters: [ 'current', 'leased' ],
        categoryFilters: this.getCommercialCategories(),
      }, {
        label: 'Commercial',
        value: 'commercial',
        filters: [ 'current', 'leased' ],
        categoryFilters: this.getCommercialCategories(),
      }, {
        label: 'Commercial Land',
        value: 'commercialland',
        filters: [ 'current', 'leased' ],
        categoryFilters: this.getCommercialCategories(),
      }, {
        label: 'Land',
        value: 'land',
        filters: [ 'current', 'sold' ],
        categoryFilters: [ this.getCategoryResetLabel() ]
      }, {
        label: 'Rental',
        value: 'rental',
        filters: [ 'current', 'leased' ],
        categoryFilters: this.getRentalCategories()
      }, {
        label: 'Rural',
        value: 'rural',
        filters: [ 'current', 'sold' ],
        categoryFilters: [ this.getCategoryResetLabel() ]
      }, {
        label: 'AcreageSemi-rural',
        value: 'AcreageSemi-rural',
        filters: [ 'current', 'sold' ],
        categoryFilters: [ this.getCategoryResetLabel() ]
      },
      {
        label: 'Off Market',
        value: 'off-market',
        filters: [ 'current', 'sold' ],
        categoryFilters: [ this.getCategoryResetLabel() ]
        }
      ];
    },
    getCategoryResetLabel() {
      return 'Any Property Type';
    },
    getSuburbResetLabel() {
      return 'Any Suburb';
    },
    getRentalCategories() {
      return [
        this.getCategoryResetLabel(),
        'Any',
        'House',
        'Apartment',
        'Townhouse',
        'Land',
        'Rural',
      ];
    },
    getResidentialCategories() {
      return [
        this.getCategoryResetLabel(),
        'House',
        'Apartment',
        'Townhouse',
        'Land',
        'Rural',
        'New Apartment',
        'New House and Land',
        'AcreageSemi-rural'
      ];
    },
    getCommercialCategories() {
      return [
        this.getCategoryResetLabel(),
        'Investment',
        'Offices',
        'Retail',
        'Industrial / Warehouse',
        'Land / Development',
        'Hotel / Leisure',
        'Serviced Offices',
        'Medical / Consulting',
        'Parking / Car Space',
        'Rural / Farming',
        'Showrooms / Bulky Goods'
      ];
    },
    isActiveStatus( status ) {
      return this.filterStatus ? this.filterStatus === status : true;
    },
    setFiltersFromUrl() {
      /** Parse query string and set filters. */
      let params = new URLSearchParams( window.location.search );
      if ( params.get( 'type' ) ) {
        this.setFilterType( params.get( 'type' ) );
      }
      if ( params.get( 'status' ) ) {
        Vue.nextTick( () => {
          this.setFilterStatus( params.get( 'status' ) );
        } );
      }
      if ( params.get( 'category' ) ) {
        Vue.nextTick( () => {
          this.setFilterCategory( params.get( 'category' ) );
        } );
      }
      if ( params.get( 'suburb' ) ) {
        Vue.nextTick( () => {
          this.setFilterSuburb( params.get( 'suburb' ) );
        } );
      }
    }
  },
  watch: {
    /**
     * When property list is updated, push new map markers.
     * @return {void}
     */
    count() {
      this.currentPage = 1;
      if ( this.hasMap ) {
        this.$children[ 0 ].setMarkers( this.mapMarkers );
      }
    },
    type() {
      this.setFilterStatus( 'current' );
      this.resetCategory();
    },
    filterStatus() {
      this.resetSuburb();
      this.setSuburbFilterOptions();
    }
  },
  mounted() {
    this.setTypeFilterOptions();
    this.setFiltersFromUrl();
    Vue.nextTick( () => {
      this.resetSuburb();
      this.setSuburbFilterOptions();
    } );
  }


};
</script>
<style lang="scss" scoped>
.google-map {
  height: 300px !important;
  @media screen and (max-width: #{768 - 1}px) {
    height: 180px !important;
  }
}
</style>
