.dpg-wrapper {
	.bg {
		@include fill();
		background: $tertiary-color no-repeat center center;
		background-size: cover;
		transition: transform 0.2s ease-out;

		&.with-overlay {
			&:after {
				content: "";
				@include fill();
				background-color: #000;
				opacity: 0.3;
				transition: opacity 0.2s ease-out;
			}
		}
	}
}
