$button-height: 62px;
$lg-button-height: 52px;
$sm-button-height: 45px;
.dpg-wrapper {
	button, .btn {
		cursor: pointer;
		font-family: $font-family;
		display: inline-block;
		height: $button-height;
		line-height: $button-height;
		border-radius: 3px;
		padding: 0 40px;
		font-size: 17px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid $primary-color;
		color: $primary-color;
		background-color: transparent;
		transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;

		&:focus {
			outline: 0 !important;
		}

		&:hover, &:focus, &[aria-pressed], &[aria-selected], &.active {
			color: #fff;
			background-color: $primary-color;
			border-color: $primary-color;
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		}

		&[aria-pressed], &[aria-selected], &.active {
			box-shadow: none;
		}
		&.btn-block {
			width: 100%;
		}
		&.btn-fill {
			color: #fff;
			background-color: $primary-color;

			&:hover, &:focus {
				background-color: $primary-color-hover;
				border-color: $primary-color-hover;
			}
		}
	}
}
@include lg {
	.dpg-wrapper {
		button, .btn {
			height: $lg-button-height;
			line-height: $lg-button-height;
			padding: 0 30px;
			font-size: 16px;
		}
	}
}
@include sm {
	.dpg-wrapper {
		button, .btn {
			height: $sm-button-height;
			line-height: $sm-button-height;
			padding: 0 20px;
			font-size: 14px;
		}
	}
}