$fancy-line-height: 14px;
$lg-fancy-line-height: 12px;
$sm-fancy-line-height: 10px;
.dpg-wrapper {
	.fancy-line {
		display: inline-block;
		width: 120px;
		position: relative;
		height: $fancy-line-height;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			width: $fancy-line-height;
			height: $fancy-line-height;
			background-color: $white;
		}

		&:after {
			content: '';
			position: absolute;
			left: 23px;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			height: 1px;
			background-color: $white;
		}

		&.fancy-line-dark {
			&:before {
				background-color: $black;
			}
			&:after {
				background-color: $black;
			}
		}
	}
}
@include lg {
	.dpg-wrapper {
		.fancy-line {
			width: 100px;
			height: $lg-fancy-line-height;

			&:before {
				width: $lg-fancy-line-height;
				height: $lg-fancy-line-height;
			}

			&:after {
				left: 20px;
			}
		}
	}
}

@include sm {
	.dpg-wrapper {
		.fancy-line {
			width: 80px;
			height: $sm-fancy-line-height;

			&:before {
				width: $sm-fancy-line-height;
				height: $sm-fancy-line-height;
			}

			&:after {
				left: 18px;
			}
		}
	}
}