.dpg-wrapper {

  .status {
    > span {
      color: #fff;
      padding: 8px 20px;
      font-size: 12px;
      line-height: 14px;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px;

      &.new {
        background-color: $status-new-color;
      }

      &.sold {
        background-color: $status-sold-color;
      }

      &.leased {
        background-color: $status-leased-color;
      }

      &.under-offer {
        background-color: $status-under-offer-color;
      }

      &.surface {
        color: $black;
        text-transform: lowercase;
      }
    }
  }
}
