.dpg-wrapper {
	.neighbourhoods-section {
		margin: 40px 0;
		text-align: center;
		.container {
			> i {
				color: $primary-color;
				font-size: 50px;
			}
			> h3 {
				color: $primary-color;
				font-size: 38px;
				margin-bottom: $section-margin;
			}
		}
	}
}
@include lg {
	.dpg-wrapper {
		.neighbourhoods-section {
			.container {
				> i {
					font-size: 45px;
				}
				> h3 {
					font-size: $lg-headings-font-size;
					margin-bottom: $lg-section-margin;
				}
			}
		}
	}
}
@include fb {
	.dpg-wrapper {
		.neighbourhoods-section {
			.container {
				> i {
					font-size: 38px;
				}
				> h3 {
					font-size: $sm-headings-font-size;
					margin-bottom: $sm-section-margin;
				}
			}
		}
	}
}