.single-neighbourhood {
  .section-title {
    text-align: center;
    padding: 60px 0 20px;
    clear: both;
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family;
      color: $primary-color;
      font-size: 2rem;
    }
  }
  section.properties {
    overflow: hidden;
  }
  .entry-title {
    font-family: $font-family;
    color: $primary-color;
    font-size: 2rem;
  }
  .median-house-prices {
    @extend .no-list-style;
    @extend .flex-row;
    flex-wrap: wrap;
    li {
      flex: 0 0 50%;
      padding: 0 1rem;
      h3 {
        text-align: center;
      }
      .content {
        width: 100%;
        background-color: $grey-lighter;
        position: relative;
        @extend .flex-col;
        justify-content: center;
        align-items: center;
        .header {
          border: 1px solid darken($grey-lighter, 15%);
          text-align: left;
          padding: 1rem;
          font-size: 1.75rem;
          line-height: 1.25em;
          letter-spacing: 1px;
          font-weight: 700;
        }
        &.house {
          border-bottom: 1px solid #007bce;
        }
        &.unit {
          border-bottom: 1px solid #d9281d;
        }
        > * {
          text-align: center;
          width: 100%;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 100%;
        }
      }
    }
  }
}

body.single-neighbourhood {
  .neighbourhood.map {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    height: 40vh;
    width: 100vw;
    margin-bottom: 1rem;
    position: relative;
    .overlay {
      position: absolute;
      background-color: transparent;
      top: 0;
      left: 0;
      width: 100%;
      height: 41vh;
    }
    iframe {
      height: 40vh;
      width: 100vw;
    }
  }
  .neighbourhood-social {
    min-height: 400px;
    height: auto;
  }
  .intro-tabs {
    @extend .no-list-style;
    @extend .flex-row;
    justify-content: center;
    padding: 2rem 0;
    > li {
      flex: 0 0 33%;
      padding: 0 1rem;
      @extend .flex-row;
      justify-content: center;
      > a {
        @extend .flex-col;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 100%;
        height: 200px;
        width: 200px;
        line-height: 165px;
        margin-bottom: 1em;
        color: #FFF;
        text-transform: uppercase;
        letter-spacing: 2px;
        &#lifestyle {
          background: #79bcff;
          border-colour: #79bcff;
          &:hover {
            background: lighten(#79bcff, 9%) !important;
            background-color: lighten(#79bcff, 9%) !important;
          }
        }
        &#people {
          background: #ff6666;
          border-colour: #ff6666;
          &:hover {
            background: lighten(#ff6666, 9%) !important;
            background-color: lighten(#ff6666, 9%) !important;
          }
        }
        &#homes {
          background: #68d09f;
          border-colour: #68d09f;
          &:hover {
            background: lighten(#68d09f, 9%) !important;
            background-color: lighten(#68d09f, 9%) !important;
          }
        }
      }
    }
  }

  #discover-content {
    .image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      padding-top: 56.2%;

      .label {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        color: #FFF;
        text-transform: uppercase;
      }

      &:before {
        content: "";
        @include fill();
        background-color: #000;
        opacity: 0.3;
      }
    }

    .row {
      &.one {
        .label {
          font-size: 5rem;
        }
      }

      &.two {
        @media(min-width: 768px) {
          .image {
            padding-top: 75%;
          }
        }

        &.sixtysix-thirtythree {
          .column {
            &:first-child {
              width: 66.66% !important;
            }

            &:last-child {
              width: 33.33% !important;

            }
          }
        }

        .label {
          font-size: 2rem;
        }
      }

      &.three {
        @media(min-width: 768px) {
          .image {
            padding-top: 100%;
          }
        }
      }
    }
  }
}

// Media query mixins for media room featured image.
.dpg-wrapper {
  .discover-grid {
    padding: 2rem 0;
    ul {
      @extend .no-list-style;
      @extend .flex-row;
      justify-content: stretch;
      width: 100%;
      li {
        border: 4px solid white;
        overflow: hidden;
        div {
          @extend .center-background;
        }
      }
      &.one.column {
        li {
          flex: 0 10 100%;
        }
      }
      &.two.column {
        li {
          flex: 0 10 50%;
        }
      }
      &.three.column {
        li {
          flex: 0 10 (100 / 3) * 1%;
        }
      }
    }
  }
  .demographic-tabs {
    @extend .no-list-style;
    @extend .flex-row;
    justify-content: center;
    .btn {
      cursor: pointer;
    }
    li {
      flex: 0 0 50%;
      padding: 0.5rem;
    }
  }
  .demographic-content {
    padding: 2rem 0;
    > div {
      min-height: 440px;
      box-sizing: border-box;
    }
    .demographics-label {
      color: black;
      font-weight: 100;
      font-family: $base-font;
    }
    .demographics-summary,
    .demographic.top-3 {
      @extend .no-list-style;
      @extend .flex-row;
      justify-content: space-around;
      li {
        flex: 0 0 27.5%;
        position: relative;
        .label {
          @extend .demographics-label;
          position: absolute;
          top: 37%;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 1rem;
          line-height: 1.5;
          .percentage {
            font-size: 0.8rem;
            display: block;
            padding-top: 0.5rem;
            color: $grey-dark;
          }
        }
      }
    }
    .demographics-detail,
    .demographic.detail {
      @extend .no-list-style;
      margin-left: 0.5rem;
      li {
        @extend .flex-row;
        justify-content: flex-start;
        padding-bottom: 0.5rem;
        .bar {
          color: white;
        }
        > * {
          padding: 0.25rem;
        }
        .label {
          @extend .demographics-label;
          font-size: 1.25rem;
          line-height: 1.5em;
        }
      }
    }
  }
}

@include fb {
  .single-neighbourhood {
    .section-title {
      text-align: center;
      padding: 40px 0 15px;
      clear: both;
      h1, h2, h3, h4, h5, h6 {
        font-size: 1.5rem;
      }
    }

    .median-house-prices {
      flex-wrap: wrap;
      li {
        flex: 0 0 50%;
        padding: 0 1rem;
        h3 {
          text-align: center;
        }
        .content {
          .header {
            padding: 0.75rem;
            font-size: 1.25rem;
            line-height: 1.25em;
            letter-spacing: 1px;
            font-weight: 700;
          }
        }

      }
    }
  }
  .dpg-wrapper {
    .demographic-content {
      .demographics-detail,
      .demographic.detail {
        li {
          .label {
            font-size: 0.75rem;
            line-height: 1.75em;

          }
          .percentage {
            font-size: 1rem;
          }
        }
      }
      .demographics-summary,
      .demographic.top-3 {
        li {
          .label {
            font-size: 0.75rem;
            line-height: 1.25;
            .percentage {
              font-size: 0.6rem;
              padding-top: 0.3rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {

  .single-neighbourhood {
    .section-title {
      padding: 30px 0 15px;
    }
  }
  body.single-neighbourhood {
    #app {
      padding-top: 2rem;
      h1 {
        padding-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .neighbourhood-social {
      padding-top: 0;
    }
    .intro-tabs {
      justify-content: center;
      flex-direction: row;
      padding-left: $gutter-grid-mobile;
      padding-right: $gutter-grid-mobile;
      > li {
        flex: 0 0 33%;
        padding: 0 0.3rem;
        justify-content: center;
        > a {
          width: 30vw;
          height: 30vw;
          font-size: 0.8rem;
        }
      }
    }
    .properties {
      .property-grid-component:last-of-type {
        margin-bottom: 1rem;
      }
    }
    .median-house-prices {
      flex-wrap: wrap;
      flex-direction: column;
      li {
        flex: 0 0 auto;
        width: 100%;
        padding: 0;
        .content {
          width: 100%;
          .header {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
  .dpg-wrapper {
    .demographic-tabs {
      justify-content: space-between;
      li {
        padding: 0;
        &:first-of-type {
          padding-right: 0.25rem;
        }
        &:last-of-type {
          padding-left: 0.25rem;
        }
      }
    }
    .demographic-content {
      padding: 1rem 0;
      .demographics-summary,
      .demographic.top-3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          flex: 0 0 auto;
          width: 75%;
          .label {
            top: 27%;
            width: 100%;
            text-align: center;
            font-size: 1.33rem;
            line-height: 1.5;
            .percentage {
              font-size: 1.75rem;
              padding-top: 0;
            }
          }
        }
      }
      .demographics-detail,
      .demographic.detail {
        li {
          .bar {
            font-size: 0.9em;
            line-height: 2;
            box-sizing: content-box;
            padding: 0.25rem;
            padding-right: 0.5rem;
          }
          .label {
            flex: 10 0 auto;
            text-align: right;
            font-size: 0.9em;
            line-height: 2;
          }
        }
      }
    }
    .discover-grid {
      padding: 0;
      box-sizing: border-box;
      * {
        box-sizing: border-box;
      }
      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
          width: 100%;
          height: auto;
          flex: 0 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div {
            width: 100%;
            height: auto;
            padding-top: 100%;
          }
        }
        &.one.column,
        &.two.column,
        &.three.column {
          li {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}

