.dpg-wrapper {
  &.single-property {
    article {
      padding-bottom: $section-margin;
    }
  }

  .property-header {
    background-color: $primary-color;
    padding: 25px 0;
    color: #fff;

    .dpg-container {
      position: relative;
    }

    h2 {
      color: #fff;
    }

    .details {
      position: absolute;
      right: $container-padding;
      top: 50%;
      transform: translateY(-50%);

      .nr {
        font-size: $headings-font-size;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px 0 18px;
      }

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: $icons-font-size;
      }
    }
  }
  .sub-header {
    .wrapper {
      padding-top: 18px;
      padding-bottom: 16px;
      border-bottom: 1px solid $primary-color;
      position: relative;
    }

    .price {
      font-size: $headings-font-size;
      line-height: 55px;
      color: $primary-color;
    }

    .status {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      span {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .agent-contact-form{
    .form-line{
      input[type=submit]{
        float:left;
        margin-top: 26px;
      }
    }
  }

  #property-content-tabs {
    margin-top: 20px;

    .tab-panel {
      margin-top: 35px;
      margin-bottom: 35px;
    }

    #Floor-Plan-tab {
      text-align: center;
    }
  }

  #property-content-tabs {
    h2 {
      font-weight: 300;
      margin-bottom: 5px;
    }

    .fancy-line {
      margin-bottom: 25px;
    }

    .statement-of-information {
      margin: 20px 0;
    }
  }

  .agents-section {
    margin-bottom: 90px;
  }

  #single-property-resources {
    margin-bottom: $section-margin;
  }

  section.neighbourhood {
    margin-bottom: $section-margin;
  }
}

@include lg {
  .dpg-wrapper {
    .property-header {
      padding: 20px 0;

      .details {
        .nr {
          font-size: $lg-headings-font-size;
          padding: 0 8px 0 14px;
        }

        i {
          font-size: $lg-icons-font-size;
        }
      }
    }
    .sub-header {
      .price {
        font-size: $lg-headings-font-size;
        line-height: 30px;
      }
    }

    #property-content-tabs {
      margin-top: 15px;

      .tab-panel {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    #property-content-tabs {
      h2 {
        margin-bottom: 5px;
      }

      .fancy-line {
        margin-bottom: 20px;
      }
    }

    .agents-section {
      margin-bottom: 70px;
    }

    #single-property-resources {
      margin-bottom: $lg-section-margin;
    }

    section.neighbourhood {
      margin-bottom: $lg-section-margin;
    }
  }
}

@include fb {
  .dpg-wrapper {
    h2 {
      font-size: 18px;
  }
    .property-header {
      .details {
        padding-top: 5px;

        .nr {
          font-size: 18px;
          padding: 0 2px 0 14px;
        }

        i {
          font-size: 15;
        }
      }
    }
    .sub-header {
      .price {
        font-size: 18px;
        line-height: 30px;
      }

      .status {
        span {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

@include sm {
  .dpg-wrapper {
    .property-header {
      overflow: hidden;

      .details {
        padding-top: 5px;
        float: left;
        position: relative;
        transform: none;
        top: auto;
        right: auto;

        .icons > span:first-child {
          .nr {
            padding-left: 0;
          }
        }
      }
    }

    #property-content-tabs {
      margin-top: 15px;

      section {
        margin-top: 30px;
      }
    }

    #property-content-tabs {
      h2 {
        margin-bottom: 5px;
      }

      .fancy-line {
        margin-bottom: 10px;
      }
    }

    .agents-section {
      margin-bottom: 50px;
    }

    #single-property-resources {
      margin-bottom: $sm-section-margin;
    }

    section.neighbourhood {
      margin-bottom: $sm-section-margin;
    }
  }
}
