<template>
	<div class="agent-block-wrapper">
		<a :href="`tel:${agent.mobile.trim()}`" :title="`View ${title}`" :id="this.id" class="agent-block">
			<!--<div :title="`View ${title}`" :id="this.id" class="agent-block">-->
			<bg-image v-if="agent.featured_image.length" :prop-image="JSON.stringify(agent.featured_image)"
			          :with-overlay="true"></bg-image>
			<article class="content-block">
				<section class="content">
					<h3 class="title">
						{{ title }}
					</h3>
					<h3 class="title">
						<i class="dpg-icon dpg-icon-phone"></i>
						<span>{{ agent.mobile }}</span>
					</h3>
				</section>
			</article>
			<!--</div>-->
		</a>
		<a v-if="showEmailButton" @click="showForm=!showForm" class="btn btn-block btn-fill email-agent-btn"
		   :data-name="title"
		   :data-email="agent.email"
		   :data-address="propertyTitle"
		   v-model="showForm"
		>Email Agent</a>
		<div v-show="showForm" class="agent-contact-form">
			<form v-on:submit.prevent="sendMessage">
				<div class="form-line">
					<input v-model="form.name" required name="name" type="text" placeholder="Name*">
				</div>
				<div class="form-line">
					<input v-model="form.email" required name="email" type="email" placeholder="Email*"/>
				</div>
				<div class="form-line">
					<input v-model="form.phone" name="phone" type="text" placeholder="Phone"/>
				</div>
				<div class="form-line">
					<textarea v-model="form.message" name="message" placeholder="Message"></textarea>
				</div>
				<div class="form-line">
					<input ref="submitButton" type="submit" value="Submit"/>
				</div>
			</form>
		</div>
	</div>
</template>
<script>
	//	import ResponsiveMixins from '../../mixins/ResponsiveMixins.js';
	import BgImage from '../ui/BgImage.vue';

	export default {
		name: 'agent-block',
		mixins: [
//			ResponsiveMixins,
		],
		components: {
			BgImage,
		},
		props: {
			propAgent: {
				type: String,
				default: '{}',
			},
			propertyTitle: {
				type: String,
				default: ''
			},
			showEmailButton: {
				type: Boolean,
				default: false
			},
			firstAgent: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				agent: JSON.parse(this.propAgent),
				timer: null,
				showForm: false,
				form: {
					name: '',
					email: '',
					phone: '',
					message: '',
					agent: {
						email: '',
					},
					property: {
						address: '',
					},
					agency: {
						name: ''
					},
					action: 'contact_agent'
				}
			};
		},
		computed: {
			title() {
				return this.agent.agent.post_title;
			},
			id() {
				return `agent-block-${this.agent.agent.ID}`;
			},
		},
		methods: {
			setBlockDimensions() {
				clearTimeout(this.timer);
				this.timer = setTimeout(() => {
					let item = document.querySelector('#' + this.id);
					if (item) {
						this.width = item.offsetWidth + 'px';
						this.height = item.offsetWidth + 'px';
					} else {
						setTimeout(this.setBlockDimensions, 50);
					}
				}, 75);
			},
			sendMessage() {
				let self = this;
				let submitButton = this.$refs['submitButton'];
				this.form.agency.name = this.title;
				this.form.property.address = this.propertyTitle;
				this.form.agent = this.agent;

				$.ajax(dpg_wp_properties.ajaxurl, {
					type: 'POST',
					dataType: 'json',
					data: this.form,
					beforeSend: function () {
						submitButton.disabled = true
					}
				}).done(response => {
					alert(response.message);
					submitButton.disabled = false
				}).fail(err => {
					alert(err);
					submitButton.disabled = false
				});
			},
			maybeOpenForm() {
				if (!this.firstAgent) {
					return;
				}

					this.showForm = true;
			}
		},
		mounted() {
			this.setBlockDimensions();
			window.addEventListener('resize', this.setBlockDimensions);
			window.addEventListener('newappraisal', this.maybeOpenForm);
		},
	}
</script>
