<template>
	<div style="width: 100%;">
		<ul class="agents listings-grid" v-if="agents.length">
			<li v-for="(agent,index) in agents" :style="itemContainerStyle">
				<agent-block :first-agent="index===0" :prop-agent="JSON.stringify(agent)"
				             :property-title="propertyTitle" :show-email-button="showEmailButton"></agent-block>
			</li>
		</ul>
		<div class="text-center" v-if="! agents.length">No agents found</div>
	</div>
</template>

<script>
	import ResponsiveMixins from '../../mixins/ResponsiveMixins.js';
	import AgentBlock from './AgentBlock.vue';

	export default {
		name: 'agent-grid',
		mixins: [
			ResponsiveMixins,
		],
		components: {
			AgentBlock,
		},
		props: {
			propAgents: {
				type: String,
				default: '{}'
			},
			propertyTitle: {
				type: String,
				default: ''
			},
			showEmailButton: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				agents: JSON.parse(this.propAgents),
			};
		},
		computed: {
			itemContainerStyle() {
				return {
					// height: (this.elementWidth - 20)+ 'px',
				};
			},
		},
		watch: {},
		methods: {},
		mounted() {
		},
	}
</script>

<style scoped lang="scss">
	.agents.listings-grid {
		height: auto;
	}
</style>
