<template>
    <ul id="intro-tabs" class="intro-tabs">
        <li>
            <a v-scroll-to="'#lifestyle-anchor'" id="lifestyle">Lifestyle</a>
            <div v-if="peopleContent">
                {{ peopleContent }}
            </div>
        </li>
        <li>
            <a v-scroll-to="'#people-anchor'" id="people">People</a>
            <div v-if="lifestyleContent">
                {{ lifestyleContent }}
            </div>
        </li>
        <li>
            <a v-scroll-to="'#homes-anchor'" id="homes">Homes</a>
            <div v-if="homesContent">
                {{ homesContent }}
            </div>
        </li>
    </ul>
</template>
<script>
export default {
    name: 'neighbourhood-intro-tabs',
    props: {
        peopleContent: {
            type: String,
            default: ''
        },
        lifestyleContent: {
            type: String,
            default: ''
        },
        homesContent: {
            type: String,
            default: ''
        },
    },

    data() {
        return {};
    },

    ready() {
        this.getOffices();
    }

};

</script>
<style>
    a {
        cursor: pointer;
    }
</style>
