<template>
    <a :href="neighbourhood.href" class="neighbourhood-block" :title="linkTitle">
        <bg-image v-if="neighbourhood.featured_image.length > 0" :prop-image="JSON.stringify(neighbourhood.featured_image)" :with-overlay="true"></bg-image>
        <article>
            <div class="content">
                <span>Discover</span>
                <h3>{{ neighbourhood.title }}</h3>
            </div>
        </article>
    </a>
</template>

<script>
import BgImage from '../ui/BgImage.vue';
export default {
    name: 'neighbourhood-block',
    components: {
        BgImage,
    },
    props: {
        propNeighbourhood: {
            type: String,
            default: '[]'
        },
    },
    data() {
        return {
            neighbourhood: JSON.parse(this.propNeighbourhood)
        };
    },
    computed: {
        url() {
            return `${window.dpg_wp_properties.baseUrl}/neighbourhood/${this.neighbourhood.slug}/`;
        },
        linkTitle() {
            return `Visit ${this.neighbourhood.title} neighbourhood page`;
        },
    }
}
</script>
