<template>
    <ul class="suburb-list" v-if="neighbourhoods.length">
            <li v-for="neighbourhood in neighbourhoods">
                <neighbourhood-block :prop-neighbourhood="JSON.stringify(neighbourhood)">
                </neighbourhood-block>
            </li>
    </ul>
</template>

<script>
import NeighbourhoodBlock from './NeighbourhoodBlock.vue';
export default {
    name: 'neighbourhood-grid',
    components: {
        NeighbourhoodBlock
    },
    props: {
        propNeighbourhoods: {
            type: String,
            default: '[]'
        },
    },
    data() {
        return {
            neighbourhoods: JSON.parse(this.propNeighbourhoods),
        };
    },
    computed: {
    },
    watch: {
    },
    methods: {
    },
    mounted() {
    },
}
</script>
