<template>
    <div class="dpg-property-report-container" style="position: relative !important;">

        <!-- First step, locations suggestions -->
        <div class="dpg-property-report-search-container" v-show="showFirstStep">
            <!-- Search input -->
            <input
                class="dpg-property-report-search-container-input"
                type="text"
                placeholder="Search for address"
                v-model="search"
                @keyup="suggestProperties"
            >

            <!-- Search list -->
            <ul class="dpg-property-report-search-container-list">
                <!-- Search list item -->
                <li
                    class="dpg-property-report-search-container-list-item"
                    v-for="result in searchResults" :key="result.id"
                >
                    <button @click="goToSecondStep(result.property.id, result.display.split(',')[0])">
                        {{result.display}}
                    </button>
                </li>
            </ul>
        </div>


        <!-- Second step, data form -->
        <div class="step-container" v-show="showSecondStep">

            <!-- How can I help question F-->
            <div class="step-container-inner extra-margin">

                <!-- Title -->
                <h2 class="step-container-inner-title">Q: How can I help you?</h2>

                <!-- Second section cta -->
                <div class="step-container-inner-cta-wrapper">
                    <!-- Hidden input for sell -->
                    <input
                        type="radio"
                        id="sell"
                        name="action_type"
                        v-model="formData.action_type"
                        value="sell"
                        hidden
                    >

                    <!-- CTA for sell-->
                    <a
                        id="sell-step-1"
                        href="#showSellFormQuestions1"
                        class="step-container-inner-cta-wrapper-underline-button"
                        @click="showSellForm"
                        :class="{active: formData.action_type === 'sell'}"
                    >
                        <label :class="{active: formData.action_type === 'sell'}" class="label" for="sell">
                            <div :class="{active: formData.action_type === 'sell'}" class="step-container-inner-cta-wrapper-underline-button-inner">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 50 50"><path class="cls-1" d="M20.505,16.325H16.591a.979.979,0,0,0-.979.979v9.888a.979.979,0,1,0,1.957,0v-8.91h1.958V30.128a.979.979,0,0,0,1.957,0V17.3A.979.979,0,0,0,20.505,16.325ZM46.1,20.983a.979.979,0,0,0-.979.979v9.217H41.9V27.06a.979.979,0,0,0-.979-.979H36.6a.979.979,0,0,0-.979.979v4.119H32.405V21.962a.979.979,0,1,0-1.957,0v10.2a.979.979,0,0,0,.978.979H36.6a.979.979,0,0,0,.978-.979v-4.12H39.94v4.12a.979.979,0,0,0,.978.979H46.1a.979.979,0,0,0,.978-.979v-10.2A.978.978,0,0,0,46.1,20.983Z"/><path class="cls-1" d="M38.873,24.124a2.73,2.73,0,1,0-2.73-2.73v.01A2.729,2.729,0,0,0,38.873,24.124Zm0-3.493a.728.728,0,1,1-.773.773.773.773,0,0,1,.773-.773Z"/><path class="cls-1" d="M49.568,19.192l-8.611-6.849a3.776,3.776,0,0,0-4.08,0L28.3,19.192a.978.978,0,0,0,1.083,1.63.866.866,0,0,0,.13-.1l8.553-6.791a1.956,1.956,0,0,1,1.712,0l8.582,6.85a.975.975,0,0,0,1.213-1.527ZM28.413,9.241a.979.979,0,0,0-.979-.979h-6.85a.979.979,0,0,0,0,1.957h6.85A.979.979,0,0,0,28.413,9.241ZM12.756,15.112H5.906a.979.979,0,0,0,0,1.957h6.85a.979.979,0,0,0,0-1.957Z"/><polygon class="cls-1" points="12.297 35.24 14.45 35.24 13.364 32.716 12.297 35.24"/><path class="cls-1" d="M32.846,27.06H.555a.489.489,0,0,0-.49.489v13.7a.489.489,0,0,0,.49.489H32.846a.489.489,0,0,0,.49-.489v-13.7A.489.489,0,0,0,32.846,27.06ZM8.657,37.217A2.478,2.478,0,0,1,7.678,38a3.408,3.408,0,0,1-1.37.274,4.56,4.56,0,0,1-1.458-.2,3.087,3.087,0,0,1-1.125-.655.748.748,0,0,1-.294-.568.6.6,0,0,1,.186-.44.569.569,0,0,1,.441-.186.545.545,0,0,1,.411.127,3.331,3.331,0,0,0,.841.519,2.657,2.657,0,0,0,.979.166,1.958,1.958,0,0,0,1.037-.274.772.772,0,0,0,.44-.665.871.871,0,0,0-.43-.764,3.745,3.745,0,0,0-1.37-.411c-1.576-.235-2.358-.978-2.358-2.2a1.957,1.957,0,0,1,.352-1.175,2.356,2.356,0,0,1,.978-.763,3.464,3.464,0,0,1,1.37-.264,3.869,3.869,0,0,1,1.272.2,3.017,3.017,0,0,1,.979.539.722.722,0,0,1,.313.567.6.6,0,0,1-.186.44.564.564,0,0,1-.43.186.438.438,0,0,1-.284-.1,3.048,3.048,0,0,0-.783-.41,2.548,2.548,0,0,0-.9-.186,1.851,1.851,0,0,0-1.047.244.811.811,0,0,0,0,1.37,3.616,3.616,0,0,0,1.2.382,6.362,6.362,0,0,1,1.478.411,1.953,1.953,0,0,1,.832.7,2.13,2.13,0,0,1,.284,1.154A1.956,1.956,0,0,1,8.657,37.217Zm7.476,1.008a.538.538,0,0,1-.352-.127.838.838,0,0,1-.245-.323l-.558-1.3H11.769l-.558,1.321a.735.735,0,0,1-.225.313.576.576,0,0,1-.343.118.528.528,0,0,1-.567-.486.561.561,0,0,1,0-.082.879.879,0,0,1,0-.2l2.681-6.429a.74.74,0,0,1,.254-.333.514.514,0,0,1,.392-.1.631.631,0,0,1,.362.108.742.742,0,0,1,.244.323l2.672,6.311a.725.725,0,0,1,.059.255A.637.637,0,0,1,16.133,38.225Zm6.684-.236h0a.662.662,0,0,1-.469.176h-3.5a.636.636,0,0,1-.655-.616.254.254,0,0,1,0-.039V31.287a.646.646,0,0,1,.2-.47.666.666,0,0,1,.489-.186.638.638,0,0,1,.469.186.646.646,0,0,1,.2.47V36.9h2.809a.636.636,0,0,1,.47,1.085ZM28.531,33.7a.666.666,0,0,1,.47.176.589.589,0,0,1,.2.45.576.576,0,0,1-.186.441.714.714,0,0,1-.479.166H26.124v1.957h2.935a.642.642,0,0,1,.45.225.611.611,0,0,1,.186.431.575.575,0,0,1-.186.44.662.662,0,0,1-.469.176H25.429a.6.6,0,0,1-.46-.186.648.648,0,0,1-.2-.469V31.287a.65.65,0,0,1,.2-.47.6.6,0,0,1,.46-.186H29.04a.667.667,0,0,1,.469.177.632.632,0,0,1,.186.46.565.565,0,0,1-.186.44.671.671,0,0,1-.469.166H26.1V33.7Z"/></svg>
                                <label :class="{active: formData.action_type === 'sell'}">Sell my property</label>
                            </div>
                        </label>

                    </a>

                    <!-- Hidden input for buy -->
                    <input
                        type="radio"
                        id="buy"
                        name="action_type"
                        v-model="formData.action_type"
                        value="buy"
                        hidden
                    >

                    <!-- CTA for buy -->
                    <a
                        id="buy-step-1"
                        href="#showBuyFormQuestions1"
                        class="step-container-inner-cta-wrapper-underline-button"
                        @click="showBuyForm"
                        :class="{active: formData.action_type === 'buy'}"
                    >
                        <label :class="{active: formData.action_type === 'buy'}" class="label" for="buy">
                            <div :class="{active: formData.action_type === 'buy'}" class="step-container-inner-cta-wrapper-underline-button-inner">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 60 60"><g id="Floorplan"><path class="cls-1" d="M13,14.914H23.327V25H13Z"/><path class="cls-1" d="M36.256,13.424H13.744a2.235,2.235,0,0,0-2.232,2.233v17.2a2.235,2.235,0,0,0,2.232,2.232H30.051l.1,2.515a.744.744,0,0,0,.744.717h1.355a.745.745,0,0,0,0-1.489h-.638l-.095-2.516a.745.745,0,0,0-.745-.717H23.327V30.845a.745.745,0,0,0-1.489,0V33.6h-8.1A.743.743,0,0,1,13,32.854V25h8.836v1.216a.745.745,0,1,0,1.489,0V22.3a.745.745,0,1,0-1.489,0v1.216H13V15.657a.743.743,0,0,1,.743-.743h8.093v2.752a.745.745,0,0,0,1.489,0V14.914h12.93a.744.744,0,0,1,.742.743v7.854H28.154V22.3a.745.745,0,1,0-1.489,0v1.96A.744.744,0,0,0,27.41,25H37V36.83h-.791a.745.745,0,1,0,0,1.489h1.535a.745.745,0,0,0,.745-.745V15.657A2.236,2.236,0,0,0,36.256,13.424Z"/><path class="cls-1" d="M1.917,26.117A1.117,1.117,0,0,1,.8,25,24.2,24.2,0,0,1,40.573,6.476a1.117,1.117,0,0,1-1.428,1.718l-.011-.009A21.958,21.958,0,0,0,3.034,25,1.117,1.117,0,0,1,1.917,26.117ZM25,49.2A24.278,24.278,0,0,1,7.229,41.428,1.118,1.118,0,1,1,8.87,39.91h0A21.966,21.966,0,0,0,46.966,25a21.745,21.745,0,0,0-2.315-9.827,1.117,1.117,0,1,1,1.978-1.037l.019.037A23.958,23.958,0,0,1,49.2,25,24.227,24.227,0,0,1,25,49.2Z"/><circle class="cls-1" cx="2.401" cy="29.84" r="1.117"/></g></svg>
                                <label :class="{active: formData.action_type === 'buy'}">Buy a property</label>
                            </div>
                        </label>
                    </a>

                    <!-- Hidden input for refinance -->
                    <input
                        type="radio"
                        id="refinance"
                        name="action_type"
                        v-model="formData.action_type"
                        value="refinance"
                        hidden
                    >
                    <!-- CTA for refinance -->
                    <a
                        id="refinance-step-1"
                        href="#showRefinanceFormQuestions1"
                        class="step-container-inner-cta-wrapper-underline-button"
                        @click="showRefinanceForm"
                        :class="{active: formData.action_type === 'refinance'}"
                    >
                        <label :class="{active: formData.action_type === 'refinance'}" class="label" for="refinance">
                            <div :class="{active: formData.action_type === 'refinance'}" class="step-container-inner-cta-wrapper-underline-button-inner">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 60 60"><g id="Refinance"><path class="cls-1" d="M2.3,25A22.716,22.716,0,0,1,25,2.307,1.154,1.154,0,0,0,25,0,25,25,0,0,0,8.843,44.078a1.154,1.154,0,0,0,1.492-1.754A22.662,22.662,0,0,1,2.3,25ZM41.328,6.069A1.163,1.163,0,1,0,39.79,7.815h0A22.693,22.693,0,0,1,25,47.693,1.154,1.154,0,0,0,25,50,25,25,0,0,0,41.328,6.069Z"/><circle class="cls-1" cx="19.228" cy="48.155" r="1.154"/><path class="cls-1" d="M30.82,22.308a.769.769,0,0,0-.769.769v7.246H27.52V27.085a.769.769,0,0,0-.769-.77H23.359a.77.77,0,0,0-.77.77v3.238H20.058V23.077a.769.769,0,0,0-1.538,0v8.016a.769.769,0,0,0,.769.769h4.07a.77.77,0,0,0,.769-.769V27.854h1.854v3.239a.769.769,0,0,0,.769.769H30.82a.77.77,0,0,0,.77-.769V23.077A.769.769,0,0,0,30.82,22.308Z"/><path class="cls-1" d="M25.143,24.777A2.147,2.147,0,1,0,23,22.631v.007A2.146,2.146,0,0,0,25.143,24.777Zm0-2.746a.573.573,0,1,1-.608.607.607.607,0,0,1,.608-.607Z"/><path class="cls-1" d="M33.551,20.9l-6.769-5.385a2.987,2.987,0,0,0-3.208,0L16.828,20.9a.769.769,0,0,0,.851,1.281.672.672,0,0,0,.1-.081l6.724-5.339a1.543,1.543,0,0,1,1.346,0L32.6,22.146a.767.767,0,0,0,.954-1.2Z"/><path class="cls-1" d="M37.551,14.23l1.847-.207a.774.774,0,0,0-.17-1.539l-2.846.323a1.493,1.493,0,0,0-1.177,1.208l-.323,2.808a.769.769,0,0,0,.674.853h.088a.77.77,0,0,0,.769-.685l.177-1.538A15.008,15.008,0,0,1,18.435,38.47a.768.768,0,0,0-1.029.351l0,0a.77.77,0,0,0,.356,1.028l.006,0A16.531,16.531,0,0,0,37.551,14.23ZM15,32.739a.769.769,0,0,0-.854.674v0l-.193,1.723A15,15,0,0,1,31.374,11.415a.769.769,0,0,0,.654-1.392A16.531,16.531,0,0,0,12.85,36.177l-1.7.223a.771.771,0,1,0,.085,1.539h.085l2.846-.331a1.491,1.491,0,0,0,1.177-1.2l.323-2.815A.769.769,0,0,0,15,32.739Z"/></g></svg>
                                <label :class="{active: formData.action_type === 'refinance'}">Refinance my property</label>
                            </div>
                        </label>
                    </a>
                </div>
            </div>

            <!-- Selling the property questions 1 container -->
            <div id="showSellFormQuestions1">
                <div class="step-container-inner" v-show="showSellFormQuestions1">

                    <!-- Title -->
                    <h2 class="step-container-inner-title">Q. Does your property have any special features?</h2>

                    <!-- Cta wrapper -->
                    <div class="step-container-inner-cta-wrapper">

                        <!-- Hidden input for water views -->
                        <input
                            type="checkbox"
                            id="water_views"
                            value="Water views"
                            v-model="formData.sellForm.special_features"
                            hidden
                        >

                        <!-- Cta for water views -->
                        <a
                            class="step-container-inner-cta-wrapper-underline-button btn-sm"
                            :class="{active: formData.sellForm.special_features.includes('Water views')}"
                        >
                            <label :class="{active: formData.sellForm.special_features.includes('Water views')}" for="water_views">
                                <div :class="{active: formData.sellForm.special_features.includes('Water views')}" class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <label :class="{active: formData.sellForm.special_features.includes('Water views')}" for="water_views">Water views</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for city views -->
                        <input
                            type="checkbox"
                            id="city_views"
                            value="City views"
                            v-model="formData.sellForm.special_features"
                            hidden
                        >

                        <!-- Cta for city views -->
                        <a
                            class="step-container-inner-cta-wrapper-underline-button btn-sm"
                            :class="{active: formData.sellForm.special_features.includes('City views')}"
                        >
                            <label :class="{active: formData.sellForm.special_features.includes('City views')}" for="city_views">
                                <div :class="{active: formData.sellForm.special_features.includes('City views')}" class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <label :class="{active: formData.sellForm.special_features.includes('City views')}" for="city_views">City views</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for floorboard -->
                        <input
                            type="checkbox"
                            id="floorboard"
                            value="Floorboard"
                            v-model="formData.sellForm.special_features"
                            hidden
                        >

                        <!-- Cta for floorboard -->
                        <a
                            class="step-container-inner-cta-wrapper-underline-button btn-sm"
                            :class="{active: formData.sellForm.special_features.includes('Floorboard')}"
                        >
                            <label :class="{active: formData.sellForm.special_features.includes('Floorboard')}" for="floorboard">
                                <div :class="{active: formData.sellForm.special_features.includes('Floorboard')}" class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <label :class="{active: formData.sellForm.special_features.includes('Floorboard')}" for="floorboard">Floorboard</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for courtyard -->
                        <input
                            type="checkbox"
                            id="courtyard"
                            value="Courtyard"
                            v-model="formData.sellForm.special_features"
                            hidden
                        >

                        <!-- Cta for courtyard -->
                        <a
                            class="step-container-inner-cta-wrapper-underline-button btn-sm"
                            :class="{active: formData.sellForm.special_features.includes('Courtyard')}"
                        >
                            <label :class="{active: formData.sellForm.special_features.includes('Courtyard')}" for="courtyard">
                                <div :class="{active: formData.sellForm.special_features.includes('Courtyard')}" class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <label :class="{active: formData.sellForm.special_features.includes('Courtyard')}" for="courtyard">Courtyard</label>
                                </div>
                            </label>
                        </a>
                    </div>

                    <!-- Other wrapper -->
                    <div class="step-container-inner-other-wrapper">

                        <!-- Title -->
                        <h2 class="step-container-inner-title">Type of other features not listed here</h2>

                        <!-- Input -->
                        <input
                            type="text"
                            class="step-container-inner-other-wrapper-input"
                            placeholder="Type other features not listed here"
                            v-model="formData.sellForm.other_special_features"
                        >

                        <!-- Continue cta -->
                        <div class="step-container-inner-other-wrapper-btn">
                            <a href="#showSellFormQuestions2">
                                <button @click="showSellForm2">Continue</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Selling the property questions 2 container -->
            <div id="showSellFormQuestions2">
                <div class="step-container-inner extra-margin" v-show="showSellFormQuestions2">

                    <!-- Title -->
                    <h2 class="step-container-inner-title">Q. What is your timeframe for selling?</h2>

                    <!-- Cta wrapper -->
                    <div class="step-container-inner-cta-wrapper">

                        <!-- Hidden input for already on market -->
                        <input
                            type="radio"
                            id="sell_on_the_market"
                            v-model="formData.sellForm.timeframe"
                            value="Already on the market"
                            hidden
                        >

                        <!-- Cta for already on market -->
                        <a
                            id="sell-cta-1"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button btn-sm"
                            @click="showFormLastQuestion"
                            :class="{active: formData.sellForm.timeframe === 'Already on the market'}"
                        >
                            <label :class="{active: formData.sellForm.timeframe === 'Already on the market'}" @click="scrollingTo('sell-cta-1')" for="sell_on_the_market">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <label :class="{active: formData.sellForm.timeframe === 'Already on the market'}" for="sell_on_the_market">Already on the market</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for 0-3 months -->
                        <input
                            type="radio"
                            id="sell_0-3Months"
                            v-model="formData.sellForm.timeframe"
                            value="0-3 Months"
                            hidden
                        >

                        <!-- Cta input for 0-3 months -->
                        <a
                            id="sell-cta-2"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button btn-sm"
                            @click="showFormLastQuestion"
                            :class="{active: formData.sellForm.timeframe === '0-3 Months'}"
                        >
                            <label :class="{active: formData.sellForm.timeframe === 'Already on the market'}" @click="scrollingTo('sell-cta-2')" for="sell_0-3Months">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <label :class="{active: formData.sellForm.timeframe === '0-3 Months'}" for="sell_0-3Months">0-3 Months</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for 4-6 months -->
                        <input
                            type="radio"
                            id="sell_4-6Months"
                            v-model="formData.sellForm.timeframe"
                            value="4-6 Months"
                            hidden
                        >

                        <!-- Cta for 4-6 months -->
                        <a
                            id="sell-cta-3"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button btn-sm"
                            @click="showFormLastQuestion"
                            :class="{active: formData.sellForm.timeframe === '4-6 Months'}"
                        >
                            <label :class="{active: formData.sellForm.timeframe === 'Already on the market'}" @click="scrollingTo('sell-cta-3')" for="sell_4-6Months">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <label :class="{active: formData.sellForm.timeframe === '4-6 Months'}" for="sell_4-6Months">4-6 Months</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for 7+ months -->
                        <input
                            type="radio"
                            id="sell_7+Months"
                            v-model="formData.sellForm.timeframe"
                            value="7+ Months"
                            hidden
                        >

                        <!-- Cta for 7+ months -->
                        <a
                            id="sell-cta-4"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button btn-sm"
                            @click="showFormLastQuestion"
                            :class="{active: formData.sellForm.timeframe === '7+ Months'}"
                        >
                            <label :class="{active: formData.sellForm.timeframe === 'Already on the market'}" @click="scrollingTo('sell-cta-4')" for="sell_7+Months">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <label :class="{active: formData.sellForm.timeframe === '7+ Months'}" for="sell_7+Months">7+ Months</label>
                                </div>
                            </label>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Buying The property will be question -->
            <div id="showBuyFormQuestions1">
                <div class="step-container-inner" v-if="showBuyFormQuestions1">

                    <!-- Title -->
                    <h2 class="step-container-inner-title">Q. The property will be</h2>

                    <!-- Cta wrapper -->
                    <div class="step-container-inner-cta-wrapper">

                        <!-- Hidden input for owner occupied -->
                        <input
                            type="radio"
                            id="buy_owner_occupied"
                            v-model="formData.buyForm.property_purpose"
                            value="Owner occupied"
                            hidden
                        >

                        <!-- Cta for owner occupied -->
                        <a
                            id="buy-cta-1"
                            href="#showBuyForm2"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showBuyForm2"
                            :class="{active: formData.buyForm.property_purpose === 'Owner occupied'}"
                        >
                            <label :class="{active: formData.buyForm.property_purpose === 'Owner occupied'}" @click="scrollingTo('buy-cta-1')" for="buy_owner_occupied">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50"><path class="cls-1" d="M26.648,41.808a4.4,4.4,0,0,1,.47-6.2l.007-.006,3.333-2.856a13.2,13.2,0,0,0-3.6-.5h-.49v.978a6.363,6.363,0,0,1-12.725.159q0-.079,0-.159v-.978h-.489A13.23,13.23,0,0,0-.059,45.458v3.133a1.469,1.469,0,0,0,1.468,1.468H7.772V43.5a1.469,1.469,0,0,1,2.937,0v6.559H28.034V42.888A4.393,4.393,0,0,1,26.648,41.808Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M49.546,37.827l-9.3-7.971a1.469,1.469,0,0,0-1.911,0l-9.3,7.971a1.468,1.468,0,0,0,1.911,2.23l.023-.02V50.059h6.852V44.717a1.5,1.5,0,0,1,1.4-1.508A1.467,1.467,0,0,1,40.759,44.6c0,.024,0,.048,0,.072v5.384h5.383a1.469,1.469,0,0,0,1.469-1.468V40.037l.023.02a1.468,1.468,0,1,0,1.911-2.23ZM40.27,40.27H38.312a1.468,1.468,0,1,1,0-2.936H40.27a1.468,1.468,0,0,1,0,2.936Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M17.381,8.906a2.937,2.937,0,0,1,5.253,0A4.124,4.124,0,0,0,26.343,11.2h7.943a14.684,14.684,0,0,0-28.556,0h7.943A4.123,4.123,0,0,0,17.381,8.906Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M30.286,19.518V14.135H26.343a7.083,7.083,0,0,1-6.335-3.916,7.083,7.083,0,0,1-6.335,3.916H9.73v5.383a10.278,10.278,0,0,0,20.556,0Zm-6.793,4.918a4.926,4.926,0,0,1-6.966,0l-.005,0A1.469,1.469,0,0,1,18.6,22.36a1.992,1.992,0,0,0,2.817,0h0a1.468,1.468,0,0,1,2.076,2.076Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M33.222,20.008a2.937,2.937,0,1,0,.108-5.873h-.108Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M6.793,20.008V14.135a2.937,2.937,0,0,0,0,5.873Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M16.582,32.282v.94a3.426,3.426,0,0,0,6.852,0h0v-.94A13.245,13.245,0,0,1,16.582,32.282Z" transform="translate(0.059 0.058)"/></svg>
                                    <label :class="{active: formData.buyForm.property_purpose === 'Owner occupied'}" style="margin-top: 10px;" for="buy_owner_occupied">Owner occupied</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for investment -->
                        <input
                            type="radio"
                            id="buy_investment"
                            v-model="formData.buyForm.property_purpose"
                            value="Investment"
                            hidden
                        >

                        <!-- Cta for investment -->
                        <a
                            id="buy-cta-2"
                            href="#showBuyForm2"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showBuyForm2"
                            :class="{active: formData.buyForm.property_purpose === 'Investment'}"
                        >
                            <label :class="{active: formData.buyForm.property_purpose === 'Investment'}" @click="scrollingTo('buy-cta-2')" for="buy_investment">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="65" height="60" viewBox="0 0 45 45 "><path class="cls-1" d="M25.148,24.143v4.026a9.973,9.973,0,0,1,.919-.733c1.2-.748,2.426-1.462,3.625-2.215a1.846,1.846,0,0,0,.685-.674,10.318,10.318,0,0,1,15.1-4.059c.752.514.823.734.506,1.573A10.254,10.254,0,0,1,30.791,27.02a.671.671,0,0,0-.775-.039,16.274,16.274,0,0,0-4.586,3.362,1.312,1.312,0,0,0-.295.746c-.045.532-.013,1.07-.013,1.66H35.188c.882,0,1.158.275,1.16,1.159v2.256H12.184c0-.892-.049-1.8.019-2.708.039-.52.476-.708.989-.707,2.23.007,4.461,0,6.692,0h2.721a2.039,2.039,0,0,0-.247-.37c-1.129-1.024-2.266-2.038-3.394-3.063-.253-.229-.473-.138-.733-.02A10.263,10.263,0,0,1,3.91,22.2c-.173-.763-.049-1.029.651-1.386a10.238,10.238,0,0,1,14.407,6.057,1.7,1.7,0,0,0,.675.9c1.27.96,2.5,1.971,3.71,2.932V24.14a12.034,12.034,0,0,1-9.4-5.771,11.7,11.7,0,0,1-1.625-8.279,12.1,12.1,0,1,1,12.82,14.053Zm-5.42-9.5c-.029,1.924,1.22,3.105,3.682,3.493v2h1.726V18.1c2.1-.145,3.5-1.331,3.66-3.061a3.411,3.411,0,0,0-.574-2.358,3.574,3.574,0,0,0-3.076-1.537V7.755c1.049-.106,1.623.37,2.017,1.658h1.595c.187-1.789-1.175-3.1-3.657-3.493v-2H23.377V5.964c-2.077.141-3.476,1.311-3.651,3a3.474,3.474,0,0,0,.568,2.414,3.6,3.6,0,0,0,3.078,1.537V16.3c-1.047.112-1.641-.38-2.017-1.66Z" transform="translate(-3.84 -0.017)"/><path class="cls-1" d="M12.726,37.962H35.741c-.256.24-.446.421-.638.6a9.231,9.231,0,0,0-2.961,6.555c-.07,1.274-.08,2.552-.11,3.828-.018.773-.308,1.077-1.083,1.077H17.621c-.851,0-1.1-.287-1.142-1.13-.081-1.739-.112-3.486-.315-5.213a8.363,8.363,0,0,0-2.908-5.264C13.115,38.286,12.967,38.167,12.726,37.962Z" transform="translate(-3.84 -0.017)"/><path class="cls-1" d="M23.365,11.143A1.721,1.721,0,0,1,21.44,9.654a1.758,1.758,0,0,1-.013-.281A1.7,1.7,0,0,1,23.365,7.74Z" transform="translate(-3.84 -0.017)"/><path class="cls-1" d="M25.138,16.334V12.915a1.718,1.718,0,0,1,1.738,2.526A1.7,1.7,0,0,1,25.138,16.334Z" transform="translate(-3.84 -0.017)"/></svg>
                                    <label :class="{active: formData.buyForm.property_purpose === 'Investment'}" style="margin-top: 10px;" for="buy_investment">Investment</label>
                                </div>
                            </label>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Buying the timeframe for buying question -->
            <div id="showBuyForm2">
                <div class="step-container-inner" v-if="showBuyFormQuestions2">

                    <!-- Title -->
                    <h2 class="step-container-inner-title">Q. What is your timeframe for buying?</h2>

                    <!-- Cta wrapper -->
                    <div class="step-container-inner-cta-wrapper">

                        <!-- Hidden input for 0-2 months -->
                        <input
                            type="radio"
                            id="buy_0-3Months"
                            v-model="formData.buyForm.timeframe"
                            value="0-3 Months"
                            hidden
                        >

                        <!-- Cta for 0-2 months -->
                        <a
                            id="buy2-cta-1"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showFormLastQuestion"
                            :class="{active: formData.buyForm.timeframe === '0-3 Months'}"
                        >
                            <label :class="{active: formData.buyForm.timeframe === '0-3 Months'}" @click="scrollingTo('buy2-cta-1')" for="buy_0-3Months">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50"><path class="cls-1" d="M1,18.778a4.129,4.129,0,0,1,1.858-2.231Q13.655,9.023,24.426,1.46l.517-.359c.117.075.237.144.349.222L47.544,16.9a2.782,2.782,0,1,1-2.872,4.765q-.082-.049-.162-.105c-2.408-1.669-4.8-3.36-7.2-5.04L25.821,8.475c-.815-.571-.913-.569-1.731,0C17.924,12.8,11.742,17.09,5.6,21.442A2.835,2.835,0,0,1,1.055,19.88c-.006-.027-.036-.049-.055-.073Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M12.94,42.8H7.971V22.2a.814.814,0,0,1,.381-.77q8.11-5.657,16.2-11.344a.587.587,0,0,1,.81,0q8.109,5.7,16.236,11.374a.7.7,0,0,1,.341.651q-.011,10.1,0,20.209c0,.152-.015.3-.024.479H37.08c2.444-6.984,1.028-12.824-5.3-17a13.262,13.262,0,0,0-18.84,17Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.97,48.816A11.679,11.679,0,1,1,36.636,37.124v.022A11.709,11.709,0,0,1,24.97,48.816ZM24.988,26.6A10.544,10.544,0,1,0,35.505,37.2,10.544,10.544,0,0,0,24.988,26.6Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M33.161,40.915c-.825-.38-1.233-.326-1.484.118s-.091.8.64,1.328l-2.125,2.133c-.592-.741-.947-.883-1.375-.616-.411.256-.455.642-.106,1.473l-2.854.767c-.264-.98-.471-1.233-.928-1.218s-.7.313-.821,1.122a8.035,8.035,0,0,1-2.883-.742c.315-.771.272-1.147-.136-1.4-.424-.265-.772-.126-1.373.607l-2.107-2.1c.722-.629.856-.951.614-1.361-.255-.432-.629-.48-1.474-.124l-.755-2.778a7.277,7.277,0,0,0,1.021-.523.7.7,0,0,0,.162-.509c0-.468-.283-.66-1.208-.809l.774-2.909c.841.36,1.216.32,1.472-.1s.114-.784-.614-1.371l2.1-2.1c.69.744,1,.862,1.414.589s.434-.65.069-1.449l2.9-.787c.181.953.371,1.2.852,1.215.5.012.7-.239.9-1.21l2.863.768c-.315.91-.27,1.251.148,1.49s.793.088,1.34-.624l2.035,2.018a7.542,7.542,0,0,0-.616,1,.69.69,0,0,0,.13.518c.253.394.639.412,1.337.076a8.114,8.114,0,0,1,.785,2.875c-.925.241-1.164.44-1.131.922s.314.678,1.214.812Zm-7.407-7.96h0c0-.655.014-1.309,0-1.963a.774.774,0,0,0-.711-.833h0c-.513-.05-.869.3-.875.908q-.015,1.822.006,3.645a.638.638,0,0,1-.344.633,2.1,2.1,0,0,0-.71,2.884l.01.016a2.165,2.165,0,0,0,2.9.763.721.721,0,0,1,.574.013c.62.323,1.216.693,1.824,1.04.531.3,1.023.22,1.258-.206s.062-.87-.479-1.185c-.605-.353-1.22-.689-1.811-1.063a.671.671,0,0,1-.273-.455,2.31,2.31,0,0,0-1.071-1.868.741.741,0,0,1-.273-.508C25.733,34.17,25.754,33.562,25.754,32.955Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.831,37.757c-.142-.2-.37-.4-.405-.619-.048-.311.19-.513.516-.535.3-.022.626.279.542.557a2.262,2.262,0,0,1-.436.6Z" transform="translate(-1 -1.101)"/></svg>
                                    <label :class="{active: formData.buyForm.timeframe === '0-3 Months'}" style="margin-top: 5px;" for="buy_0-3Months">0-3 Months</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for 4-6 months -->
                        <input
                            type="radio"
                            id="buy_4-6Months"
                            v-model="formData.buyForm.timeframe"
                            value="4-6 Months"
                            hidden
                        >

                        <!-- Cta for 4-6 months -->
                        <a
                            id="buy2-cta-2"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showFormLastQuestion"
                            :class="{active: formData.buyForm.timeframe === '4-6 Months'}"
                        >
                            <label :class="{active: formData.buyForm.timeframe === '4-6 Months'}" for="buy_4-6Months">
                                <div @click="scrollingTo('buy2-cta-2')" class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50"><path class="cls-1" d="M1,18.778a4.129,4.129,0,0,1,1.858-2.231Q13.655,9.023,24.426,1.46l.517-.359c.117.075.237.144.349.222L47.544,16.9a2.782,2.782,0,1,1-2.872,4.765q-.082-.049-.162-.105c-2.408-1.669-4.8-3.36-7.2-5.04L25.821,8.475c-.815-.571-.913-.569-1.731,0C17.924,12.8,11.742,17.09,5.6,21.442A2.835,2.835,0,0,1,1.055,19.88c-.006-.027-.036-.049-.055-.073Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M12.94,42.8H7.971V22.2a.814.814,0,0,1,.381-.77q8.11-5.657,16.2-11.344a.587.587,0,0,1,.81,0q8.109,5.7,16.236,11.374a.7.7,0,0,1,.341.651q-.011,10.1,0,20.209c0,.152-.015.3-.024.479H37.08c2.444-6.984,1.028-12.824-5.3-17a13.262,13.262,0,0,0-18.84,17Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.97,48.816A11.679,11.679,0,1,1,36.636,37.124v.022A11.709,11.709,0,0,1,24.97,48.816ZM24.988,26.6A10.544,10.544,0,1,0,35.505,37.2,10.544,10.544,0,0,0,24.988,26.6Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M33.161,40.915c-.825-.38-1.233-.326-1.484.118s-.091.8.64,1.328l-2.125,2.133c-.592-.741-.947-.883-1.375-.616-.411.256-.455.642-.106,1.473l-2.854.767c-.264-.98-.471-1.233-.928-1.218s-.7.313-.821,1.122a8.035,8.035,0,0,1-2.883-.742c.315-.771.272-1.147-.136-1.4-.424-.265-.772-.126-1.373.607l-2.107-2.1c.722-.629.856-.951.614-1.361-.255-.432-.629-.48-1.474-.124l-.755-2.778a7.277,7.277,0,0,0,1.021-.523.7.7,0,0,0,.162-.509c0-.468-.283-.66-1.208-.809l.774-2.909c.841.36,1.216.32,1.472-.1s.114-.784-.614-1.371l2.1-2.1c.69.744,1,.862,1.414.589s.434-.65.069-1.449l2.9-.787c.181.953.371,1.2.852,1.215.5.012.7-.239.9-1.21l2.863.768c-.315.91-.27,1.251.148,1.49s.793.088,1.34-.624l2.035,2.018a7.542,7.542,0,0,0-.616,1,.69.69,0,0,0,.13.518c.253.394.639.412,1.337.076a8.114,8.114,0,0,1,.785,2.875c-.925.241-1.164.44-1.131.922s.314.678,1.214.812Zm-7.407-7.96h0c0-.655.014-1.309,0-1.963a.774.774,0,0,0-.711-.833h0c-.513-.05-.869.3-.875.908q-.015,1.822.006,3.645a.638.638,0,0,1-.344.633,2.1,2.1,0,0,0-.71,2.884l.01.016a2.165,2.165,0,0,0,2.9.763.721.721,0,0,1,.574.013c.62.323,1.216.693,1.824,1.04.531.3,1.023.22,1.258-.206s.062-.87-.479-1.185c-.605-.353-1.22-.689-1.811-1.063a.671.671,0,0,1-.273-.455,2.31,2.31,0,0,0-1.071-1.868.741.741,0,0,1-.273-.508C25.733,34.17,25.754,33.562,25.754,32.955Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.831,37.757c-.142-.2-.37-.4-.405-.619-.048-.311.19-.513.516-.535.3-.022.626.279.542.557a2.262,2.262,0,0,1-.436.6Z" transform="translate(-1 -1.101)"/></svg>
                                    <label :class="{active: formData.buyForm.timeframe === '4-6 Months'}" style="margin-top: 5px;" for="buy_4-6Months">4-6 Months</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for 7+ months -->
                        <input
                            type="radio"
                            id="buy_7+Months"
                            v-model="formData.buyForm.timeframe"
                            value="7+ Months"
                            hidden
                        >

                        <!-- Cta for 7+ months -->
                        <a
                            id="buy2-cta-3"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showFormLastQuestion"
                            :class="{active: formData.buyForm.timeframe === '7+ Months'}"
                        >
                            <label :class="{active: formData.buyForm.timeframe === '7+ Months'}" @click="scrollingTo('buy2-cta-3')" for="buy_7+Months">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50"><path class="cls-1" d="M1,18.778a4.129,4.129,0,0,1,1.858-2.231Q13.655,9.023,24.426,1.46l.517-.359c.117.075.237.144.349.222L47.544,16.9a2.782,2.782,0,1,1-2.872,4.765q-.082-.049-.162-.105c-2.408-1.669-4.8-3.36-7.2-5.04L25.821,8.475c-.815-.571-.913-.569-1.731,0C17.924,12.8,11.742,17.09,5.6,21.442A2.835,2.835,0,0,1,1.055,19.88c-.006-.027-.036-.049-.055-.073Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M12.94,42.8H7.971V22.2a.814.814,0,0,1,.381-.77q8.11-5.657,16.2-11.344a.587.587,0,0,1,.81,0q8.109,5.7,16.236,11.374a.7.7,0,0,1,.341.651q-.011,10.1,0,20.209c0,.152-.015.3-.024.479H37.08c2.444-6.984,1.028-12.824-5.3-17a13.262,13.262,0,0,0-18.84,17Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.97,48.816A11.679,11.679,0,1,1,36.636,37.124v.022A11.709,11.709,0,0,1,24.97,48.816ZM24.988,26.6A10.544,10.544,0,1,0,35.505,37.2,10.544,10.544,0,0,0,24.988,26.6Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M33.161,40.915c-.825-.38-1.233-.326-1.484.118s-.091.8.64,1.328l-2.125,2.133c-.592-.741-.947-.883-1.375-.616-.411.256-.455.642-.106,1.473l-2.854.767c-.264-.98-.471-1.233-.928-1.218s-.7.313-.821,1.122a8.035,8.035,0,0,1-2.883-.742c.315-.771.272-1.147-.136-1.4-.424-.265-.772-.126-1.373.607l-2.107-2.1c.722-.629.856-.951.614-1.361-.255-.432-.629-.48-1.474-.124l-.755-2.778a7.277,7.277,0,0,0,1.021-.523.7.7,0,0,0,.162-.509c0-.468-.283-.66-1.208-.809l.774-2.909c.841.36,1.216.32,1.472-.1s.114-.784-.614-1.371l2.1-2.1c.69.744,1,.862,1.414.589s.434-.65.069-1.449l2.9-.787c.181.953.371,1.2.852,1.215.5.012.7-.239.9-1.21l2.863.768c-.315.91-.27,1.251.148,1.49s.793.088,1.34-.624l2.035,2.018a7.542,7.542,0,0,0-.616,1,.69.69,0,0,0,.13.518c.253.394.639.412,1.337.076a8.114,8.114,0,0,1,.785,2.875c-.925.241-1.164.44-1.131.922s.314.678,1.214.812Zm-7.407-7.96h0c0-.655.014-1.309,0-1.963a.774.774,0,0,0-.711-.833h0c-.513-.05-.869.3-.875.908q-.015,1.822.006,3.645a.638.638,0,0,1-.344.633,2.1,2.1,0,0,0-.71,2.884l.01.016a2.165,2.165,0,0,0,2.9.763.721.721,0,0,1,.574.013c.62.323,1.216.693,1.824,1.04.531.3,1.023.22,1.258-.206s.062-.87-.479-1.185c-.605-.353-1.22-.689-1.811-1.063a.671.671,0,0,1-.273-.455,2.31,2.31,0,0,0-1.071-1.868.741.741,0,0,1-.273-.508C25.733,34.17,25.754,33.562,25.754,32.955Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.831,37.757c-.142-.2-.37-.4-.405-.619-.048-.311.19-.513.516-.535.3-.022.626.279.542.557a2.262,2.262,0,0,1-.436.6Z" transform="translate(-1 -1.101)"/></svg>
                                    <label :class="{active: formData.buyForm.timeframe === '7+ Months'}" style="margin-top: 5px;" for="buy_7+Months">7+ Months</label>
                                </div>
                            </label>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Refinancing the property is question -->
            <div id="showRefinanceFormQuestions1">
                <div class="step-container-inner" v-if="showRefinanceFormQuestions1">

                    <!-- Title -->
                    <h2 class="step-container-inner-title">Q. The property is</h2>

                    <!-- Cta wrapper -->
                    <div class="step-container-inner-cta-wrapper">

                        <!-- Hidden input for owner occupied -->
                        <input
                            type="radio"
                            id="refinance_owner_occupied"
                            v-model="formData.refinanceForm.property_purpose"
                            value="Owner occupied"
                            hidden
                        >

                        <!-- Cta for owner occupied -->
                        <a
                            id="refinance-cta-1"
                            href="#showRefinanceForm2"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showRefinanceForm2"
                            :class="{active: formData.refinanceForm.property_purpose === 'Owner occupied'}"
                        >
                            <label :class="{active: formData.refinanceForm.property_purpose === 'Owner occupied'}" @click="scrollingTo('refinance-cta-1')" for="refinance_owner_occupied">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50"><path class="cls-1" d="M26.648,41.808a4.4,4.4,0,0,1,.47-6.2l.007-.006,3.333-2.856a13.2,13.2,0,0,0-3.6-.5h-.49v.978a6.363,6.363,0,0,1-12.725.159q0-.079,0-.159v-.978h-.489A13.23,13.23,0,0,0-.059,45.458v3.133a1.469,1.469,0,0,0,1.468,1.468H7.772V43.5a1.469,1.469,0,0,1,2.937,0v6.559H28.034V42.888A4.393,4.393,0,0,1,26.648,41.808Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M49.546,37.827l-9.3-7.971a1.469,1.469,0,0,0-1.911,0l-9.3,7.971a1.468,1.468,0,0,0,1.911,2.23l.023-.02V50.059h6.852V44.717a1.5,1.5,0,0,1,1.4-1.508A1.467,1.467,0,0,1,40.759,44.6c0,.024,0,.048,0,.072v5.384h5.383a1.469,1.469,0,0,0,1.469-1.468V40.037l.023.02a1.468,1.468,0,1,0,1.911-2.23ZM40.27,40.27H38.312a1.468,1.468,0,1,1,0-2.936H40.27a1.468,1.468,0,0,1,0,2.936Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M17.381,8.906a2.937,2.937,0,0,1,5.253,0A4.124,4.124,0,0,0,26.343,11.2h7.943a14.684,14.684,0,0,0-28.556,0h7.943A4.123,4.123,0,0,0,17.381,8.906Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M30.286,19.518V14.135H26.343a7.083,7.083,0,0,1-6.335-3.916,7.083,7.083,0,0,1-6.335,3.916H9.73v5.383a10.278,10.278,0,0,0,20.556,0Zm-6.793,4.918a4.926,4.926,0,0,1-6.966,0l-.005,0A1.469,1.469,0,0,1,18.6,22.36a1.992,1.992,0,0,0,2.817,0h0a1.468,1.468,0,0,1,2.076,2.076Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M33.222,20.008a2.937,2.937,0,1,0,.108-5.873h-.108Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M6.793,20.008V14.135a2.937,2.937,0,0,0,0,5.873Z" transform="translate(0.059 0.058)"/><path class="cls-1" d="M16.582,32.282v.94a3.426,3.426,0,0,0,6.852,0h0v-.94A13.245,13.245,0,0,1,16.582,32.282Z" transform="translate(0.059 0.058)"/></svg>
                                    <label :class="{active: formData.refinanceForm.property_purpose === 'Owner occupied'}" style="margin-top: 10px;" for="refinance_owner_occupied">Owner occupied</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for investment -->
                        <input
                            type="radio"
                            id="refinance_investment"
                            v-model="formData.refinanceForm.property_purpose"
                            value="Investment"
                            hidden
                        >

                        <!-- Cta for investment -->
                        <a
                            id="refinance-cta-2"
                            href="#showRefinanceForm2"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showRefinanceForm2"
                            :class="{active: formData.refinanceForm.property_purpose === 'Investment'}"
                        >
                            <label :class="{active: formData.refinanceForm.property_purpose === 'Investment'}" @click="scrollingTo('refinance-cta-2')" for="refinance_investment">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="65" height="60" viewBox="0 0 45 45"><path class="cls-1" d="M25.148,24.143v4.026a9.973,9.973,0,0,1,.919-.733c1.2-.748,2.426-1.462,3.625-2.215a1.846,1.846,0,0,0,.685-.674,10.318,10.318,0,0,1,15.1-4.059c.752.514.823.734.506,1.573A10.254,10.254,0,0,1,30.791,27.02a.671.671,0,0,0-.775-.039,16.274,16.274,0,0,0-4.586,3.362,1.312,1.312,0,0,0-.295.746c-.045.532-.013,1.07-.013,1.66H35.188c.882,0,1.158.275,1.16,1.159v2.256H12.184c0-.892-.049-1.8.019-2.708.039-.52.476-.708.989-.707,2.23.007,4.461,0,6.692,0h2.721a2.039,2.039,0,0,0-.247-.37c-1.129-1.024-2.266-2.038-3.394-3.063-.253-.229-.473-.138-.733-.02A10.263,10.263,0,0,1,3.91,22.2c-.173-.763-.049-1.029.651-1.386a10.238,10.238,0,0,1,14.407,6.057,1.7,1.7,0,0,0,.675.9c1.27.96,2.5,1.971,3.71,2.932V24.14a12.034,12.034,0,0,1-9.4-5.771,11.7,11.7,0,0,1-1.625-8.279,12.1,12.1,0,1,1,12.82,14.053Zm-5.42-9.5c-.029,1.924,1.22,3.105,3.682,3.493v2h1.726V18.1c2.1-.145,3.5-1.331,3.66-3.061a3.411,3.411,0,0,0-.574-2.358,3.574,3.574,0,0,0-3.076-1.537V7.755c1.049-.106,1.623.37,2.017,1.658h1.595c.187-1.789-1.175-3.1-3.657-3.493v-2H23.377V5.964c-2.077.141-3.476,1.311-3.651,3a3.474,3.474,0,0,0,.568,2.414,3.6,3.6,0,0,0,3.078,1.537V16.3c-1.047.112-1.641-.38-2.017-1.66Z" transform="translate(-3.84 -0.017)"/><path class="cls-1" d="M12.726,37.962H35.741c-.256.24-.446.421-.638.6a9.231,9.231,0,0,0-2.961,6.555c-.07,1.274-.08,2.552-.11,3.828-.018.773-.308,1.077-1.083,1.077H17.621c-.851,0-1.1-.287-1.142-1.13-.081-1.739-.112-3.486-.315-5.213a8.363,8.363,0,0,0-2.908-5.264C13.115,38.286,12.967,38.167,12.726,37.962Z" transform="translate(-3.84 -0.017)"/><path class="cls-1" d="M23.365,11.143A1.721,1.721,0,0,1,21.44,9.654a1.758,1.758,0,0,1-.013-.281A1.7,1.7,0,0,1,23.365,7.74Z" transform="translate(-3.84 -0.017)"/><path class="cls-1" d="M25.138,16.334V12.915a1.718,1.718,0,0,1,1.738,2.526A1.7,1.7,0,0,1,25.138,16.334Z" transform="translate(-3.84 -0.017)"/></svg>
                                    <label :class="{active: formData.refinanceForm.property_purpose === 'Investment'}" style="margin-top: 10px;" for="refinance_investment">Investment</label>
                                </div>
                            </label>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Refinancing what are you looking to refinance question -->
            <div id="showRefinanceForm2">
                <div class="step-container-inner" v-if="showRefinanceFormQuestions2">

                    <!-- Title -->
                    <h2 class="step-container-inner-title">Q. Why are you looking to refinance?</h2>

                    <!-- Cta wrapper -->
                    <div class="step-container-inner-cta-wrapper">

                        <!-- Hidden input for save money -->
                        <input
                            type="radio"
                            id="save_money"
                            v-model="formData.refinanceForm.refinance_purpose"
                            value="Save money on interest"
                            hidden
                        >

                        <!-- Cta for save money -->
                        <a
                            id="refinance2-cta-1"
                            href="#showRefinanceForm3"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showRefinanceForm3"
                            :class="{active: formData.refinanceForm.refinance_purpose === 'Save money on interest'}"
                        >
                            <label :class="{active: formData.refinanceForm.refinance_purpose === 'Save money on interest'}" @click="scrollingTo('refinance2-cta-1')" for="save_money">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 440 440"><path class="cls-1" d="M321.4,79.1l-9.331-41.993-2.711.454a27.159,27.159,0,0,0-22.487,22.912L317.918,79.1Z"/><path class="cls-1" d="M353.963,79.1l12.452-56.013c-4.959-4.1-13.646-9.91-21.227-9.91s-16.268,5.808-21.22,9.91L336.42,79.1Z"/><path class="cls-1" d="M403.5,60.472A27.15,27.15,0,0,0,381.013,37.56l-2.71-.454L368.971,79.1h3.487Z"/><path class="cls-1" d="M293.915,108.4H396.461a7.325,7.325,0,0,0,0-14.65H293.915a7.325,7.325,0,0,0,0,14.65Z"/><path class="cls-1" d="M220.667,328.14a7.332,7.332,0,0,0,7.325,7.324h6.365a28.371,28.371,0,0,0,.96-7.324,7.325,7.325,0,0,0-14.65,0Z"/><path class="cls-1" d="M434.044,199.334,378.1,123.047h-65.82l-55.947,76.287a107.87,107.87,0,0,0-20.472,55.046c28.625,11.346,50.46,36.015,56.386,66.867A92.524,92.524,0,0,1,291.8,358.6a107.947,107.947,0,0,0,52.071,13.492h2.63a108.558,108.558,0,0,0,87.545-172.754Zm-88.351-3.04h-1.018a21.467,21.467,0,0,0-5.2,42.293l14.987,3.751a36.092,36.092,0,0,1-1.949,70.464V328.14H337.863V312.8a36.137,36.137,0,0,1-29.3-35.43v-7.83h14.65v7.83a21.485,21.485,0,0,0,21.468,21.469H345.7a21.467,21.467,0,0,0,5.2-42.293L335.915,252.8a36.092,36.092,0,0,1,1.948-70.464V167h14.649v15.338a36.138,36.138,0,0,1,29.3,35.43l-14.649.506v-.506A21.486,21.486,0,0,0,345.693,196.294Z"/><path class="cls-1" d="M243.894,350.114a42.507,42.507,0,0,1-6.431,8.211L211.2,384.591l-10.357-10.357,24.3-24.3a21.976,21.976,0,1,1,24.823-21.791,42.658,42.658,0,0,1-.622,7.324h1.882a28.087,28.087,0,0,0,25.431-16.414c-8.8-33.211-40-56.833-76.191-56.833H142.893l-6.849-13.7a28.081,28.081,0,0,0-20.589-15.228l-13.844,32.265-3,1.077A74.731,74.731,0,0,0,53.7,310.8l-3.758,10.02H37.549a7.332,7.332,0,0,0-7.325,7.325v36.623a7.332,7.332,0,0,0,7.325,7.325H49.217L51.3,375.9c6.959,12.708,21.381,24.6,40.6,33.489l4.249,1.963v19.337a7.332,7.332,0,0,0,7.324,7.325h14.65a7.333,7.333,0,0,0,7.325-7.325V416.037h73.247v14.649a7.332,7.332,0,0,0,7.325,7.325h14.649a7.333,7.333,0,0,0,7.325-7.325V411.2l4.446-1.9A76.273,76.273,0,0,0,279.206,339.5a42.687,42.687,0,0,1-27.98,10.614ZM96.147,313.49a7.325,7.325,0,1,1,7.324-7.324A7.327,7.327,0,0,1,96.147,313.49Z"/><path class="cls-1" d="M44.873,79.1V167H88.822V79.1h10.6a11.375,11.375,0,0,0,9.632-17.426L77.937,12.128a12.934,12.934,0,0,0-22.179,0L24.642,61.673A11.375,11.375,0,0,0,34.275,79.1Z"/><path class="cls-1" d="M151.47,123.047h10.6v87.9h43.949v-87.9h10.6a11.375,11.375,0,0,0,9.632-17.426L195.133,56.077a12.934,12.934,0,0,0-22.179,0l-31.116,49.544a11.375,11.375,0,0,0,9.632,17.426Z"/></svg>
                                    <label :class="{active: formData.refinanceForm.refinance_purpose === 'Save money on interest'}" style="margin-top: 10px;" for="save_money">Save money on interest</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for purchase an additional perperty -->
                        <input
                            type="radio"
                            id="purchase_another"
                            v-model="formData.refinanceForm.refinance_purpose"
                            value="Purchase an additional property"
                            hidden
                        >

                        <!-- Cta for purchase an additional perperty -->
                        <a
                            id="refinance2-cta-2"
                            href="#showRefinanceForm3"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showRefinanceForm3"
                            :class="{active: formData.refinanceForm.refinance_purpose === 'Purchase an additional property'}"
                        >
                            <label :class="{active: formData.refinanceForm.refinance_purpose === 'Purchase an additional property'}" @click="scrollingTo('refinance2-cta-2')" for="purchase_another">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 440 440"><g id="Solid"><path class="cls-1" d="M24.337,323.4H54.462v90.376H24.337Z"/><path class="cls-1" d="M220.151,248.087h15.062v15.062H220.151Z"/><path class="cls-1" d="M129.775,320.785A176.059,176.059,0,0,1,167.3,334.444a38.266,38.266,0,0,0,17.022,4.018h58.421a26.375,26.375,0,0,1,26.221,29.07l26.5-11.25V180.305H129.775Zm143.1-4.917H182.494V300.806H272.87ZM159.9,263.149h15.063V210.43a7.531,7.531,0,0,1,7.531-7.531h30.125a7.532,7.532,0,0,1,7.532,7.531v22.594h22.594a7.531,7.531,0,0,1,7.531,7.531v22.594h15.063v15.063H159.9Zm-7.531,37.657h15.062v15.062H152.369Z"/><path class="cls-1" d="M332.947,360.71a12.012,12.012,0,0,0-9.409.014L260.579,387.46a46.53,46.53,0,0,1-16.271,3.672c-.517.03-1.035.05-1.563.05v-.012c-.156,0-.309.012-.464.012H152.369V376.119h89.912c.3,0,.606-.014.909-.023a11.29,11.29,0,0,0-.445-22.571H184.324a53.4,53.4,0,0,1-23.759-5.609,161.7,161.7,0,0,0-71.951-16.985H69.524v71.194l61.955,25.728a115.263,115.263,0,0,0,84.749.918l116.343-44.362a12.439,12.439,0,0,0,6.966-6.671,12.921,12.921,0,0,0,.205-10.018,12.459,12.459,0,0,0-6.8-7.01Z"/><path class="cls-1" d="M396.694,97.46H329.8l-41.712,67.782H303a7.531,7.531,0,0,1,7.531,7.532v82.844h91.928a51.17,51.17,0,0,0,43.578-77.985ZM385.84,165.242H370.777v-1.1a6.44,6.44,0,0,0-6.433-6.433h-2.2A6.433,6.433,0,0,0,359.27,169.9l14.686,7.343a21.5,21.5,0,0,1-3.179,39.738v8.515H355.714v-8.515a21.536,21.536,0,0,1-15.062-20.512v-1.1h15.062v1.1a6.441,6.441,0,0,0,6.433,6.433h2.2a6.433,6.433,0,0,0,2.877-12.186l-14.686-7.343a21.5,21.5,0,0,1,3.179-39.738v-8.515h15.063v8.515a21.536,21.536,0,0,1,15.063,20.512Zm30.125,22.594H400.9V172.774h15.063Z"/><path class="cls-1" d="M333.12,67.335h60.251V82.4H333.12Z"/><path class="cls-1" d="M415.8,27.386A15.746,15.746,0,0,0,393.183,15.6L366.614,28.883a7.534,7.534,0,0,1-6.737,0L333.309,15.6a15.747,15.747,0,0,0-22.618,11.787l18.664,24.886h67.782Z"/><path class="cls-1" d="M190.025,217.961h15.063v45.188H190.025Z"/><path class="cls-1" d="M275.251,21.76,232.382,7.471l-4.762,14.29,23.355,7.785a159.486,159.486,0,0,0-81.115,87.872l14.11,5.272a144.291,144.291,0,0,1,76.706-81.019l-9.241,27.723,14.29,4.762,14.29-42.869a7.532,7.532,0,0,0-4.764-9.527Z"/><path class="cls-1" d="M179.47,137l-14.586-3.756a158.043,158.043,0,0,0-3.217,15.821l14.9,2.239A143.227,143.227,0,0,1,179.47,137Z"/><path class="cls-1" d="M324.09,313.007l3,14.761a158,158,0,0,0,72.992-36.376l-9.967-11.3a142.922,142.922,0,0,1-66.023,32.912Z"/></g></svg>
                                    <label :class="{active: formData.refinanceForm.refinance_purpose === 'Purchase an additional property'}" style="margin-top: 10px;" for="purchase_another">Purchase an additional property</label>
                                </div>
                            </label>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Refinancing what is your timeframe for refinancing question -->
            <div id="showRefinanceForm3">
                <div class="step-container-inner" v-if="showRefinanceFormQuestions3">

                    <!-- Title -->
                    <h2 class="step-container-inner-title">Q. What is your timeframe for refinancing?</h2>

                    <!-- Cta wrapper -->
                    <div class="step-container-inner-cta-wrapper">

                        <!-- Hidden input for 0-3 months -->
                        <input
                            type="radio"
                            id="refinance_0-3Months"
                            v-model="formData.refinanceForm.timeframe"
                            value="0-3 Months"
                            hidden
                        >

                        <!-- Cta for 0-3 months -->
                        <a
                            id="refinance3-cta-1"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showFormLastQuestion"
                            :class="{active: formData.refinanceForm.timeframe === '0-3 Months'}"
                        >
                            <label :class="{active: formData.refinanceForm.timeframe === '0-3 Months'}" @click="scrollingTo('refinance3-cta-1')" for="refinance_0-3Months">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50"><path class="cls-1" d="M1,18.778a4.129,4.129,0,0,1,1.858-2.231Q13.655,9.023,24.426,1.46l.517-.359c.117.075.237.144.349.222L47.544,16.9a2.782,2.782,0,1,1-2.872,4.765q-.082-.049-.162-.105c-2.408-1.669-4.8-3.36-7.2-5.04L25.821,8.475c-.815-.571-.913-.569-1.731,0C17.924,12.8,11.742,17.09,5.6,21.442A2.835,2.835,0,0,1,1.055,19.88c-.006-.027-.036-.049-.055-.073Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M12.94,42.8H7.971V22.2a.814.814,0,0,1,.381-.77q8.11-5.657,16.2-11.344a.587.587,0,0,1,.81,0q8.109,5.7,16.236,11.374a.7.7,0,0,1,.341.651q-.011,10.1,0,20.209c0,.152-.015.3-.024.479H37.08c2.444-6.984,1.028-12.824-5.3-17a13.262,13.262,0,0,0-18.84,17Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.97,48.816A11.679,11.679,0,1,1,36.636,37.124v.022A11.709,11.709,0,0,1,24.97,48.816ZM24.988,26.6A10.544,10.544,0,1,0,35.505,37.2,10.544,10.544,0,0,0,24.988,26.6Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M33.161,40.915c-.825-.38-1.233-.326-1.484.118s-.091.8.64,1.328l-2.125,2.133c-.592-.741-.947-.883-1.375-.616-.411.256-.455.642-.106,1.473l-2.854.767c-.264-.98-.471-1.233-.928-1.218s-.7.313-.821,1.122a8.035,8.035,0,0,1-2.883-.742c.315-.771.272-1.147-.136-1.4-.424-.265-.772-.126-1.373.607l-2.107-2.1c.722-.629.856-.951.614-1.361-.255-.432-.629-.48-1.474-.124l-.755-2.778a7.277,7.277,0,0,0,1.021-.523.7.7,0,0,0,.162-.509c0-.468-.283-.66-1.208-.809l.774-2.909c.841.36,1.216.32,1.472-.1s.114-.784-.614-1.371l2.1-2.1c.69.744,1,.862,1.414.589s.434-.65.069-1.449l2.9-.787c.181.953.371,1.2.852,1.215.5.012.7-.239.9-1.21l2.863.768c-.315.91-.27,1.251.148,1.49s.793.088,1.34-.624l2.035,2.018a7.542,7.542,0,0,0-.616,1,.69.69,0,0,0,.13.518c.253.394.639.412,1.337.076a8.114,8.114,0,0,1,.785,2.875c-.925.241-1.164.44-1.131.922s.314.678,1.214.812Zm-7.407-7.96h0c0-.655.014-1.309,0-1.963a.774.774,0,0,0-.711-.833h0c-.513-.05-.869.3-.875.908q-.015,1.822.006,3.645a.638.638,0,0,1-.344.633,2.1,2.1,0,0,0-.71,2.884l.01.016a2.165,2.165,0,0,0,2.9.763.721.721,0,0,1,.574.013c.62.323,1.216.693,1.824,1.04.531.3,1.023.22,1.258-.206s.062-.87-.479-1.185c-.605-.353-1.22-.689-1.811-1.063a.671.671,0,0,1-.273-.455,2.31,2.31,0,0,0-1.071-1.868.741.741,0,0,1-.273-.508C25.733,34.17,25.754,33.562,25.754,32.955Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.831,37.757c-.142-.2-.37-.4-.405-.619-.048-.311.19-.513.516-.535.3-.022.626.279.542.557a2.262,2.262,0,0,1-.436.6Z" transform="translate(-1 -1.101)"/></svg>
                                    <label :class="{active: formData.refinanceForm.timeframe === '0-3 Months'}" style="margin-top: 5px;" for="refinance_0-3Months">0-3 Months</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for 4-6 months -->
                        <input
                            type="radio"
                            id="refinance_4-6Months"
                            v-model="formData.refinanceForm.timeframe"
                            value="4-6 Months"
                            hidden
                        >

                        <!-- Cta for 4-6 months -->
                        <a
                            id="refinance3-cta-2"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showFormLastQuestion"
                            :class="{active: formData.refinanceForm.timeframe === '4-6 Months'}"
                        >
                            <label :class="{active: formData.refinanceForm.timeframe === '4-6 Months'}" @click="scrollingTo('refinance3-cta-2')" for="refinance_4-6Months">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50"><path class="cls-1" d="M1,18.778a4.129,4.129,0,0,1,1.858-2.231Q13.655,9.023,24.426,1.46l.517-.359c.117.075.237.144.349.222L47.544,16.9a2.782,2.782,0,1,1-2.872,4.765q-.082-.049-.162-.105c-2.408-1.669-4.8-3.36-7.2-5.04L25.821,8.475c-.815-.571-.913-.569-1.731,0C17.924,12.8,11.742,17.09,5.6,21.442A2.835,2.835,0,0,1,1.055,19.88c-.006-.027-.036-.049-.055-.073Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M12.94,42.8H7.971V22.2a.814.814,0,0,1,.381-.77q8.11-5.657,16.2-11.344a.587.587,0,0,1,.81,0q8.109,5.7,16.236,11.374a.7.7,0,0,1,.341.651q-.011,10.1,0,20.209c0,.152-.015.3-.024.479H37.08c2.444-6.984,1.028-12.824-5.3-17a13.262,13.262,0,0,0-18.84,17Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.97,48.816A11.679,11.679,0,1,1,36.636,37.124v.022A11.709,11.709,0,0,1,24.97,48.816ZM24.988,26.6A10.544,10.544,0,1,0,35.505,37.2,10.544,10.544,0,0,0,24.988,26.6Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M33.161,40.915c-.825-.38-1.233-.326-1.484.118s-.091.8.64,1.328l-2.125,2.133c-.592-.741-.947-.883-1.375-.616-.411.256-.455.642-.106,1.473l-2.854.767c-.264-.98-.471-1.233-.928-1.218s-.7.313-.821,1.122a8.035,8.035,0,0,1-2.883-.742c.315-.771.272-1.147-.136-1.4-.424-.265-.772-.126-1.373.607l-2.107-2.1c.722-.629.856-.951.614-1.361-.255-.432-.629-.48-1.474-.124l-.755-2.778a7.277,7.277,0,0,0,1.021-.523.7.7,0,0,0,.162-.509c0-.468-.283-.66-1.208-.809l.774-2.909c.841.36,1.216.32,1.472-.1s.114-.784-.614-1.371l2.1-2.1c.69.744,1,.862,1.414.589s.434-.65.069-1.449l2.9-.787c.181.953.371,1.2.852,1.215.5.012.7-.239.9-1.21l2.863.768c-.315.91-.27,1.251.148,1.49s.793.088,1.34-.624l2.035,2.018a7.542,7.542,0,0,0-.616,1,.69.69,0,0,0,.13.518c.253.394.639.412,1.337.076a8.114,8.114,0,0,1,.785,2.875c-.925.241-1.164.44-1.131.922s.314.678,1.214.812Zm-7.407-7.96h0c0-.655.014-1.309,0-1.963a.774.774,0,0,0-.711-.833h0c-.513-.05-.869.3-.875.908q-.015,1.822.006,3.645a.638.638,0,0,1-.344.633,2.1,2.1,0,0,0-.71,2.884l.01.016a2.165,2.165,0,0,0,2.9.763.721.721,0,0,1,.574.013c.62.323,1.216.693,1.824,1.04.531.3,1.023.22,1.258-.206s.062-.87-.479-1.185c-.605-.353-1.22-.689-1.811-1.063a.671.671,0,0,1-.273-.455,2.31,2.31,0,0,0-1.071-1.868.741.741,0,0,1-.273-.508C25.733,34.17,25.754,33.562,25.754,32.955Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.831,37.757c-.142-.2-.37-.4-.405-.619-.048-.311.19-.513.516-.535.3-.022.626.279.542.557a2.262,2.262,0,0,1-.436.6Z" transform="translate(-1 -1.101)"/></svg>
                                    <label :class="{active: formData.refinanceForm.timeframe === '4-6 Months'}" style="margin-top: 5px;" for="refinance_4-6Months">4-6 Months</label>
                                </div>
                            </label>
                        </a>

                        <!-- Hidden input for 7+ months -->
                        <input
                            type="radio"
                            id="refinance_7+Months"
                            v-model="formData.refinanceForm.timeframe"
                            value="7+ Months"
                            hidden
                        >

                        <!-- Cta for 7+ months -->
                        <a
                            id="refinance3-cta-3"
                            href="#showFormLastQuestion"
                            class="step-container-inner-cta-wrapper-underline-button"
                            @click="showFormLastQuestion"
                            :class="{active: formData.refinanceForm.timeframe === '7+ Months'}"
                        >
                            <label :class="{active: formData.refinanceForm.timeframe === '7+ Months'}" @click="scrollingTo('refinance3-cta-3')" for="refinance_7+Months">
                                <div class="step-container-inner-cta-wrapper-underline-button-inner">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50"><path class="cls-1" d="M1,18.778a4.129,4.129,0,0,1,1.858-2.231Q13.655,9.023,24.426,1.46l.517-.359c.117.075.237.144.349.222L47.544,16.9a2.782,2.782,0,1,1-2.872,4.765q-.082-.049-.162-.105c-2.408-1.669-4.8-3.36-7.2-5.04L25.821,8.475c-.815-.571-.913-.569-1.731,0C17.924,12.8,11.742,17.09,5.6,21.442A2.835,2.835,0,0,1,1.055,19.88c-.006-.027-.036-.049-.055-.073Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M12.94,42.8H7.971V22.2a.814.814,0,0,1,.381-.77q8.11-5.657,16.2-11.344a.587.587,0,0,1,.81,0q8.109,5.7,16.236,11.374a.7.7,0,0,1,.341.651q-.011,10.1,0,20.209c0,.152-.015.3-.024.479H37.08c2.444-6.984,1.028-12.824-5.3-17a13.262,13.262,0,0,0-18.84,17Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.97,48.816A11.679,11.679,0,1,1,36.636,37.124v.022A11.709,11.709,0,0,1,24.97,48.816ZM24.988,26.6A10.544,10.544,0,1,0,35.505,37.2,10.544,10.544,0,0,0,24.988,26.6Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M33.161,40.915c-.825-.38-1.233-.326-1.484.118s-.091.8.64,1.328l-2.125,2.133c-.592-.741-.947-.883-1.375-.616-.411.256-.455.642-.106,1.473l-2.854.767c-.264-.98-.471-1.233-.928-1.218s-.7.313-.821,1.122a8.035,8.035,0,0,1-2.883-.742c.315-.771.272-1.147-.136-1.4-.424-.265-.772-.126-1.373.607l-2.107-2.1c.722-.629.856-.951.614-1.361-.255-.432-.629-.48-1.474-.124l-.755-2.778a7.277,7.277,0,0,0,1.021-.523.7.7,0,0,0,.162-.509c0-.468-.283-.66-1.208-.809l.774-2.909c.841.36,1.216.32,1.472-.1s.114-.784-.614-1.371l2.1-2.1c.69.744,1,.862,1.414.589s.434-.65.069-1.449l2.9-.787c.181.953.371,1.2.852,1.215.5.012.7-.239.9-1.21l2.863.768c-.315.91-.27,1.251.148,1.49s.793.088,1.34-.624l2.035,2.018a7.542,7.542,0,0,0-.616,1,.69.69,0,0,0,.13.518c.253.394.639.412,1.337.076a8.114,8.114,0,0,1,.785,2.875c-.925.241-1.164.44-1.131.922s.314.678,1.214.812Zm-7.407-7.96h0c0-.655.014-1.309,0-1.963a.774.774,0,0,0-.711-.833h0c-.513-.05-.869.3-.875.908q-.015,1.822.006,3.645a.638.638,0,0,1-.344.633,2.1,2.1,0,0,0-.71,2.884l.01.016a2.165,2.165,0,0,0,2.9.763.721.721,0,0,1,.574.013c.62.323,1.216.693,1.824,1.04.531.3,1.023.22,1.258-.206s.062-.87-.479-1.185c-.605-.353-1.22-.689-1.811-1.063a.671.671,0,0,1-.273-.455,2.31,2.31,0,0,0-1.071-1.868.741.741,0,0,1-.273-.508C25.733,34.17,25.754,33.562,25.754,32.955Z" transform="translate(-1 -1.101)"/><path class="cls-1" d="M24.831,37.757c-.142-.2-.37-.4-.405-.619-.048-.311.19-.513.516-.535.3-.022.626.279.542.557a2.262,2.262,0,0,1-.436.6Z" transform="translate(-1 -1.101)"/></svg>
                                    <label :class="{active: formData.refinanceForm.timeframe === '7+ Months'}" style="margin-top: 5px;" for="refinance_7+Months">7+ Months</label>
                                </div>
                            </label>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Last question for personal details -->
            <div id="showFormLastQuestion">
                <div class="step-container-inner" v-if="showLastQuestionForEveryForm">

                <div class="step-container-inner-other-wrapper">
                    <!-- Title -->
                    <h2 class="step-container-inner-title">Q. Enter your details below to receive your Property &amp; Home Loan Report</h2>


                    <form @submit="sendEmail(); downloadPdf(chosenLocation.id, chosenLocation.name)">

                        <div class="step-container-inner-other-wrapper-submit">
                            <div class="step-container-inner-other-wrapper-submit-label">
                                <label for="full_name">Full name</label>
                            </div>
                            <input
                                class="step-container-inner-other-wrapper-input"
                                type="text"
                                id="full_name"
                                placeholder="Full name"
                                v-model="formData.contactForm.full_name"
                            >
                        </div>


                        <div class="step-container-inner-other-wrapper-submit">
                            <div class="step-container-inner-other-wrapper-submit-label">
                                <label for="mobile">Mobile</label>
                            </div>
                            <input
                                class="step-container-inner-other-wrapper-input"
                                type="text"
                                id="mobile"
                                placeholder="04XX XXX XXX"
                                v-model="formData.contactForm.mobile"
                            >
                        </div>


                        <div class="step-container-inner-other-wrapper-submit">
                            <div class="step-container-inner-other-wrapper-submit-label">
                                <label for="email">Email</label>
                            </div>
                            <input
                                class="step-container-inner-other-wrapper-input"
                                type="text"
                                id="email"
                                placeholder="Email address"
                                v-model="formData.contactForm.email"
                            >
                        </div>


                        <div class="step-container-inner-other-wrapper-submit">
                            <input
                                type="checkbox"
                                id="termsAndConds"
                                v-model="formData.contactForm.termsAndConds"
                                required
                            >
                            <label class="step-container-inner-other-wrapper-submit-label" for="termsAndConds">Terms and conditions</label>
                        </div>

                        <div class="step-container-inner-other-wrapper-btn">
                            <button type="submit">Get Report</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>


        <!-- Third step, before download -->
        <div style="padding-bottom: 100px;" class="step-container" v-show="showThirdStep">
            <div class="step-container-inner" style="align-items:center; justify-content: center; z-index: 1;">
                <h2 class="step-container-inner-title">Please wait, we are building your report!</h2>

                <div class="lds-dual-ring"></div>
            </div>
        </div>


        <!-- Third four, after download -->
        <div style="padding-bottom: 100px;" class="step-container" v-show="showFourthStep">
            <div class="step-container-inner" style="align-items:center; justify-content: center; z-index: 1;">
                <h2 class="step-container-inner-title">Thank you for your enquiry!</h2>

                <div style="margin-top:30px;">
                    <button @click="goBack">Go back</button>
                </div>
            </div>
        </div>


        <!-- Timeline -->
        <div v-show="(showSecondStep || showThirdStep || showFourthStep)" class="dpg-property-report-container-timeline">

            <!-- Timeline first step -->
            <div class="dpg-property-report-container-timeline-inner">
                <!-- Circle -->
                <div
                    class="dpg-property-report-container-timeline-inner-circle"
                    :class="[(showSellFormQuestions1 || showBuyFormQuestions1 || showRefinanceFormQuestions1) ? 'active-from' : 'inactive-from' ]"
                >
                </div>

                <!-- Line -->
                <div
                    class="dpg-property-report-container-timeline-inner-line"
                    :class="[(showSellFormQuestions1 || showBuyFormQuestions1 || showRefinanceFormQuestions1) ? 'active-from' : 'inactive-from' ]"
                >
                </div>
            </div>

            <!-- Time line second step -->
            <div class="dpg-property-report-container-timeline-inner">
                <!-- Circle -->
                <div
                    class="dpg-property-report-container-timeline-inner-circle"
                    :class="[(showSellFormQuestions2 || showBuyFormQuestions2 || showRefinanceFormQuestions2) ? 'active-from' : 'inactive-from' ]"
                >
                </div>

                <!-- Line -->
                <div
                    class="dpg-property-report-container-timeline-inner-line"
                    :class="[(showSellFormQuestions2 || showBuyFormQuestions2 || showRefinanceFormQuestions2) ? 'active-from' : 'inactive-from' ]"
                >
                </div>
            </div>

            <!-- Timeline extra step -->
            <div v-show="showRefinanceFormQuestions1" class="dpg-property-report-container-timeline-inner">
                <!-- Circle -->
                <div
                    class="dpg-property-report-container-timeline-inner-circle"
                    :class="[(showRefinanceFormQuestions3) ? 'active-from' : 'inactive-from' ]"
                >
                </div>

                <!-- Line -->
                <div
                    class="dpg-property-report-container-timeline-inner-line"
                    :class="[(showRefinanceFormQuestions3) ? 'active-from' : 'inactive-from' ]"
                >
                </div>
            </div>

            <!-- Timeline third step -->
            <div class="dpg-property-report-container-timeline-inner">
                <!-- Circle -->
                <div
                    class="dpg-property-report-container-timeline-inner-circle"
                    :class="[showLastQuestionForEveryForm ? 'active-from' : 'inactive-from' ]"
                >
                </div>

                <!-- Line -->
                <div
                    class="dpg-property-report-container-timeline-inner-line"
                    :class="[showLastQuestionForEveryForm ? 'active-from' : 'inactive-from' ]"
                >
                </div>
            </div>

            <!-- Timeline end -->
            <div class="dpg-property-report-container-timeline-inner">
                <!-- Circle -->
                <div
                    class="dpg-property-report-container-timeline-inner-circle"
                    :class="[(showThirdStep || showFourthStep) ? 'active-from' : 'inactive-from' ]"
                >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'Forms',
    data () {
        return {
            search: '',
            chosenLocation: { id: 1, name: 'Test'},
            formData: {
                action_type: '',
                sellForm: {
                    special_features: [],
                    other_special_features: "",
                    timeframe: ''
                },
                buyForm: {
                    property_purpose: '',
                    timeframe: ''
                },
                refinanceForm: {
                    property_purpose: '',
                    timeframe: '',
                    refinance_purpose: ''
                },
                contactForm: {
                    full_name: '',
                    mobile: '',
                    email: '',
                    termsAndConds: false
                }
            },
            searchResults: null,
            showFirstStep: true,
            showSecondStep: false,
            showThirdStep: false,
            showFourthStep: false,
            showSellFormQuestions1: false,
            showSellFormQuestions2: false,
            showBuyFormQuestions1: false,
            showBuyFormQuestions2: false,
            showRefinanceFormQuestions1: false,
            showRefinanceFormQuestions2: false,
            showRefinanceFormQuestions3: false,
            showLastQuestionForEveryForm: false
        }
    },
    props: {
        emailProp: {
            type: String
        },
        apiKeyProp: {
            type: String
        }
    },
    methods: {
        /** Api call to make properties suggestions depending on the user input at each keystroke.*/
        async suggestProperties () {
            await axios.get('https://api.pricefinder.com.au/v1/suggest/properties', {
                headers: {
                    Authorization: `Bearer ${this.apiKeyProp}`
                },
                params: {
                    q: this.search
                }
            })
                .then(response => {
                    this.searchResults = response.data.matches
                })
                .catch(error => console.log(error))
        },

        /** Function used to send email to the configured email in the admin panel. The route is in dpg-wp-properties.php */
        async sendEmail () {
            let email_body = "<h1>You have a new lead</h1>";
            email_body +=
                `<div>
                    <h3>Contact data:</h3>
                    <p>Email: ${this.formData.contactForm.email},</p>
                    <p>Full Name: ${this.formData.contactForm.full_name},</p>
                    <p>Mobile: ${this.formData.contactForm.mobile}.</p>
                    <br>
                    <h3>How can I help you:</h3>`

            if(this.formData.action_type === "sell") {
                email_body +=
                    `<p>Sell my property</p><br>
                    <h4>Does your property have any special features?</h4>`

                /** If options and other. */
                if(this.formData.sellForm.special_features.length > 0 && this.formData.sellForm.other_special_features !== "") {
                    for(let i = 0; i < this.formData.sellForm.special_features.length; i++) {
                        email_body +=
                            `<p>-${this.formData.sellForm.special_features[0]}</p>`
                    }

                    email_body += `<p>-Other: ${this.formData.sellForm.other_special_features}</p><br>`

                /** If options but not other. */
                } else if(this.formData.sellForm.special_features > 0 && this.formData.sellForm.other_special_features === "") {
                    for(let i = 0; i < this.formData.sellForm.special_features.length; i++) {
                        email_body +=
                            `<p>-${this.formData.sellForm.special_features[0]}</p>`
                    }
                    email_body = "<br>"

                /** If no options but other. */
                } else if(this.formData.sellForm.special_features === 0 && this.formData.sellForm.other_special_features !== "") {
                    email_body += `<p>${this.formData.sellForm.other_special_features}</p><br>`

                /** If not options and no other. */
                } else {
                    email_body += `<p>-None</p><br>`
                }

                email_body += "<h4>What is your timeframe for selling?</h4>"
                email_body += `<p>-${this.formData.sellForm.timeframe}</p></div>`
            } else if(this.formData.action_type === "buy") {
                email_body += "<p>Buy a property</p><br>"

                email_body += "<h4>The property will be</h4>"
                email_body += `<p>-${this.formData.buyForm.property_purpose}</p><br>`

                email_body += "<h4>What is your timeframe for buying?</h4>"
                email_body += `<p>-${this.formData.buyForm.timeframe}</p></div>`
            } else {
                email_body += "<p>Refinance my property</p>"

                email_body += "<h4>The property is</h4>"
                email_body += `<p>-${this.formData.refinanceForm.property_purpose}</p><br>`

                email_body += "<h4>Why are you looking to refinance?</h4>"
                email_body += `<p>-${this.formData.refinanceForm.refinance_purpose}</p><br>`

                email_body += "<h4>What is your timeframe for refinance?</h4>"
                email_body += `<p>-${this.formData.refinanceForm.timeframe}</p></div>`
            }

            await axios.post(`${location.origin}/?rest_route=/dpg/v1/mail`, {email: this.emailProp, message: email_body})
                .then(response => {
                    this.showFirstStep = false
                    this.showSecondStep = false
                    this.showThirdStep = true
                    this.showFourthStep = false
                })
        },

        /** Api route to download the pdf depending on the property selected on the first step. */
        async downloadPdf (id, file_name) {
            await axios.get(`https://api.pricefinder.com.au/v1/properties/${id}/avm/pdf`, {
                responseType: 'blob',
                headers: {
                    Authorization: `Bearer ${this.apiKeyProp}`,
                    'Content-Type': 'application/pdf'
                }
            })
            .then(response => {
                this.showFirstStep = false
                this.showSecondStep = false
                this.showThirdStep = false
                this.showFourthStep = true

                const fileURL = window.URL.createObjectURL(new Blob([response.data]));
                const fileLink = document.createElement('a');

                fileLink.href = fileURL;
                fileLink.setAttribute('download', file_name + '.pdf');

                document.body.appendChild(fileLink);
                fileLink.click();

            })
            .catch(error => console.log('333: ' + error))
        },

        goToSecondStep (id, name) {
            this.showFirstStep = false
            this.showSecondStep = true
            this.showThirdStep = false
            this.showFourthStep = false

            this.chosenLocation = {
                id: id,
                name: name
            }
        },

        showSellForm () {
            this.showBuyFormQuestions1 = false
            this.showBuyFormQuestions2 = false
            this.showRefinanceFormQuestions1 = false
            this.showRefinanceFormQuestions2 = false
            this.showRefinanceFormQuestions3 = false
            this.showLastQuestionForEveryForm = false
            this.showSellFormQuestions1 = true

            document.getElementById('sell-step-1').click()
        },

        showSellForm2 () {
            this.showSellFormQuestions2 = true
        },

        showBuyForm () {
            this.showSellFormQuestions1 = false
            this.showSellFormQuestions2 = false
            this.showRefinanceFormQuestions1 = false
            this.showRefinanceFormQuestions2 = false
            this.showRefinanceFormQuestions3 = false
            this.showLastQuestionForEveryForm = false
            this.showBuyFormQuestions1 = true

            document.getElementById('buy-step-1').click()
        },

        showBuyForm2 () {
            this.showBuyFormQuestions2 = true
        },

        showRefinanceForm () {
            this.showSellFormQuestions1 = false
            this.showSellFormQuestions2 = false
            this.showBuyFormQuestions1 = false
            this.showBuyFormQuestions2 = false
            this.showLastQuestionForEveryForm = false
            this.showRefinanceFormQuestions1 = true

            document.getElementById('refinance-step-1').click()
        },

        showRefinanceForm2 () {
            this.showRefinanceFormQuestions2 = true
        },

        showRefinanceForm3 () {
            this.showRefinanceFormQuestions3 = true
        },

        showFormLastQuestion () {
            this.showLastQuestionForEveryForm = true
        },

        goBack () {
            location.reload();
        },

        scrollingTo (section) {
            document.getElementById(section).click()
        }
    }
}
</script>

<style scoped>
    .active {
        color: #91c7ff !important;
        background: transparent !important;
        border-bottom-color: #91c7ff !important;
    }
</style>
